<div class="comments-container">
	<h2>{{ 'Comment.title'|trans }} (<span class="comment-count">{{ object.getCommentCount() }}</span>)</h2>
	
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% include 'MVNerdsCommentBundle:Common:add_comment_block.html.twig' %}
	{% else %}
		<div class="anonymous-actions">
			<p class="note">{{ 'Comment.not_authenticated'|trans }}</p>
			<p class="buttons">
				<a href="{{ path('security_store_current_route_and_redirect_to_login') }}">{{ 'Comment.signin'|trans }}</a> 
				<a href="{{ path('launch_site_summoner_registration') }}" class="registration">{{ 'Comment.registration'|trans }}</a>
			</p>
		</div>
	{% endif %}
	
	{% include 'MVNerdsCommentBundle:Common:comments_list.html.twig' with {'comments': comments} %}
	
	
</div>

<script type="text/javascript" src="{{ asset('js/comment/comment.js') }}"></script>
