<li id="filters-block" class="dropdown action link" >	
	<a href="#" class="dropdown-toggle action-button-link btn" data-toggle="dropdown" id="item-drop-filter-list" role="button">
		<i class="icon-cogs icon-white"></i>
		<span class="action-label">{{'Actionsbar.Filter.title'|trans}}</span>
	</a>
	<ul id="item-filters-list" class="dropdown-menu" role="menu" aria-labelledby="item-drop-filters-list">
		<li class="list-header">{{'Actionsbar.Item.Filter.Dropdown.title'|trans}}</li>
		<div class="row-fluid row-filters">
			<div class="span6">
				<ul class="tags-group">
					<li class="nav-header">{{'items_filter_type.attack'|trans}}</li>
					{% for tag in tags['attack']%}
						<li>
							<a href="#" class="filter-link" data-option-value="{{tag.getSlug()}}"><i class=" icon-ok-sign"></i>{{tag.setLocale(locale).getLabel()}}</a>
						</li>
					{% endfor %}
					{#<li>
						<a href="#" class="filter-link" data-option-value="damage"><i class=" icon-ok-sign"></i>Damage</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="attack-speed"><i class=" icon-ok-sign"></i>Attack speed</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="life-steal"><i class=" icon-ok-sign"></i>Lifesteal</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="critical-strike"><i class=" icon-ok-sign"></i>Critical strike</a>
					</li>#}
				</ul>
				<ul class="tags-group">
					<li class="nav-header">{{'items_filter_type.defense'|trans}}</li>
					{% for tag in tags['defense']%}
						<li>
							<a href="#" class="filter-link" data-option-value="{{tag.getSlug()}}"><i class=" icon-ok-sign"></i>{{tag.setLocale(locale).getLabel()}}</a>
						</li>
					{% endfor %}
					{#<li>
						<a href="#" class="filter-link" data-option-value="health"><i class=" icon-ok-sign"></i>Health</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="armor"><i class=" icon-ok-sign"></i>Armor</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="health-regen"><i class=" icon-ok-sign"></i>Health regeneration</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="magic-resist"><i class=" icon-ok-sign"></i>Magic resist</a>
					</li>#}
				</ul>
					
			</div>
				
			<div class="span6">
				<ul class="tags-group">
					<li class="nav-header">{{'items_filter_type.magic'|trans}}</li>
					{% for tag in tags['magic']%}
						<li>
							<a href="#" class="filter-link" data-option-value="{{tag.getSlug()}}"><i class=" icon-ok-sign"></i>{{tag.setLocale(locale).getLabel()}}</a>
						</li>
					{% endfor %}
					{#<li>
						<a href="#" class="filter-link" data-option-value="spell-damage"><i class=" icon-ok-sign"></i>Ability power</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="mana"><i class=" icon-ok-sign"></i>Mana</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="mana-regen"><i class=" icon-ok-sign"></i>Mana regeneration</a>
					</li>
					<li data-option-value="bottom">
						<a href="#" class="filter-link" data-option-value="cooldown-reduction"><i class=" icon-ok-sign"></i>Cooldown reduction</a>
					</li>#}
				</ul>
				<ul class="tags-group">
					<li class="nav-header">{{'items_filter_type.other'|trans}}</li>
					{% for tag in tags['other']%}
						<li>
							<a href="#" class="filter-link" data-option-value="{{tag.getSlug()}}"><i class=" icon-ok-sign"></i>{{tag.setLocale(locale).getLabel()}}</a>
						</li>
					{% endfor %}
					{#<li>
						<a href="#" class="filter-link" data-option-value="movement"><i class=" icon-ok-sign"></i>Movement</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="consumable"><i class=" icon-ok-sign"></i>Consumable</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="basic"><i class=" icon-ok-sign"></i>Basic</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="advanced"><i class=" icon-ok-sign"></i>Advanced</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="legendary"><i class=" icon-ok-sign"></i>Legendary</a>
					</li>#}
				</ul>
			</div>
		</div>
		<div class="row-fluid div-action-buttons">
			<div class="span12">
				<li id="item-li-clean-filter" class="li-filter-action li-filter-action-left hide">
					<a id="btn-clean-filter" href="#"class="filter-action disabled">
						{{'Actionsbar.Filter.Dropdown.clean'|trans}}
						<i class="icon-trash"></i>
					</a>
				</li>
			</div>
		</div>
	</ul>
</li>