{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{'create_item_build.title'|trans}} - Pimp My Recommended Items | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/pmri/create-page.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/mvnerds/mvnerds-modal.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/jquery.mCustomScrollbar.css') }}">
	{% else %}
		{% stylesheets 
			'medias/css/pmri/create-page.css'
			'medias/css/mvnerds/mvnerds-modal.css'
			'medias/css/jquery.mCustomScrollbar.css'
			output='css/pmri-create.css'
			filter='yui_css'
			filter='cssembed'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.isotope.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/isotope-filter.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.mousewheel.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.mCustomScrollbar.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/item-handler/item-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/item-handler/item-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/pmri/create-page.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/bootstrap/bootstrap-modal.js'
			'medias/js/jquery.isotope.min.js'
			'medias/js/site/isotope-filter.js'
			'medias/js/site/alerts-ajax-handler.js'
			'medias/js/jquery.mousewheel.min.js'
			'medias/js/jquery.mCustomScrollbar.js'
			'medias/js/item-handler/item-modal.js'
			'medias/js/item-handler/item-popover.js'
			'medias/js/pmri/create-page.js'
			output='js/pmri-create.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'pmri' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('pmri_list') }}">Pimp My Recommended Items</a> > <a href="{{ path('pmri_create') }}">{{ 'Sidebar.pmri.create_list'|trans }}</a>
{% endblock %}

{% block main_content %}
	{% if edition_mode is defined and edition_mode %}
		<div class="edit-indication">{{ 'create_item_build.edition_indication'|trans }}</div>
	{% endif %}
	
	<div class="container main-container border-top">
		<h1>{{'create_item_build.h1' | trans}}</h1>
		
		<p>{{'create_item_build.p.1' | trans}}</p>
		
		{# PUBLICITÉ #}
		<div class="ad-container">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9866334543391692";
			/* MVNerds V1 */
			google_ad_slot = "3293122397";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		
		{# ########################## ETAPE 1 : CHOIX DES CHAMPIONS ########################## #}
		<div class="step">
			<h2>{{'create_item_build.h2.1' | trans}}</h2>
			<p>{{'create_item_build.p.2' | trans}}</p>
			<p class="note"><i class="icon-question-sign"></i> {{'create_item_build.tip.1' | trans}}</p>

			<div class="champion-container">
				<div id="champion-topbar" class="actionbar">
					{% include 'MVNerdsItemHandlerBundle:PMRI:pmri_create_champion_topbar.html.twig' %}
				</div>

				<div id="champion-list" class="elements-grid">
					{% include 'MVNerdsItemHandlerBundle:PMRI:pmri_create_champion_grid.html.twig' %}
				</div>
			</div>
		</div>
		
		{# ########################## ETAPE 2 : CHOISIR LA CARTE ########################## #}
		<div class="step">
			<h2>{{'create_item_build.h2.2' | trans}}</h2>
			<p>{{'create_item_build.p.3' | trans}}</p>
			<p class="note"><i class="icon-question-sign"></i> {{'create_item_build.tip.2' | trans}}</p>

			<div class="game-mode-container">
				<div class="game-mode classic {% if game_mode is defined %} {% if game_mode == 'classic' %}active{%endif %} {% else %}active{% endif %}" data-game-mode="classic"><span class="message">{{ 'classic'|trans }}</span></div>
				<div class="game-mode twisted-treeline {% if game_mode is defined and game_mode == 'twisted-treeline' %}active{%endif %}" data-game-mode="twisted-treeline"><span class="message">{{ 'twisted-treeline'|trans }}</span></div>
				<div class="game-mode dominion {% if game_mode is defined and game_mode == 'dominion' %}active{%endif %}" data-game-mode="dominion"><span class="message" >{{ 'dominion'|trans }}</span></div>
				<div class="game-mode proving-grounds {% if game_mode is defined and game_mode == 'aram' %}active{%endif %}" data-game-mode="aram"><span class="message" >{{ 'aram'|trans }}</span></div>
			</div>
		</div>
		
		{# ########################## ETAPE 3 : DÉFINIR LES BLOCS ET LES OBJETS ASSOCIÉS ########################## #}
		<div class="step">
			<h2>{{'create_item_build.h2.3' | trans}}</h2>
			<p>{{'create_item_build.p.4' | trans}}</p>
			<p class="note"><i class="icon-question-sign"></i> {{'create_item_build.tip.3' | trans}}</p>
			<p class="note"><i class="icon-info-sign"></i> {{'create_item_build.tip.4' | trans}}</p>

			<div class="item-container">			
				<div class="row-fluid">
					<div id="item-list" class="elements-grid span8">
						{% include 'MVNerdsItemHandlerBundle:PMRI:pmri_create_item_grid.html.twig' %}
					</div>
					<div id="item-sidebar-blocks" class="span4">
						{% include 'MVNerdsItemHandlerBundle:PMRI:pmri_create_item_sidebar.html.twig' %}
					</div>
				</div>
			</div>
		</div>
		
		{# ########################## ETAPE 4 : NOMMER LA LISTE ET LA DÉCRIRE ########################## #}
		<div class="step">
			<h2>{{'create_item_build.h2.4' | trans}}</h2>
			<p>{{'create_item_build.p.5' | trans}}</p>

			<div class="name-container">
				<form action="#" method="POST">
					<input type="text" class="" id="build-name" placeholder="{{'create_item_build.list_name.placeholder' | trans}}" value="{% if build_name is defined %}{{build_name}}{% endif %}"/>
					<br />
					<br />
					<p>{{'create_item_build.p.5.2' | trans}}</p>
					<textarea placeholder="Description..." id="build-description">{% if build_description is defined and build_description != '' %}{{ build_description }}{% endif %}</textarea>
				</form>
			</div>
		</div>
		
		{# ########################## ETAPE 4 : CHOIX DE RENDRE PRIVÉE OU NON LA LISTE ET DE L'ENREGISTRER OU NON ########################## #}
		<div class="step">
			<h2>{{'create_item_build.h2.5' | trans}}</h2>
			<p>{{'create_item_build.p.6' | trans}}</p>
			
			 
			<div id="private-container">
				<form action="#" method="POST">
					<i class="icon-lock icon white"></i>
					<input type="checkbox" id="build-private" {% if is_build_private is defined and is_build_private == 1%}checked="checked"{% endif %}/>
					<label for="build-private">{{'create_item_build.build_private.label'|trans}}</label>
				</form>
			</div>
			
			<p class="note"><i class="icon-info-sign"></i> {{'create_item_build.build_private.tooltip'|trans}}</p>
			<p class="note"><i class="icon-info-sign"></i> {{'create_item_build.tip.5' | trans}}</p>
			<p class="note"><i class="icon-info-sign"></i> {{'create_item_build.tip.6' | trans}}</p>

			<div class="generate-button-container">
				{% if item_build_slug is not defined %}
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						{% if can_save_build %}
							<a href="#" id="save-and-generate-build" class="main btn red large">{{'create_item_build.btn.save_and_generate' | trans}}</a>
						{% else %}
							{{'create_item_build.max_builds_reached' | trans}}
						{% endif %}
					{% else %}
						<a href="#" id="save-and-generate-build-not-authenticated" class="main btn red large">{{'create_item_build.btn.save_and_generate' | trans}}</a>
					{% endif %}

					<a href="#" id="only-generate-build" class="btn small no-color">{{'create_item_build.btn.generate_only' | trans}}</a>
				{% else %}
					<a href="#" id="save-build" class="main btn red large" data-slug="{{item_build_slug}}">{{'create_item_build.btn.save' | trans}}</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
	{% include 'MVNerdsItemHandlerBundle:Modal:item_modal.html.twig' %}
	{% include 'MVNerdsItemHandlerBundle:Modal:authenticate_modal.html.twig' %}
{% endblock %}
	