{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{ item_build.getName() }} - Pimp My Recommended Items | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/pmri/list-detail.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/jquery.mCustomScrollbar.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/mvnerds/mvnerds-modal.css') }}">
	{% else %}
		{% stylesheets 
			'medias/css/pmri/list-detail.css'
			'medias/css/jquery.mCustomScrollbar.css'
			'medias/css/mvnerds/mvnerds-modal.css'
			output='css/pmri-list-detail.css'
			filter='yui_css'
			filter='cssembed'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.mousewheel.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.mCustomScrollbar.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/item-handler/item-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/item-handler/item-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/item-handler/dl-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/pmri/detail-page.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-modal.js'
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/jquery.mousewheel.min.js'
			'medias/js/jquery.mCustomScrollbar.js'
			'medias/js/site/alerts-ajax-handler.js'
			'medias/js/item-handler/item-modal.js'
			'medias/js/item-handler/item-popover.js'
			'medias/js/item-handler/dl-modal.js'
			'medias/js/pmri/detail-page.js'
			output='js/pmri-list-detail.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'pmri' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('pmri_list') }}">Pimp My Recommended Items</a> > <a href="{{ path('pmri_list_detail', {'slug':item_build.getSlug()}) }}">{{ item_build.getName() }}</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<h1>Liste "{{ item_build.getName() }}"</h1>
				
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_468x60.html.twig' %}
				
				<div class="map-container">
					<h2>Carte et description</h2>
					<p>
						<div class="game-mode {{ item_build.getGameMode().getLabel() }}" data-game-mode="{{ item_build.getGameMode().getLabel() }}">
							<span class="message">{{ item_build.getGameMode().getLabel()|trans }}</span>
						</div>
						{% if item_build.getDescription() == '' %}
							<i>{{ item_build.getUser().getUsername() }} n'a pas fourni de description.</i>
						{% else %}
							{{ item_build.getDescription()|nl2br }}
						{% endif %}
					</p>
					<div class="clearfix"></div>
				</div>
				
				{% include 'MVNerdsItemHandlerBundle:PMRI:pmri_detail_champion_list.html.twig' %}
				
				{% include 'MVNerdsItemHandlerBundle:PMRI:pmri_detail_item_block_list.html.twig' %}
				
				{{ render(controller('MVNerdsCommentBundle:Comment:renderComments', {'object': item_build, 'objectType': 'item_build'})) }}
			</div>
			
			<div class="span4 right-content">
				{# Bouton de téléchargement #}
				<div class="block">
					<div class="footer red">
						<a href="#" class="download-action{% if start_dl is defined and start_dl %} start-dl{% endif %}" data-name="{{item_build.getName()}}" data-slug="{{item_build.getSlug()}}">{{'item_build_view_index.download.btn'|trans}}</a>
					</div>
				</div>
				
				{# Bouton de copie #}
				<div class="block">
					<div class="footer blue">
						<a href="#" class="copy-action" data-name="{{item_build.getName()}}" data-slug="{{item_build.getSlug()}}">{{'item_build_view_index.copy.btn'|trans}}</a>
					</div>
				</div>
					
				{% if can_edit %}
					{# Bouton d'édition #}
					<div class="block">
						<div class="footer blue">
							<a href="{{ path('pmri_edit', {itemBuildSlug: item_build.getSlug()}) }}">{{ 'item_table.admin.edit'|trans }}</a>
						</div>
					</div>
				{% endif %}
					
				<div class="block">
					<div class="header">
						<h3>À propos</h3>
					</div>
					<div class="body">
						<div class="block-media">
							<img src="{{ asset('medias/images/avatar/' ~ item_build.getUser().getUserAvatarName()~ '.jpg') }}" />
							{{ render(controller('MVNerdsVoteBundle:Vote:renderVoteBlock', {'object': item_build, 'objectType': 'item_build'})) }}
						</div>
						
						<div class="game-account-infos">
							{% set game_account = item_build.getUser().getProfile().getGameAccount() %}
							{% if game_account != null %}
								<div class="summoner-name">Nom d'invocateur : <strong>{{ game_account.getSummonerName() }}</strong></div>
								<div class="row-fluid">
									<div class="span4 league">
										{% if game_account.getRankedTeam3x3League() != null %}
											<img src="{{ asset('medias/images/league-medals/' ~ game_account.getRankedTeam3x3League() ~ '.png') }}" />
										{% else %}
											<img src="{{ asset('medias/images/league-medals/unranked.png') }}" />
										{% endif %}
										<div class="label">Équipe classée (3c3)</div>
									</div>

									<div class="span4 league">
										{% if game_account.getRankedSolo5x5League() != null %}
											<img src="{{ asset('medias/images/league-medals/' ~ game_account.getRankedSolo5x5League() ~ '.png') }}" />
										{% else %}
											<img src="{{ asset('medias/images/league-medals/unranked.png') }}" />
										{% endif %}
										<div class="label">File Solo/Duo</div>
									</div>

									<div class="span4 league">
										{% if game_account.getRankedTeam5x5League() != null %}
											<img src="{{ asset('medias/images/league-medals/' ~ game_account.getRankedTeam5x5League() ~ '.png') }}" />
										{% else %}
											<img src="{{ asset('medias/images/league-medals/unranked.png') }}" />
										{% endif %}
										<div class="label">Équipe classée (5c5)</div>
									</div>
								</div>
							{% else %}
								{% if app.user != null and app.user.getId() == item_build.getUser().getId() %}
									<i>Vous n'avez pas encore renseigné votre compte League of Legends. <a href="{{ path('summoner_profile_index') }}">Souhaitez-vous le faire maintenant ?</a></i>
								{% else %}
									<i>{{ item_build.getUser().getUsername() }} n'a pas encore renseigné son compte League of Legends.</i>
								{% endif %}
							{% endif %}
						</div>
						
						<div class="stats">
							<i class="icon-user"></i> 
							<strong><a href="{{ path('summoner_profile_view', {'userSlug': item_build.getUser().getSlug()}) }}" title="Consulter le profil de {{ item_build.getUser().getUsername }}" class="resize-required">{{item_build.getUser().getUserName()}}</a></strong><br /> auteur
						</div>
						
						<div class="stats odd">
							<i class="icon-time"></i> 
							<strong>{{ item_build.getUpdateTime('d/m/Y') }}</strong><br /> mise à jour
						</div>
							
						<div class="stats">
							{% set status = item_build.getStatus() %}
							<i class="{% if status == 'private' %}icon-lock{% else %}icon-unlock{% endif %}"></i> 
							<strong class="{% if status == 'private' %}red{% else %}green{% endif %}">{{ status }}</strong><br /> status
						</div>
						
						<div class="stats odd">
							<i class="icon-eye-open"></i> 
							<strong>{{ item_build.getView() }}</strong><br /> vues
						</div>
						
						<div class="stats">
							<i class="icon-download"></i> 
							<strong>{{ item_build.getDownload() }}</strong><br /> téléchargés
						</div>	
						
						<div class="stats odd">
							<i class="icon-comments-alt"></i> 
							<strong>{{ item_build.getCommentCount() }}</strong><br /> commentaires
						</div>
							
						
						<div class="clearfix"></div>
					</div>
					<div class="footer">
						<a href="#">Aller sur le profil de l'auteur</a>
					</div>
				</div>
					
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_300x250.html.twig' %}
			</div>
		</div>
	</div>
	
	{% include 'MVNerdsItemHandlerBundle:Modal:item_modal.html.twig' %}
	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
{% endblock %}
	