<div id="modal-video-publish-{{video.getSlug()}}" class="modal hide fade">
	<div class="modal-header">
		<i class="icon-remove" data-dismiss="modal"></i>
		<h3><i class="icon-play-circle"></i> {{video.getSlug() == null ? ('video_publish_modal.publish-video'| trans) : ('video_publish_modal.edit-video' | trans )}}</h3>
	</div>
	<div class="modal-body">
		
			<p>
				{{'video_publish_modal.instructions'| trans}}
			</p>
		
			<form class="video-publish-form" action="#">
				<label for="video-publish-title">{{'video_publish_modal.title'| trans}}*</label> <input type="text" class="video-publish-title" name="title" value="{{video.getTitle()}}"/><br /><br />
				
				<label for="video-publish-category">{{'video_publish_modal.category'| trans}}*</label> 
				<select class="video-publish-category">
					{% for video_category in video_categories %}
						<option value="{{video_category.getId()}}" {% if video.getVideoCategoryId() == video_category.getId() %}selected="selected"{% endif %}>{{video_category.getUniqueName() | trans}}</option>
					{% endfor %}
				</select><br /><br />
				
				<label for="video-publish-link">{{'video_publish_modal.video-link'| trans}}*</label> <input type="text" class="video-publish-link" name="title" value="{{video.getLink()}}" placeholder="Ex : youtube.com/watch?v=HYc0BcPPdyA"/> </i><br /><br />
				
				<label for="video-publish-description">{{'video_publish_modal.description'| trans}}</label> <textarea name="description" class="video-publish-description">{{video.getDescription()}}</textarea><br /><br />
				
				<input type="hidden" value="{{video.getSlug()}}" class="video-publish-slug"/>
			</form>
	</div>
	<div class="modal-footer">
		<i class="icon-spinner icon-spin hide modal-video-loading-img"></i>
		<a href="#" data-dismiss="modal" class="btn-cancel btn">{{'create_item_build.modal_dl_build.btn.cancel'|trans}}</a>
		<a href="#" class="modal-btn-publish btn-download btn red" data-target=""><i class="icon-upload-alt"></i> {{'video_publish_modal.publish'| trans}}</a>
	</div>
</div>