<div id="modal-video-publish" class="modal hide fade">
	<div class="modal-header">
		<i class="icon-remove" data-dismiss="modal"></i>
		<h3><i class="icon-play-circle"></i> Publier une vidéo</h3>
	</div>
	<div class="modal-body">
		
			<p>
				Veuillez remplir le formulaire suivant afin de publier votre vidéo.
			</p>
		
			<form id="video-publish-form" action="#">
				<label for="video-publish-title">Titre*</label> <input type="text" id="video-publish-title" name="title" value="{{video.getTitle()}}"/><br /><br />
				
				<label for="video-publish-category">Catégorie*</label> 
				<select id="video-publish-category">
					{% for video_category in video_categories %}
						<option value="{{video_category.getId()}}" {% if video.getVideoCategoryId() == video_category.getId() %}selected="selected"{% endif %}>{{video_category.getUniqueName()}}</option>
					{% endfor %}
				</select><br /><br />
				
				<label for="video-publish-link">Lien de la vidéo*</label> <input type="text" id="video-publish-link" name="title" value="{{video.getLink()}}" placeholder="Ex : youtube.com/watch?v=HYc0BcPPdyA"/> {#<i class="icon-question-sign">#}</i><br /><br />
				
				<label for="video-publish-description">Description</label> <textarea name="description" id="video-publish-description">{{video.getDescription()}}</textarea><br /><br />
				
				<input type="hidden" value="{{video.getSlug()}}" id="video-publish-slug"/>
			</form>
	</div>
	<div class="modal-footer">
		<i class="icon-spinner icon-spin hide" id="modal-video-loading-img"></i>
		<a href="#" data-dismiss="modal" class="btn-cancel btn">{{'create_item_build.modal_dl_build.btn.cancel'|trans}}</a>
		<a href="#" id="modal-btn-publish" data-target="" class="btn-download btn red"><i class="icon-upload-alt"></i> Publier</a>
	</div>
</div>