{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{ news.getTitle() }} - Most Valuable News | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/news/news-detail.css') }}">
{% endblock %}

{% block topbar %}
	{% set module = 'news' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('news_index') }}">Most Valuable News</a> > <a href="{{ path('news_detail', {'slug':news.getSlug()}) }}">{{ news.getTitle() }}</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<h1>{{ news.getTitle() }}</h1>
				
				<img src="{{ news.getImageName() }}" class="news-main-img" />
				
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_468x60.html.twig' %}
				
				<div class="related-news-container">
					<div class="related-news">
						<h5>{{ 'news_detail_page.read_more'|trans }}</h5>
						<ul>
							{% if related_news|length > 0 %}
								{% for one_related_news in related_news %}
									<li><a href="{{ path('news_detail', {'slug': one_related_news.getSlug()}) }}">{{ one_related_news.getTitle() }}</a></li>
								{% endfor %}
							{% else %}
									<i>{{ 'news_detail_page.no_news'|trans }}</i>
							{% endif %}
						</ul>
					</div>
				</div>
				
				<p class="preview">
					<strong>{{ news.getPreview() }}</strong>
				</p>
				
				<div class="clearfix"></div>
				
				<div class="news-content">
					{{ news.getContent()|raw }}
				</div>
				
				{{ render(controller('MVNerdsCommentBundle:Comment:renderComments', {'object': news, 'objectType': 'news'})) }}
			</div>
			
			<div class="span4 right-content">
				<div class="block">
					<div class="header">
						<h3>{{ 'generic_detail_page.about.title'|trans }}</h3>
					</div>
					<div class="body">
						<div class="block-media">
							<img src="{{ asset('medias/images/avatar/' ~ news.getUser().getUserAvatarName()~ '.jpg') }}" />
						</div>
						<div class="stats">
							<i class="icon-user"></i> 
							<strong><a href="{{ path('summoner_profile_view', {'slug': news.getUser().getSlug()}) }}" title="Consulter le profil de {{ news.getUser().getUsername }}" class="resize-required">{{news.getUser().getUserName()}}</a></strong><br /> {{ 'generic_detail_page.about.author'|trans }}
						</div>
						
						<div class="stats odd">
							<i class="icon-time"></i> 
							<strong>{{ news.getUpdateTime('d/m/Y') }}</strong><br /> {{ 'generic_detail_page.about.publish_date'|trans }}
						</div>
						
						<div class="stats">
							<i class="icon-folder-open-alt"></i> 
							<strong class="resize-required">{{ news.getNewsCategory().getUniqueName()|trans }}</strong><br /> {{ 'generic_detail_page.about.category'|trans }}
						</div>
							
						<div class="stats odd">
							<i class="icon-eye-open"></i> 
							<strong>{{ news.getView() }}</strong><br /> {{ 'generic_detail_page.about.views'|trans }}
						</div>
						
						<div class="stats">
							<i class="icon-comments-alt"></i> 
							<strong>{{ news.getCommentCount() }}</strong><br /> {{ 'generic_detail_page.about.comments'|trans }}
						</div>
							
						
						<div class="clearfix"></div>
					</div>
					<div class="footer">
						<a href="{{ path('summoner_profile_view', {'slug': news.getUser().getSlug()}) }}" title="Consulter le profil de {{ news.getUser().getUsername }}">
							{{ 'generic_detail_page.about.go_to_author_profile'|trans }}
						</a>
					</div>
				</div>
				
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_300x250.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
	