{% extends '::base.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/admin/users.js') }}"></script>
{% endblock %}

{% block body %}
	{% block topbar %}
		{% include 'MVNerdsAdminBundle::top_bar.html.twig' with {'section': ''} %}
	{% endblock %}
	
	<div id="wrapper">
		<div class="container main-container">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}