<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<a class="brand" href="{{ path('site_homepage') }}">Most Valuable Nerds</a>
    	<ul class="nav">
      		<li{% if section == 'users' %} class="active"{% endif %}><a href="{{ path('admin_users_index') }}">Utilisateurs</a></li>
      		<li{% if section == 'roles' %} class="active"{% endif %}><a href="{{ path('admin_roles_index') }}">Roles</a></li>
			<li{% if section == 'champions' %} class="active"{% endif %}><a href="{{ path('admin_champions_index') }}">Champions</a></li>
      		<li{% if section == 'tags' %} class="active"{% endif %}><a href="{{ path('admin_tags_index') }}">Tags</a></li>
      		<li{% if section == 'items' %} class="active"{% endif %}><a href="{{ path('admin_items_index') }}">Items</a></li>
      		<li{% if section == 'news' %} class="active"{% endif %}><a href="{{ path('admin_news_index') }}">News</a></li>
      		<li{% if section == 'champion_rotation' %} class="active"{% endif %}><a href="{{ path('admin_champ_rotation_index') }}">Champion Rotation</a></li>
    	</ul>
  	</div>
</div>