{% extends 'MVNerdsSkeletonBundle::base.html.twig' %}

{% block body %}
	<div class="container main-container">
		<div class="global-menu">
			<div class="fb-like" data-href="https://www.facebook.com/mvnerds" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
			
			<ul>
				{% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<li><a href="#">Mon compte ({{ app.user.getUsername() }})</a></li>
					<li><a href="{{ path('security_summoner_logout') }}">Me déconnecter</a></li>
				{% else %}
					<li><a href="{{ path('security_summoner_login') }}">Se connecter</a></li>
					<li><a href="#">S'enregistrer</a></li>
				{% endif %}
				<li><a href="#"><i class="icon-globe"></i>Français</a></li>
			</ul>
		</div>
			
		<div class="header">
			<div class="indication learn-more"><a href="#">comment ça marche ?<i class="icon-chevron-sign-right"></i></a></div>
			<div class="indication post-feed-indication">Toi aussi partage un contenu (vidéo, article, image, etc.) <i class="icon-chevron-sign-right"></i></div>
			
			<form action="#" method="post" id="search-by-tag-form">
				<img src="{{ asset('medias/images/skeleton/teemo-img.png') }}" class="teemo-img" />
				<a href="{{ path('site_homepage', {'_locale': locale}) }}" class="back-home-link"><img src="{{ asset('medias/images/site/mvnerds-logo.png') }}" /></a>
				
				<i class="icon-search"></i>
				<input type="text" class="search-by-tag-input" id="" placeholder="Rechercher par tag" />
				<button>Rechercher</button>
				<a href="#"><i class="icon-cogs"></i></a>
				
				<a href="{{ path('new_feed', {'_locale': locale}) }}" class="post-feed-btn">POSTER UN <strong>contenu</strong></a>
			</form>
		</div>
		
		<div class="breadcrumb-container">
			Vous êtes sur <a href="#">Accueil</a> > Résultat de recherche des tags <strong>Test</strong>, <strong>Test</strong> <i class="icon-caret-down"></i>
		</div>
		
		{% block main_content %}{% endblock %}
			
		<div class="support-us-container">
			<i class="icon-reply"></i>
			<a href="#" class="support-us-btn">Soutenir MVNerds</a>
			<a href="#" class="learn-more-btn">+</a>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
