<div id="modal-authenticate-build" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>{{'create_item_build.modal_authenticate.h3' | trans}}</h3>
	</div>
	<div class="modal-body">
		<p>
			{{'create_item_build.modal_authenticate.p1' | trans}}
		</p>
		{#<p>
			{{'create_item_build.modal_authenticate.p2' | trans}}
		</p>#}
		<p>
			{{'create_item_build.modal_authenticate.p3' | trans}}
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn red btn-cancel">{{'create_item_build.modal_authenticate.btn.cancel' | trans}}</a>
		<a href="{{path('security_store_current_route_and_redirect_to_login')}}" id="modal-btn-authentication" data-target="" class="btn green btn-download">{{'create_item_build.modal_authenticate.btn.sign_in' | trans}}</a>
		<a href="{{path('security_store_current_route_and_redirect_to_registration')}}" id="modal-btn-inscription" data-target="" class="btn green btn-download">{{'create_item_build.modal_authenticate.btn.inscription' | trans}}</a>
		<a href="{{path('security_summoner_login')}}" id="modal-btn-only-generate-build" data-target="" class="btn btn-download"><i class="icon-download-alt"></i>{{'create_item_build.modal_authenticate.btn.download_only' | trans}}</a>
	</div>
	</div>