{% set is_anonymous = true %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	{% set is_anonymous = false %}
{% endif %}

<form action="#" method="POST" class="leave-comment-form">
	<div class="row-fluid">
		<div class="span2">
			{% if is_anonymous %}
				<img src="{{ asset('medias/images/avatar/anonymous.jpg') }}" class="user-avatar" />
			{% else %}
				<img src="{{ asset('medias/images/avatar/' ~ app.user.getUserAvatarName() ~ '.jpg') }}" class="user-avatar" />
			{% endif %}
		</div>
		<div class="span10">
			{% if is_anonymous %}
				<div class="anonymous-user-comment-field">
					<a href="{{ path('security_store_current_route_and_redirect_to_login') }}">{{ 'Comments.log_in'|trans }}</a> {{ 'Comments.or'|trans }} <a href="{{ path('site_summoner_registration') }}">{{ 'Comments.register'|trans }}</a> {{ 'Comments.log_in_register_text'|trans }}
				</div>
			{% else %}
				<textarea placeholder="{{'Comments.write_comment'|trans}}" class="comment-msg"></textarea>
			{% endif %}
			<div class="comment-actions">
				<i class="icon-spinner icon-spin loader hide"></i> 
				<a href="#" class="btn small no-color hide btn-cancel-reply-mode">{{ 'Comments.cancel'|trans }}</a> 
				<a href="#" class="btn green small btn-send-comment disabled">{{'Comments.comment'|trans}}</a>
			</div>
		</div>
	</div>
</form>