<h2>{{ 'Comment.title'|trans }} (<span class="comment-count">{{ object.getCommentCount() }}</span>)</h2>

<div class="comments-container">
	{% include 'MVNerdsCommentBundle:Comment:comments_list.html.twig' with {'object': object, 'comments': comments} %}
	
	{% include 'MVNerdsCommentBundle:Comment:add_comment_block.html.twig' %}	
</div>

<script type="text/javascript">
	var objectSlug = '{{ object.getSlug() }}',
		objectType = '{{ object_type }}',
		userSlug = '';
		
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		userSlug = '{{ app.user.getSlug() }}';
	{% endif %}
</script>
<script type="text/javascript" src="{{ asset('medias/js/comment/comment.js') }}"></script>
