<h2>{{ 'Comment.title'|trans }} (<span class="comment-count">{{ object.getCommentCount() }}</span>)</h2>

<div class="comments-container">
	{% include 'MVNerdsCommentBundle:Comment:comments_list.html.twig' with {'object': object, 'comments': comments} %}
	
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% include 'MVNerdsCommentBundle:Comment:add_comment_block.html.twig' %}
	{% else %}
		<div class="anonymous-actions">
			<p class="note">{{ 'Comment.not_authenticated'|trans }}</p>
			<p class="buttons">
				<a href="{{ path('security_store_current_route_and_redirect_to_login') }}">{{ 'Comment.signin'|trans }}</a> 
				<a href="{{ path('launch_site_summoner_registration') }}" class="registration">{{ 'Comment.registration'|trans }}</a>
			</p>
		</div>
	{% endif %}
</div>

<script type="text/javascript">
	var objectSlug = '{{ object.getSlug() }}',
		objectType = '{{ object_type }}',
		userSlug = '';
		
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		userSlug = '{{ app.user.getSlug() }}';
	{% endif %}
</script>
<script type="text/javascript" src="{{ asset('medias/js/comment/comment.js') }}"></script>
