<div class="block">
	<div class="header">
		<h3><i class="icon-comments-alt"></i> </h3>
	</div>
	<div class="body">
		{% for comment in comments %}
			<div class="last-comment-row">
				<p><i class="icon-quote-left"></i> {{ comment.getContent()|nl2br }} <i class="icon-quote-right"></i></p>
				<div class="comment-infos">
					<div class="date">{% include ':Extension:custom_format_date.html.twig' with {'object': comment.getCreateTime()} %}</div>
					<div class="related-object-link">
						<a href="{{ path('profile_redirect_to_related_object', {'_locale': app.request.getLocale(), 'commentId': comment.getId() * 47}) }}">
							{{ 'profile_index.lastest_comments_block.view_label'|trans }} 
							{% if comment.getObjectNamespace() == 'MVNerds\\CoreBundle\\Model\\ItemBuild' %}
								{{ 'profile_index.lastest_comments_block.view_label.pmri'|trans }}
							{% elseif comment.getObjectNamespace() == 'MVNerds\\CoreBundle\\Model\\Video' %}
								{{ 'profile_index.lastest_comments_block.view_label.video'|trans }}
							{% elseif comment.getObjectNamespace() == 'MVNerds\\CoreBundle\\Model\\News' %}
								{{ 'profile_index.lastest_comments_block.view_label.news'|trans }}
							{% elseif comment.getObjectNamespace() == 'MVNerds\\CoreBundle\\Model\\Champion' %}
								{{ 'profile_index.lastest_comments_block.view_label.champion'|trans }}
							{% elseif comment.getObjectNamespace() == 'MVNerds\\CoreBundle\\Model\\User' %}
								{{ 'profile_index.lastest_comments_block.view_label.user'|trans }}
							{% endif %}
						</a>
					</div>
				</div>
			</div>
		{% else %}
			<p class="empty-list">{{ user.getUsername() }} {{ 'profile_index.lastest_comments_block.no_comment'|trans }}</p>
		{% endfor %}
	</div>
</div>