{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}Les membres de la communauté - MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link href="{{ asset('medias/css/profile/list-page.css') }}" rel="stylesheet" type="text/css">
	{% else %}
		{% stylesheets 
			'medias/css/profile/list-page.css'
			output='medias/css/compiled/profile-list.css'
			filter='yui_css'
			filter='cssembed'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.dataTables.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/profile/list-page.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/jquery.dataTables.min.js'
			'medias/js/profile/list-page.js'
			output='medias/js/compiled/profile-list.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'profile' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('profile_list') }}">Les membres de la communauté</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<h1>Les membres de la communauté</h1>
				
				<table id="users-table" class="table data-table">
					<thead>
						<tr>
							<th class="avatar">Avatar</th>
							<th class="username">Nom d'utilisateur</th>
							<th class="game-account">Compte de jeu</th>
						</tr>
					</thead>
					<tbody>
						{# Contenu chargé en AJAX par DataTable #}
					</tbody>
				</table>
			</div>
			
			<div class="span4 right-content">				
				<div class="block">
					<div class="header">
						<h3>Options de filtrage</h3>
					</div>
					<div class="body">
						<p>Trier par :</p>
						<ul id="sort-list">
							<li><a href="#" class="sort-link" data-option-value="0"><i class=" icon-ok-sign"></i>{{'user.sort.last_registered'|trans}}</a></li>
							<li><a href="#" class="sort-link selected" data-option-value="1"><i class=" icon-ok-sign"></i>{{'user.sort.first_registered'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="2"><i class=" icon-ok-sign"></i>{{'user.sort.username_asc'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="3"><i class=" icon-ok-sign"></i>{{'user.sort.username_desc'|trans}}</a></li>
						</ul>
						
						<p>Rechercher par :</p>
						<ul class="filters-list more-filter">
							<li id="filter-title">
								<label for="username-filter-input">{{'user.filter.username'|trans}}</label>
								<input type="text" id="username-filter-input" class="input-mini"/>
							</li>
							
							<li id="filter-game-account">
								<label for="game-account-filter-input">{{'user.filter.game_account'|trans}}</label>
								<input type="checkbox" id="game-account-filter-input"/>
							</li>
							
							<li id="filter-search">
								<a href="#" class="btn green" id="search-filter-btn">Rechercher <i class="icon-search icon-white"></i></a>
							</li>
						</ul>
					</div>
				</div>
					
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_300x250.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
	