{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% set admin_mode = false %}
{% if app.user != null and user.getId() == app.user.getId() %}
	{% set admin_mode = true %}
{% endif %}


{% block title %}
	{% if admin_mode == false %}
		{{ user.getUsername() }} {{'Profile_index.title'|trans}}
	{% else %}
		{{'Profile_index.title.admin_mode'|trans}} {{ user.getUsername() }} | MVNerds
	{% endif %}
{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/profile/profile.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/mvnerds/mvnerds-modal.css') }}">
	{% else %}
		{% stylesheets 
			'medias/css/profile/profile.css'
			'medias/css/mvnerds/mvnerds-modal.css'
			output='medias/css/compiled/profile.css'
			filter='yui_css'
			filter='cssembed'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.mousewheel.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/item-handler/dl-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/profile/profile.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/videos/publish-video.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-modal.js'
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/jquery.mousewheel.min.js'
			'medias/js/site/alerts-ajax-handler.js'
			'medias/js/item-handler/dl-modal.js'
			'medias/js/profile/profile.js'
			'medias/js/videos/publish-video.js'
			output='medias/js/compiled/profile.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'profile' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> 
	{% if admin_mode == false %}
		<a href="{{ path('summoner_profile_view', {'slug': user.getSlug()}) }}">{{ 'profile_index.breadcrum'|trans }} {{ user.getSlug() }}</a>
	{% else %}
		<a href="{{ path('summoner_profile_index') }}">{{ 'profile_index.breadcrum.admin'|trans }}</a>
	{% endif %}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				{% set current_avatar_name = user.getProfile().getAvatar().getName() %}
				
				{# PROFILE HEADER #}
				<div class="profile-header">
					<img src="{{ asset('medias/images/avatar/'~ current_avatar_name ~'.jpg') }}" class="user-current-avatar" />
					<h1>{{ user.getUsername() }}</h1>
					<div class="user-stat">
						<i class="icon-pencil"></i>
						<strong>{{ user.getCreatedAt('d/m/Y') }}</strong>
						<span>{{ 'profile_index.registration_date'|trans }}</span>
					</div>
					<div class="user-stat">
						<i class="icon-comments-alt"></i>
						<strong>{{ user_comment_count }}</strong>
						<span>{{ 'profile_index.comments_posted_count'|trans }}</span>
					</div>
					<div class="user-stat">
						<i class="icon-eye-open"></i>
						<strong>{{ render(controller('MVNerdsViewBundle:View:renderSimpleViewCount', {'object': user})) }}</strong>
						<span>Consultations</span>
					</div>
				</div>
				<div class="clearfix"></div>
				
				{# PROFILE BODY #}
				<div class="profile-body">
					{# COMPTE DE JEU LIÉ #}
					{% include 'MVNerdsProfileBundle:Profile:profile_index_game_account_block.html.twig' %}
					
					{# PIMP MY RECOMMENDED ITEMS #}
					{% include 'MVNerdsProfileBundle:Profile:profile_index_pmri_block.html.twig' %}
						
					{# LOL VIDEO CENTER #}
					{% include 'MVNerdsProfileBundle:Profile:profile_index_lol_video_block.html.twig' %}
				</div>
					
				{{ render(controller('MVNerdsCommentBundle:Comment:renderComments', {'object': user, 'objectType': 'user'})) }}
				
				{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
			</div>
			
			<div class="span4 right-content">
				{% if admin_mode %}
					<div class="block">
						<div class="footer blue">
							<a href="#" class="change-avatar-btn">{{'Profile_index.avatar.h2'|trans}}</a>
						</div>
					</div>
					
					{% include 'MVNerdsProfileBundle:Modal:change_avatar_modal.html.twig' %}
					
					<div class="block">
						<div class="footer blue">
							<a href="#" class="btn-change-password">
								<i class="icon-spinner icon-spin loader hide"></i> 
								<span class="msg initial">{{ 'profile_index.change_password'|trans }}</span>
								<span class="msg wip hide">{{ 'profile_index.change_password.wip'|trans }}</span>
								<span class="msg success hide">[{{ 'profile_index.change_password.success'|trans }}</span>
							</a>
						</div>
					</div>
				{% endif %}
				
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_300x250.html.twig' %}
					
				{{ render(controller('MVNerdsProfileBundle:Profile:renderLastestCommentsBlock', {'user': user})) }}
			</div>
		</div>
	</div>
	
	{% if open_link_GA_modal is defined and open_link_GA_modal %}
		<script type="text/javascript">
			$(document).ready(function() {
				$('div#link-lol-account-modal').modal('show');
			});
		</script>
	{% endif %}
{% endblock %}
