{% set game_account = user.getProfile().getGameAccount() %}
{% if game_account == null or (game_account != null and not game_account.isActive()) %}
	<i>{{ 'profile_list.no_info'|trans }}</i>
{% else %}
	<div class="summoner-name">{{ 'profile_list.summoner_name_label'|trans }} <strong>{{ game_account.getSummonerName() }}</strong></div>
	<div class="row-fluid">
		<div class="span4 league">
			{% if game_account.getRankedTeam3x3League() != null %}
				<img src="{{ asset('medias/images/league-medals/' ~ (game_account.getRankedTeam3x3League()| lower ) ~ '.png') }}" />
			{% else %}
				<img src="{{ asset('medias/images/league-medals/unranked.png') }}" />
			{% endif %}
			<div class="label">{{ 'profile_index.game_account.team3x3_queue_label'|trans }}</div>
		</div>

		<div class="span4 league">
			{% if game_account.getRankedSolo5x5League() != null %}
				<img src="{{ asset('medias/images/league-medals/' ~ (game_account.getRankedSolo5x5League()| lower ) ~ '.png') }}" />
			{% else %}
				<img src="{{ asset('medias/images/league-medals/unranked.png') }}" />
			{% endif %}
			<div class="label">{{ 'profile_index.game_account.solo_queue_label'|trans }}</div>
		</div>

		<div class="span4 league">
			{% if game_account.getRankedTeam5x5League() != null %}
				<img src="{{ asset('medias/images/league-medals/' ~ (game_account.getRankedTeam5x5League()| lower ) ~ '.png') }}" />
			{% else %}
				<img src="{{ asset('medias/images/league-medals/unranked.png') }}" />
			{% endif %}
			<div class="label">{{ 'profile_index.game_account.team5x5_queue_label'|trans }}</div>
		</div>
	</div>
{% endif %}