{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% set admin_mode = false %}
{% if app.user != null %}
	{% if user.getId() == app.user.getId() %}
		{% set admin_mode = true %}
	{% endif %}
{% endif %}

{% block title %}
	{% if admin_mode == false %}
		{{ user.getUsername() }} {{'Profile_index.title'|trans}}
	{% else %}
		{{'Profile_index.title.admin_mode'|trans}} {{ user.getUsername() }} | MVNerds
	{% endif %}
{% endblock %}
		
{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/profile/profile.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/item_builder/listing-page.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/item_builder/modal.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/champion_handler/champion-square25-sprite.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-popover.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/profile/profile.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/item_handler/item_builder/dl-modal.js') }}"></script>
{% endblock %}

{% block body_main_content %}
	<div class="body-container summoner-profile">
		{% set current_avatar_name = user.getProfile().getAvatar().getName() %}
		{% if admin_mode %}
			<h1>{{'Profile_index.h1'|trans}} {{ user.getUsername() }}</h1>
			<p>
				{{'Profile_index.p1'|trans({'%date%':user.getCreatedAt()|date('d/m/Y')})}}
				{% for role in user.getRoles() %}
					<strong>{{ (role)|trans|lower }}</strong>{% if loop.index + 1 == loop.length %} {{'General.and'|trans}} {% else %}{% if loop.index == loop.length %}.{% else %},{% endif %}{% endif %}
				{% endfor %}
			</p>
			
			<p class="change-password">
				Vous souhaitez changer votre mot de passe ? <a href="#" class="btn-change-password">Démarrer la procédure</a> 
				<img src="{{ asset('images/commons/loader16-bg-141414.gif') }}" class="loader hide" />
				<span class="process-ok hide">Nous avons bien pris en compte votre demande, vous allez recevoir un email vous détaillant la démarche à suivre.</span>
			</p>
			
			<h2>{{'Profile_index.avatar.h2'|trans}}</h2>
			<div class="user-custom-avatar-container">
				<div class="row-fluid">
					<div class="span3 current-avatar">
						<strong>{{'Profile_index.avatar.current_avatar'|trans}}</strong>
						<img src="{{ asset('images/avatar/'~ current_avatar_name ~'.jpg') }}" class="avatar" />
						<a href="#" class="btn-save-avatar disabled" data-current-avatar-name="{{ current_avatar_name }}">{{'Profile_index.avatar.save_new_avatar'|trans}}</a> <img src="{{ asset('images/commons/loader16-bg-141414.gif') }}" class="loader hide" />
					</div>
					<div class="span9 avatar-selection">
						{% for avatar in avatars %}
							<img src="{{ asset('images/avatar/'~ avatar.getName() ~'.jpg') }}" class="avatar-choice {% if avatar.getName() == current_avatar_name %} selected{% endif %}" data-avatar-name="{{ avatar.getName() }}" />
						{% endfor %}
					</div>
				</div>
			</div>
		{% else %}
			<img src="{{ asset('images/avatar/'~ current_avatar_name ~'.jpg') }}" class="avatar" />
			<h1>{{ user.getUsername() }}</h1>
			<p class="gray-color">{{ user.getUsername() }} {{'Profile_index.avatar.admin_mode.registered_since'|trans({'%date%':user.getCreatedAt()|date('d/m/Y')})}}
				<ul class="gray-color">
					{% for role in user.getRoles() %}
						<li>{{ (role)|trans }}</li>
					{% endfor %}
				</ul>
			</p>
			<div class="clearfix"></div>
		{% endif %}
		
		{% if admin_mode %}
			<h2>{{'Profile_index.avatar.admin_mode.preferences.h2'|trans}}</h2>
			<div class="user-custom-parameters-container">
				<div class="module-block">
					<h4>PIMP MY RECOMMENDED ITEMS</h4>

					<form action="#" method="POST">
						<div>
							{{ form_label(form.lolDirectory) }}
							{{ form_widget(form.lolDirectory) }}
							<a href="#" class="reset-field"><i class="icon-remove-circle"></i></a>
							<a href="#" class="save-field disabled" data-preference="LEAGUE_OF_LEGENDS_DIRECTORY"><i class="icon-ok-circle"></i></a>
							<img src="{{ asset('images/commons/loader16-bg-141414.gif') }}" class="loader hide" />
						</div>

						{{ form_rest(form) }}
					</form>
				</div>
			</div>
		{% endif %}
		
		<h2>{{'ItemBuilder.pmri.h2'|trans}}</h2>
		{% if user_items_builds|length > 0 %}
			{% if admin_mode == false %}
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_table.html.twig' with {'item_builds': user_items_builds}  %}
			{% else %}
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_table.html.twig' with {'item_builds': user_items_builds, 'admin_mode': true}  %}
			{% endif %}
		{% else %}
			<p class="empty-list">{{ user.getUsername() }} {{'ItemBuilder.pmri.p1'|trans}}</p>
		{% endif %}
		
		{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
	</div>
{% endblock %}
