{% extends 'MVNerdsAdminBundle:Item:layout.html.twig' %}

{% block title %}Administration des items - MVNerds{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/admin/item_save_form.js') }}"></script>
{% endblock %}

{% block content %}
	<h1>Editer un item</h1>

	<div class="action-buttons">
		<a href="{{ path('admin_items_index') }}" class="btn"><i class="icon-arrow-left"></i> <strong>Retourner à la liste</strong></a>
		<a href="#" class="btn btn-success btn-large pull-right btn-submit-form"><i class="icon-ok icon-white"></i> <strong>J'ai terminé</strong></a>
		<a href="{{ path('admin_items_index') }}" class="btn pull-right btn-danger"><strong>Annuler</strong></a>
	</div>

	<div class="content-container">
		<form action="{{ path('admin_items_edit', {'slug': item.getSlug()}) }}" method="POST" {{ form_enctype(form) }}>
			<label>Idenfiant</label> {{ item.getId() }}
			
			{% include 'MVNerdsAdminBundle:Item:inner_form_save_item.html.twig' %}
		</form>
	</div>
{% endblock %}