{% extends 'MVNerdsAdminBundle:Item:layout.html.twig' %}

{% block title %}Administration des items - MVNerds{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-alert.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-modal.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-tooltip.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-popover.js') }}"></script>
	
{% endblock %}

	
{% block content %}	
	<h1>Les items</h1>

	<div class="action-buttons right">
		<a href="#" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> <strong>Ajouter un item</strong></a>
	</div>

	{% autoescape false %}
		{{ render_success_flash() }}
	{% endautoescape %}
	{% autoescape false %}
		{{ render_error_flash() }}
	{% endautoescape %}

	<div class="content-container">
		{% include 'MVNerdsAdminBundle:Item:item_list.html.twig' %}
	</div>
{% endblock %}