<div class="row-fluid normal-line item" id="{{ item.getSlug() }}">
	<div class="span2">
		<img class="item-image" style="height: 30px" src="{{ asset('images/items/' ~ item.getRiotCode() ~ '.png') }}" alt="image de l'item {{ item.getName() }}" title = "{{ item.getName() }}"/>
	</div>
	<div class="span6">
		{{ item.getName() }}
	</div>
	<div class="span2">
		{{ item.getRiotCode() }}
	</div>
		
	<div class="span2">
		{# Editer l item #}
		<a  draggable="false" href="{{ path('admin_items_edit', {'slug': item.getSlug()}) }}" class="tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="Éditer">
			<i class="icon-edit"></i>
		</a>
		{# Supprimer l item #}
		<a  draggable="false" href="#" class="tooltip-anchor bootstrap-modal" rel="tooltip" data-placement="top" data-original-title="Supprimer le champion" data-toggle="modal" data-name="{{item.getName()}}" data-slug="{{item.getSlug()}}" data-href="/fr/administration/items/__SLUG__/supprimer">
			<i class="icon-remove"></i>
		</a>
	</div>
</div>