<li class="champion {{champion.getTagsToString()}} {% if selectedChampions is defined and champion.getSlug() in selectedChampions %} active{% endif %}" id="{{ champion.getSlug() }}" data-name="{{ champion.getName() | lower }}" data-placement="top" data-title="{{ champion.getName()}}">
	<div class="portrait">
		<div class="champion-square36 {{ champion.getSlug() }}"></div>
	</div>
</li>
