{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	{% if app.environment != 'dev' %}
		{% stylesheets 
			'css/champion_handler/champion-square36-sprite.css'
			'css/item_builder/creation-page.css'
			'css/item_builder/modal.css'
			'css/jquery.mCustomScrollbar.css'
			output='css/compiled/pmri-create.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% else %}
		<link rel="stylesheet" href="{{ asset('css/champion_handler/champion-square36-sprite.css') }}">
		<link href="{{ asset('css/item_builder/creation-page.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/item_builder/modal.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css">
	{% endif %}
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	{% if app.environment != 'dev' %}
		{% javascripts
			'js/item_handler/item-popover.js'
			'js/bootstrap/bootstrap-popover.js'
			'js/jquery.isotope.min.js'
			'js/launch_site/alerts-ajax-handler.js'
			'js/launch_site/isotope-filter.js'
			'js/item_handler/item_builder/creation-page.js'
			'js/jquery.mCustomScrollbar.js'
			'js/jquery.mousewheel.min.js'
			output='js/compiled/pmri-create.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% else %}
		<script src="{{ asset('js/item_handler/item-popover.js') }}"></script>
		<script src="{{ asset('js/bootstrap/bootstrap-popover.js') }}"></script>
		<script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
		<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
		<script src="{{ asset('js/launch_site/isotope-filter.js') }}"></script>
		<script src="{{ asset('js/item_handler/item_builder/creation-page.js') }}"></script>
		<script src="{{ asset('js/jquery.mCustomScrollbar.js') }}"></script>
		<script src="{{ asset('js/jquery.mousewheel.min.js') }}"></script>
	{% endif %}
{% endblock %}

{% block title %}
	{{'create_item_build.title'|trans}}
{% endblock %}
	
{% block body_main_content %}
	<div class="body-container create-item-builder">
		<h1>{{'create_item_build.h1' | trans}}</h1>
		<p class="module-name">Module <strong>Pimp My Recommended Items</strong></p>
		<p>{{'create_item_build.p.1' | trans}}</p>
		<p></p>
		
		<h2>{{'create_item_build.h2.1' | trans}}</h2>
		<p>{{'create_item_build.p.2' | trans}}</p>
		<p class="tip">{{'create_item_build.tip.1' | trans}}</p>
		
		<div class="champion-container">
			<div id="champion-topbar" class="actionbar">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:champion_topbar_minified.html.twig' %}
			</div>
				
			<div id="champion-list" class="elements-grid">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:champion_grid_minified.html.twig' %}
			</div>
		</div>
		
		<h2>{{'create_item_build.h2.2' | trans}}</h2>
		<p>{{'create_item_build.p.3' | trans}}</p>
		<p class="note">{{'create_item_build.tip.2' | trans}}</p>
		
		<div class="game-mode-container">
			<div class="game-mode classic {% if gameMode is defined %} {% if gameMode == 'classic' %}active{%endif %} {% else %}active{% endif %}" data-game-mode="classic"><span class="message">Summoner Rift</span></div>
			<div class="game-mode twisted-treeline {% if gameMode is defined and gameMode == 'twisted-treeline' %}active{%endif %}" data-game-mode="twisted-treeline"><span class="message">Twisted Treeline</span></div>
			<div class="game-mode dominion {% if gameMode is defined and gameMode == 'dominion' %}active{%endif %}" data-game-mode="dominion"><span class="message" >Dominion</span></div>
			<div class="game-mode proving-grounds {% if gameMode is defined and gameMode == 'aram' %}active{%endif %}" data-game-mode="aram"><span class="message" >All Random All Mid (ARAM)</span></div>
		</div>
		
		<h2>{{'create_item_build.h2.3' | trans}}</h2>
		<p>{{'create_item_build.p.4' | trans}}</p>
		<p note="tip">{{'create_item_build.tip.3' | trans}}</p>
		<p class="note">{{'create_item_build.tip.4' | trans}}</p>
		
		<div class="item-container">
			{#<div id="item-topbar" class="actionbar">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_topbar.html.twig' %}
			</div>#}
			
			<div class="row-fluid">
				<div id="item-list" class="elements-grid span9">
					{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_grid.html.twig' %}
				</div>
				<div id="item-sidebar-blocks" class="span3">
					{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_sidebar_blocks.html.twig' %}
				</div>
			</div>
		</div>
		
		<h2>{{'create_item_build.h2.4' | trans}}</h2>
		<p>{{'create_item_build.p.5' | trans}}</p>
		
		<div class="name-container">
			<form action="#" method="POST">
				<input type="text" class="" id="build-name" placeholder="{{'create_item_build.list_name.placeholder' | trans}}" value="{% if buildName is defined %}{{buildName}}{% endif %}"/>
			</form>
		</div>
		
		<h2>{{'create_item_build.h2.5' | trans}}</h2>
		<p>{{'create_item_build.p.6' | trans}}</p>
		<p class="note">{{'create_item_build.tip.5' | trans}}</p>
		
		<div class="generate-button-container">
			{% if itemBuildSlug is not defined %}
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					{% if can_save_build%}
						<a href="#" id="save-and-generate-build" class="main">{{'create_item_build.btn.save_and_generate' | trans}}</a>
					{% else %}
						{{'create_item_build.max_builds_reached' | trans}}
					{% endif %}
				{% else %}
					<a href="#" id="save-and-generate-build-not-authenticated" class="main">{{'create_item_build.btn.save_and_generate' | trans}}</a>
				{% endif %}
				
				<a href="#" id="only-generate-build">{{'create_item_build.btn.generate_only' | trans}}</a>
			{% else %}
				<a href="#" id="save-build" class="main" data-slug="{{itemBuildSlug}}">{{'create_item_build.btn.save' | trans}}</a>
			{% endif %}
		</div>
	</div>
	
	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
	
	<div id="modal-authenticate-build" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>{{'create_item_build.modal_authenticate.h3' | trans}}</h3>
		</div>
		<div class="modal-body" style="min-height:235px;">
			<p>
				{{'create_item_build.modal_authenticate.p1' | trans}}
			</p>
			{#<p>
				{{'create_item_build.modal_authenticate.p2' | trans}}
			</p>#}
			<p>
				{{'create_item_build.modal_authenticate.p3' | trans}}
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn-cancel">{{'create_item_build.modal_authenticate.btn.cancel' | trans}}</a>
			<a href="{{path('security_store_current_route_and_redirect_to_login')}}" id="modal-btn-authentication" data-target="" class="btn-download">{{'create_item_build.modal_authenticate.btn.sign_in' | trans}}</a>
			<a href="{{path('security_store_current_route_and_redirect_to_registration')}}" id="modal-btn-inscription" data-target="" class="btn-download">{{'create_item_build.modal_authenticate.btn.inscription' | trans}}</a>
			<a href="{{path('security_summoner_login')}}" id="modal-btn-only-generate-build" data-target="" class="btn-download"><i class="icon-download-alt"></i>{{'create_item_build.modal_authenticate.btn.download_only' | trans}}</a>
		</div>
	</div>
{% endblock %}