{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('/css/champion_handler/champion-square36-sprite.css') }}">
	<link href="{{ asset('css/item_builder/creation-page.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/item_builder/modal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
	<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
	<script src="{{ asset('js/launch_site/isotope-filter.js') }}"></script>
	<script src="{{ asset('js/item_handler/item_builder/creation-page.js') }}"></script>
{% endblock %}

{% block body_main_content %}
	<div class="body-container create-item-builder">
		<h1> Personnaliser la liste d'objets conseillés</h1>
		<p class="module-name">Module <strong>Pimp My Recommended Items</strong></p>
		<p>Bienvenue sur la page de création d'une nouvelle liste d'objets recommandés pour vos champions favoris. Pour être plus précis, nous allons voir comment de manière
		simple et intuitive on modifier la liste des objets conseillés, celle qui apparaît lorsque vous êtes en jeu et que vous ouvrez la boutique.</p>
		<p></p>
		
		<h2>Etape 1 : choisissez un ou plusieurs champions</h2>
		<p>Sélectionnez ici le champion dont vous souhaitez éditer sa liste d'objets conseillés.</p>
		<p class="tip">Astuce : un des avantages à utiliser notre outil est qu'il vous permet de changer en une seule fois les objets recommandés de plusieurs champions, 
		pratique non ?</p>
		
		<div class="champion-container">
			<div id="champion-topbar" class="actionbar">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:champion_topbar_minified.html.twig' %}
			</div>
				
			<div id="champion-list" class="elements-grid">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:champion_grid_minified.html.twig' %}
			</div>
		</div>
		
		<h2>Etape 2 : choisissez le mode de jeu</h2>
		<p>Dans League of Legends, pour chaque champion sa liste d'objets conseillés diffèrent selon le mode de jeu. Vous n'aurez donc pas forcément la même liste 
		si vous faites une partie sur la carte "Brèche de cristal" (Dominion) ou une partie sur la carte "Faille de l'invocateur" (5 contre 5 - classique).</p>
		<p class="note">Note : les objets recommandés d'un champion sont identiques pour le mode 5 contre 5 (Faille de l'invocation) et 3 contre 3 (Forêt torturée).</p>
		
		<div class="game-mode-container">
			<div class="game-mode classic {% if gameMode is defined %} {% if gameMode == 'classic' %}active{%endif %} {% else %}active{% endif %}" data-game-mode="classic"><span class="message">Classique</span></div>
			<div class="game-mode twisted-treeline {% if gameMode is defined and gameMode == 'twisted-treeline' %}active{%endif %}" data-game-mode="twisted-treeline"><span class="message">Twisted Treeline</span></div>
			<div class="game-mode dominion {% if gameMode is defined and gameMode == 'dominion' %}active{%endif %}" data-game-mode="dominion"><span class="message" >Dominion</span></div>
			<div class="game-mode proving-grounds {% if gameMode is defined and gameMode == 'aram' %}active{%endif %}" data-game-mode="aram"><span class="message" >All Random All Mid (ARAM)</span></div>
		</div>
		
		<h2>Etape 3 : choisissez vos objets</h2>
		<p>Vous devez sélectionner un à six objets dont vous souhaitez voir apparaître dans la boutique en jeu pour le ou les champions dans le(s) mode(s) de jeu
		que vous avez sélectionné ci-dessus.</p>
		<p note="tip">Astuce : les consommables ne disparaissent pas de la liste des objets conseillés même après que vous les ayez acheté.</p>
		<p class="note">Note : Certains objets ne sont pas disponibles dans tous les modes comme par exemple la "Lantern de Wriggles". Ne soyez donc pas surpris si jamais vous
		ne retrouvez pas certains objets.</p>
		
		<div class="item-container">
			<div id="item-topbar" class="actionbar">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_topbar.html.twig' %}
			</div>
				
			<div id="item-list" class="elements-grid">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_grid.html.twig' %}
			</div>
		</div>
		
		<h2>Etape 4 : nommez votre liste</h2>
		<p>C'est presque terminé. Vous devez maintenant nommer votre liste d'objet conseillés. Vous pourrez ensuite si vous le souhaitez, la consulter de nouveau,
		la récupérer, l'éditer ou encore la partagée avec le reste de la communauté MVNerds.</p>
		
		<div class="name-container">
			<form action="#" method="POST">
				<input type="text" class="" id="build-name" placeholder="Nom de la liste..." value="{% if buildName is defined %}{{buildName}}{% endif %}"/>
			</form>
		</div>
		
		<h2>Dernière étape</h2>
		<p>Félicitation, vous avez confectionné votre nouvelle liste d'objet conseillé pour les champions <CHAMPION NAME LIST HERE> pour le mode de jeu <GAME MODE HERE>.
		Vous n'avez plus qu'à cliquer sur le bouton "Sauvegarder et générer" ou "Générer seulement".</p>
		<p class="note">Note : la sauvegarde d'une liste d'objets conseillés vous permet de la retrouver ultérieurement depuis votre profil. Si vous souhaitez seulement
		générer la liste, celle-ci ne sera pas récupérable mais sera toutefois mémoriser par notre système.</p>
		
		<div class="generate-button-container">
			{% if itemBuildSlug is not defined %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a href="#" id="save-and-generate-build" class="main">Sauvegarder & générer</a>
				{% else %}
					<a href="#" id="save-and-generate-build-not-authenticated" class="main">Sauvegarder & générer</a>
				{% endif %}
				
				<a href="#" id="only-generate-build">Générer seulement</a>
			{% else %}
				<a href="#" id="save-build" class="main" data-slug="{{itemBuildSlug}}">Enregistrer</a>
			{% endif %}
		</div>
	</div>
	
	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
	
	<div id="modal-authenticate-build" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Enregistrement du build</h3>
		</div>
		<div class="modal-body" style="min-height:235px;">
			<p>
				Afin de pouvoir profiter de la fonction d'enregistrement de vos builds, vous devez être authentifié.
			</p>
			<p>
				Si vous n'avez pas encore de compte vous pouvez vous inscrire dès maintenant.
			</p>
			<p>
				Si vous ne désirez pas vous inscrire pour le moment vous pouvez tout de même télécharger votre build, cependant, 
				celui-ci ne sera pas enregistré, vous ne pourrez ni le modifier, ni le re-télécharger, ni le supprimer.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn-cancel">Annuler</a>
			<a href="#" id="modal-btn-authentication" data-target="" class="btn-download">Connexion</a>
			<a href="{{path('launch_site_summoner_registration')}}" id="modal-btn-inscription" data-target="" class="btn-download">Inscription</a>
			<a href="{{path('security_summoner_login')}}" id="modal-btn-only-generate-build" data-target="" class="btn-download"><i class="icon-download-alt"></i> Télécharger uniquement</a>
		</div>
	</div>
{% endblock %}