<div class="list-item-builder">
	<table id="item-builds-table" class="table">
		<thead>
			<tr>
				<th class="champions">{{'item_table.th.champion'|trans}}</th>
				<th class="name">{{'item_table.th.name'|trans}}</th>
				<th class="game-mode">{{'item_table.th.game_mode'|trans}}</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
			{% for itemBuild in item_builds %}
				{% set user = itemBuild.getUser() %}
				
				<tr class="item-build-row" data-target="{{itemBuild.getSlug()}}">
					<td>
						{% if itemBuild.getChampionItemBuilds()|length <= 1 %}
							<div class="champion-square25 {{ itemBuild.getChampionItemBuilds().getFirst().getChampion().getSlug() }}" >&nbsp;</div>
						{% else %}
							<img src="{{asset('images/avatar/anonymous.jpg')}}" alt="image_question" class="bootstrap-popover" data-placement="right" data-trigger="hover" data-title="{{itemBuild.getName()}}" data-content="<div class='center-content'>{%for championItemBuild in itemBuild.getChampionItemBuilds() %}<div class='champion-square25 {{championItemBuild.getChampion().getSlug()}}' ></div>{% endfor %}</div>"/>
						{% endif %}
					</td>
					
					<td class="name">
						<a href="{{path('item_builder_view', {itemBuildSlug: itemBuild.getSlug()})}}">{{itemBuild.getName()}}</a><br />
						<span class="created-by">{{'item_table.td.created_by'|trans}} <a href="{{ path('summoner_profile_view', {'userSlug': user.getSlug()}) }}" title="{{'item_table.td.consult_profile_of'|trans}} {{ user.getUsername }}">{{user.getUsername()}}</a> {{'item_table.td.created_the'|trans}} {{itemBuild.getCreateTime('d/m/Y')}} <i class="icon-comments icon-white" title="comments"></i>{{itemBuild.getCommentCount()}} <i class="icon-download-alt icon-white" title="downloads"></i>{{itemBuild.getDownload()}} <i class="icon-eye-open icon-white" title="views"></i>{{itemBuild.getView()}}</span>
					</td>
						
					<td class="game-mode">{{itemBuild.getChampionItemBuilds().getFirst().getGameMode().getLabel() | trans}}</td>
					
					<td>
						{% if admin_mode is defined and admin_mode %}
							<div class="admin-actions">
								<a class="action view-action tooltip-anchor" href="{{path('item_builder_view', {itemBuildSlug: itemBuild.getSlug()})}}" rel="tooltip" data-placement="top" data-original-title="{{ 'item_table.admin.view'|trans }}"><i class="icon-share"></i></a>
								<a class="action download-action tooltip-anchor" data-name="{{itemBuild.getName()}}" data-slug="{{itemBuild.getSlug()}}" rel="tooltip" data-placement="top" data-original-title="{{ 'item_table.admin.download'|trans }}"><i class="icon-download-alt"></i></a>
								<a href="{{ path('item_builder_edit_build', {'itemBuildSlug': itemBuild.getSlug()}) }}" class="action edit-action tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="{{ 'item_table.admin.edit'|trans }}"><i class="icon-edit"></i></a>
								<a href="#delete-build-{{ itemBuild.getSlug() }}-modal" class="action delete-action tooltip-anchor" data-toggle="modal" rel="tooltip" data-placement="top" data-original-title="{{ 'item_table.admin.delete'|trans }}"><i class="icon-remove-sign"></i></a>
								{#<span class="dl-count-block" data-id="dl-count-{{itemBuild.getSlug()}}"><strong>{{'item_table.td.downloaded'|trans}}</strong> <span class="dl-count">{{itemBuild.getDownload()}}</span> {{'item_table.td.times'|trans}}</span>#}
							</div>
							
							
						{% else %}
							<a class="action view-action" href="{{path('item_builder_view', {itemBuildSlug: itemBuild.getSlug()})}}"><i class="icon-share"></i> {{'General.watch'|trans}}</a>
							
							{#<span class="dl-count-block" data-id="dl-count-{{itemBuild.getSlug()}}"><strong>{{'item_table.td.downloaded'|trans}}</strong> <span class="dl-count">{{itemBuild.getDownload()}}</span> {{'item_table.td.times'|trans}}</span>#}
						{% endif %}
					</td>
				</tr>
				{% if admin_mode is defined and admin_mode %}
					{% include 'MVNerdsProfileBundle:Profile:delete_item_build_modal.html.twig' with {'item_build': itemBuild} %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>