{% set gameModesToString =  item.getGameModesToString()%}

<li class="item {{item.getTagsToString()}} {{gameModesToString}} {% if item.getChampion() %}champion-specific{% endif %}" id="{{ item.getSlug() }}" data-placement="right" data-name="{{ item.getName() | lower }}" data-title="{{ item.getName()}}" data-code="{{ item.getRiotCode()}}" data-champion="{% if item.getChampion() %}{{item.getChampion.getSlug()}}{% endif %}">
	
	<div class="portrait" data-slug="{{item.getSlug()}}" data-game-modes="{{gameModesToString}}" data-champion="{% if item.getChampion() %}{{item.getChampion.getSlug()}}{% endif %}">
		{#<div class="item-square {{ item.getSlug() }}"></div>#}
		<img draggable="false" class="item-image" src="{{ asset('images/items/' ~ item.getRiotCode() ~ '.png') }}" alt="image de l'item {{ item.getName() }}" />
		{#<div class="item-name">{{ item.getName() }}</div>#}
	</div>
	{#<div class="preview hide">
		{% include 'MVNerdsItemHandlerBundle:ItemBuilder:item_preview.html.twig' %}
	</div>#}
</li>
