<div class="list-item-builder">
	<table id="item-builds-table" class="table">
		<thead>
			<tr>
				<th class="champions">Champion</th>
				<th class="name">Nom</th>
				<th class="game-mode">Mode de jeu</th>
				<th class="items">Items</th>
				<th class="actions">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for itemBuild in itemBuilds%}
				<tr class="item-build-row" data-target="{{itemBuild.getSlug()}}">
					<td>
						{% if itemBuild.getChampionItemBuilds()|length <= 1 %}
							<div class="champion-square25 {{ itemBuild.getChampionItemBuilds().getFirst().getChampion().getSlug() }}" >&nbsp;</div>
						{% else %}
							<img src="{{asset('images/avatar/anonymous.jpg')}}" alt="image_question" class="bootstrap-popover" data-placement="right" data-trigger="hover" data-title="{{itemBuild.getName()}}" data-content="{%for championItemBuild in itemBuild.getChampionItemBuilds() %}<div class='champion-square25 {{championItemBuild.getChampion().getSlug()}}' ></div>{% endfor %}"/>
						{% endif %}
					</td>
					
					<td class="name">
						{{itemBuild.getName()}}<br />
						<span class="created-by">Créé par {{itemBuild.getUser().getUserName()}} le {{itemBuild.getCreateTime('d/m/Y')}}</span>
					</td>
						
					<td class="game-mode">{{itemBuild.getChampionItemBuilds().getFirst().getGameMode().getLabel()}}</td>
					
					<td class="item">
						<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem1Id().getRiotCode() ~ '.png' )}}" alt="{{itemBuild.getItemRelatedByItem1Id().getName}} " class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
							 data-title="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_title.html.twig' with {item: itemBuild.getItemRelatedByItem1Id()} %}" 
							 data-content="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_content.html.twig' with {item: itemBuild.getItemRelatedByItem1Id()} %}"/>

						<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem2Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem2Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
							 data-title="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_title.html.twig' with {item: itemBuild.getItemRelatedByItem2Id()} %}" 
							 data-content="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_content.html.twig' with {item: itemBuild.getItemRelatedByItem2Id()} %}"/>

						<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem3Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem3Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
							 data-title="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_title.html.twig' with {item: itemBuild.getItemRelatedByItem3Id()} %}" 
							 data-content="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_content.html.twig' with {item: itemBuild.getItemRelatedByItem3Id()} %}"/>

						<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem4Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem4Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
							 data-title="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_title.html.twig' with {item: itemBuild.getItemRelatedByItem4Id()} %}" 
							 data-content="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_content.html.twig' with {item: itemBuild.getItemRelatedByItem4Id()} %}"/>

						<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem5Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem5Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
							 data-title="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_title.html.twig' with {item: itemBuild.getItemRelatedByItem5Id()} %}" 
							 data-content="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_content.html.twig' with {item: itemBuild.getItemRelatedByItem5Id()} %}"/>

						<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem6Id().getRiotCode()  ~ '.png' )}}" alt="{{itemBuild.getItemRelatedByItem6Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
							 data-title="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_title.html.twig' with {item: itemBuild.getItemRelatedByItem6Id()} %}" 
							 data-content="{% include 'MVNerdsItemHandlerBundle:Popover:item_popover_content.html.twig' with {item: itemBuild.getItemRelatedByItem6Id()} %}"/>
					</td>
					
					<td>
						<a class="action download-action" data-name="{{itemBuild.getName()}}" data-slug="{{itemBuild.getSlug()}}"><i class="icon-download-alt"></i></a>

						<span class="dl-count-block" data-id="dl-count-{{itemBuild.getSlug()}}"><strong>Téléchargé</strong> <span class="dl-count">{{itemBuild.getDownload()}}</span> fois</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>