{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% stylesheets 
			'css/champion_handler/champion-square25-sprite.css'
			'css/item_builder/listing-page.css'
			output='css/compiled/pmri-list.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% else %}
		<link rel="stylesheet" href="{{ asset('css/champion_handler/champion-square25-sprite.css') }}">
		<link href="{{ asset('css/item_builder/listing-page.css') }}" rel="stylesheet" type="text/css">
	{% endif %}
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
		
	{% if app.environment != 'dev' %}
		{% javascripts
			'js/bootstrap/bootstrap-popover.js'
			'js/jquery.dataTables.min.js'
			'js/item_handler/item_builder/listing-page.js'
			'js/launch_site/alerts-ajax-handler.js'
			output='js/compiled/pmri-list.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% else %}
		<script src="{{ asset('js/bootstrap/bootstrap-popover.js') }}"></script>
		<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ asset('js/item_handler/item_builder/listing-page.js') }}"></script>
		<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
	{% endif %}
{% endblock %}
	
{% block title %}
	{{'item_build_list_index.title'|trans}}
{% endblock %}

{% block body_main_content %}
	<div class="body-container list-item-builder">
		<div class="row-fluid">
			<h1 class="span7">Pimp My Recommended Items</h1>
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<a class="pull-right btn-red btn-blue btn-pmri" href="{{path('summoner_profile_index')}}#summoner-pmri-list">Mes listes</a>
			{% endif %}
			<a class="pull-right btn-red btn-pmri" href="{{path('item_builder_create')}}">{{'item_build_list_index.btn.create_list'|trans}}</a>
		</div>
		
		
		<p>{{'item_build_list_index.p1'|trans}}</p>
		
		<ul class="filters-list">
			<li id="sort-box" class="dropdown action link">
				<a class="dropdown-toggle action-button-link" data-toggle="dropdown" id="drop-sort-list" role="button"><span class="action-label">{{'item_build_list_index.sort'|trans}}</span> <i class="icon-sort-down icon-white"></i></a>
				<ul id="sort-list" class="dropdown-menu" role="menu" aria-labelledby="drop-sort-list">
					<li><a href="#" class="sort-link" data-option-value="0"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.name-asc'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="1"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.name-desc'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="2"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.most-downloaded'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="3"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.less-downloaded'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="4"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.oldest'|trans}}</a></li>
					<li><a href="#" class="sort-link selected" data-option-value="5"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.newest'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="6"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.updated'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="7"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.most-commented'|trans}}</a></li>
					<li><a href="#" class="sort-link" data-option-value="8"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.views'|trans}}</a></li>
				</ul>
			</li>
			<li class="more-filters-button">
				<i class="icon-plus-sign"></i> 
				<span class="more-filter-msg">
					{% if locale == 'fr' %}
						Plus de filtres
					{% else %}
						Show filters
					{% endif %}
				</span>
			</li>
		</ul>
		
		<ul class="filters-list more-filter hide">
			<li id="filter-champion" class="action filter-action">
				<i class="icon-search icon-white"></i>
				<input placeholder="{{'item_build_list_index.sort.filter-by-champion'|trans}}" type="text" id="champion-filter-input" class="input-mini" data-provide="typeahead"/>
			</li>
			<li id="filter-author" class="action filter-action">
				<i class="icon-search icon-white"></i>
				<input placeholder="{{'item_build_list_index.sort.filter-by-author'|trans}}" type="text" id="author-filter-input" class="input-mini"/>
			</li>
			<li id="filter-title" class="action filter-action">
				<i class="icon-search icon-white"></i>
				<input placeholder="{{'item_build_list_index.sort.filter-by-title'|trans}}" type="text" id="title-filter-input" class="input-mini"/>
			</li>
		</ul>
		
		<table id="item-builds-table" class="table data-table" data-filter="{% if championSlug is defined %}{{championSlug}}{% endif %}">
			<thead>
				<tr>
					<th class="champions">{{'item_table.th.champion'|trans}}</th>
					<th class="name">{{'item_table.th.name'|trans}}</th>
					<th class="game-mode">{{'item_table.th.game_mode'|trans}}</th>
					<th class="actions"></th>
				</tr>
			</thead>
			<tbody>
				{% for itemBuild in itemBuilds%}
					{% set user = itemBuild.getUser() %}
					<tr class="item-build-row" data-target="{{itemBuild.getSlug()}}">
						<td>
							{% if itemBuild.getChampionItemBuilds()|length <= 1 %}
								<div class="champion-square25 {{ itemBuild.getChampionItemBuilds().getFirst().getChampion().getSlug() }}" >&nbsp;</div>
							{% else %}
								<img src="{{asset('images/avatar/anonymous.jpg')}}" alt="image_question" class="bootstrap-popover" data-placement="right" data-trigger="hover" data-title="{{itemBuild.getName()}}" data-content="<div class='center-content'>{%for championItemBuild in itemBuild.getChampionItemBuilds() %}<div class='champion-square25 {{championItemBuild.getChampion().getSlug()}}' ></div>{% endfor %}</div>"/>
							{% endif %}
						</td>
						<td class="name">
							<a href="{{path('item_builder_view', {itemBuildSlug: itemBuild.getSlug()})}}">{{itemBuild.getName()}}</a><br />
							<span class="created-by">{{'item_table.td.created_by'|trans}} <a href="{{ path('summoner_profile_view', {'userSlug': user.getSlug()}) }}" title="{{'item_table.td.consult_profile_of'|trans}} {{ user.getUsername }}">{{user.getUsername()}}</a>,
							{{'item_table.td.updated_the'|trans}} 
							
							
							{% if itemBuild.getCreateTime('d/m/Y') == date().format('d/m/Y') %}
								<strong>{{'Comments.today'|trans}}</strong>
							{% else %}
								{% if itemBuild.getCreateTime('d/m/Y') == date('-1day').format('d/m/Y') %}
									<strong>{{'Comments.yesterday'|trans}}</strong>
								{%else %}
									{% if locale == 'fr' %} le {% else %} the {% endif %}
									{% if itemBuild.getCreateTime().getTimestamp() > date('-5days').getTimestamp() %}
										 <strong>{{ itemBuild.getUpdateTime('d/m/Y') }}</strong>
									{% else %}
										 {{ itemBuild.getUpdateTime('d/m/Y') }}
									{% endif %}
								{%endif %}
							{% endif %}
							<i class="icon-comments icon-white" title="{{ 'item_table.td.icon.title.comment'|trans }}"></i>{{itemBuild.getCommentCount()}} <i class="icon-download-alt icon-white" title="{{ 'item_table.td.icon.title.download'|trans }}"></i>{{itemBuild.getDownload()}} <i class="icon-eye-open icon-white" title="{{ 'item_table.td.icon.title.view'|trans }}"></i>{{itemBuild.getView()}}</span>
						</td>
						
						<td class="game-mode">{{itemBuild.getChampionItemBuilds().getFirst().getGameMode().getLabel() | trans}}</td>
						
						<td>
							<a class="action view-action" href="{{path('item_builder_view', {itemBuildSlug: itemBuild.getSlug()})}}"><i class="icon-share"></i> {{'General.watch'|trans}}</a>
							
							{#<span class="dl-count-block" data-id="dl-count-{{itemBuild.getSlug()}}"><strong>{{'item_table.td.downloaded'|trans}}</strong> <span class="dl-count">{{itemBuild.getDownload()}}</span> {{'item_table.td.times'|trans}}</span>#}
						</td>
						
						<td>{% for championItemBuild in  itemBuild.getChampionItemBuilds()%}{{championItemBuild.getChampion().getName}} {% endfor %}</td>
						
						<td>{{itemBuild.getDownload()}}</td>
						<td>{{itemBuild.getUpdateTime('YmdHims')}}</td>
						<td>{{itemBuild.getUser().getUsername()}}</td>
						<td>{{itemBuild.getCreateTime('YmdHims')}}</td>
						<td>{{itemBuild.getCommentCount()}}</td>
						<td>{{itemBuild.getName()}}</td>
						<td>{{itemBuild.getView()}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
{% endblock %}