<a href="{{path('pmri_list_detail', {slug: itemBuild.getSlug()})}}">{{itemBuild.getName()}}</a><br />
<span class="created-by">{{'item_table.td.created_by'|trans}} <a href="{{ path('summoner_profile_view', {'userSlug': user.getSlug()}) }}" title="{{'item_table.td.consult_profile_of'|trans}} {{ user.getUsername }}">{{user.getUsername()}}</a>,
{{'item_table.td.updated_the'|trans}} 


{% if itemBuild.getUpdateTime('d/m/Y') == date().format('d/m/Y') %}
	<strong>{{'Comments.today'|trans}}</strong>
{% else %}
	{% if itemBuild.getUpdateTime('d/m/Y') == date('-1day').format('d/m/Y') %}
		<strong>{{'Comments.yesterday'|trans}}</strong>
	{%else %}
		 {{'item_table.td.created_the'|trans}} 
		{% if itemBuild.getUpdateTime().getTimestamp() > date('-5days').getTimestamp() %}
			 <strong>{{ itemBuild.getUpdateTime('d/m/Y') }}</strong>
		{% else %}
			 {{ itemBuild.getUpdateTime('d/m/Y') }}
		{% endif %}
	{%endif %}
{% endif %}
<i class="icon-comments icon-white" title="{{ 'item_table.td.icon.title.comment'|trans }}"></i>{{itemBuild.getCommentCount()}} <i class="icon-download-alt icon-white" title="{{ 'item_table.td.icon.title.download'|trans }}"></i>{{itemBuild.getDownload()}} <i class="icon-eye-open icon-white" title="{{ 'item_table.td.icon.title.view'|trans }}"></i>{{itemBuild.getView()}}</span>