{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('/css/champion_handler/champion-square25-sprite.css') }}">
	<link href="{{ asset('css/item_builder/listing-page.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/item_builder/modal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/bootstrap/bootstrap-popover.js') }}"></script>
	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/item_handler/item_builder/listing-page.js') }}"></script>
	<script src="{{ asset('js/item_handler/item_builder/dl-modal.js') }}"></script>
	<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
{% endblock %}

{% block body_main_content %}
	<div class="body-container list-item-builder">
		<div class="row-fluid">
			<h1 class="span9">Pimp My Recommended Items</h1><a class="pull-right btn-red btn-pmri" href="{{path('item_builder_create')}}">{{'item_build_list_index.btn.create_list'|trans}}</a>
		</div>
		
		
		<p>{{'item_build_list_index.p1'|trans}}</p>
		
		<table id="item-builds-table" class="table data-table" data-filter="{% if championSlug is defined %}{{championSlug}}{% endif %}">
			<thead>
				<tr>
					<th class="champions">{{'item_table.th.champion'|trans}}</th>
					<th class="name">{{'item_table.th.name'|trans}}</th>
					<th class="game-mode">{{'item_table.th.game_mode'|trans}}</th>
					<th class="items">{{'item_table.th.items'|trans}}</th>
					<th class="actions"></th>
				</tr>
			</thead>
			<tbody>
				{% for itemBuild in itemBuilds%}
					{% set user = itemBuild.getUser() %}
					<tr class="item-build-row" data-target="{{itemBuild.getSlug()}}">
						<td>
							{% if itemBuild.getChampionItemBuilds()|length <= 1 %}
								<div class="champion-square25 {{ itemBuild.getChampionItemBuilds().getFirst().getChampion().getSlug() }}" >&nbsp;</div>
							{% else %}
								<img src="{{asset('images/avatar/anonymous.jpg')}}" alt="image_question" class="bootstrap-popover" data-placement="right" data-trigger="hover" data-title="{{itemBuild.getName()}}" data-content="<div class='center-content'>{%for championItemBuild in itemBuild.getChampionItemBuilds() %}<div class='champion-square25 {{championItemBuild.getChampion().getSlug()}}' ></div>{% endfor %}</div>"/>
							{% endif %}
						</td>
						<td class="name">
							{{itemBuild.getName()}}<br />
							<span class="created-by">{{'item_table.td.created_by'|trans}} <a href="{{ path('summoner_profile_view', {'userSlug': user.getSlug()}) }}" title="{{'item_table.td.consult_profile_of'|trans}} {{ user.getUsername }}">{{user.getUsername()}}</a> {{'item_table.td.created_the'|trans}} {{itemBuild.getCreateTime('d/m/Y')}}</span>
						</td>
						
						<td class="game-mode">{{itemBuild.getChampionItemBuilds().getFirst().getGameMode().getLabel()}}</td>
						
						<td class="item">
							<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem1Id().getRiotCode() ~ '.png' )}}" alt="{{itemBuild.getItemRelatedByItem1Id().getName}} " class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
								 data-title="<img class='tooltip-item-img pull-left' src='{{asset('images/items/' ~ itemBuild.getItemRelatedByItem1Id().getRiotCode() ~ '.png' )}}'/> {{itemBuild.getItemRelatedByItem1Id().getName()}}" 
								 data-content="{%for itemPrimaryEffect in itemBuild.getItemRelatedByItem1Id().getItemPrimaryEffects() %}{{itemPrimaryEffect.getValue()}} {{itemPrimaryEffect.getPrimaryEffect().getLabel()}} {% endfor %}
											{%for itemSecondaryEffect in itemBuild.getItemRelatedByItem1Id().getItemSecondaryEffects() %}{{itemSecondaryEffect.getDescription()}} {% endfor %}"/>
							
							<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem2Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem2Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
								 data-title="<img class='tooltip-item-img pull-left' src='{{asset('images/items/' ~ itemBuild.getItemRelatedByItem2Id().getRiotCode() ~ '.png' )}}'/>{{itemBuild.getItemRelatedByItem2Id().getName()}}" 
								 data-content="{%for itemPrimaryEffect in itemBuild.getItemRelatedByItem2Id().getItemPrimaryEffects() %}{{itemPrimaryEffect.getValue()}} {{itemPrimaryEffect.getPrimaryEffect().getLabel()}} {% endfor %}
											{%for itemSecondaryEffect in itemBuild.getItemRelatedByItem2Id().getItemSecondaryEffects() %}{{itemSecondaryEffect.getDescription()}} {% endfor %}"/>
							
							<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem3Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem3Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
								 data-title="<img class='tooltip-item-img pull-left' src='{{asset('images/items/' ~ itemBuild.getItemRelatedByItem3Id().getRiotCode() ~ '.png' )}}'/>{{itemBuild.getItemRelatedByItem3Id().getName()}}" 
								 data-content="{%for itemPrimaryEffect in itemBuild.getItemRelatedByItem3Id().getItemPrimaryEffects() %}{{itemPrimaryEffect.getValue()}} {{itemPrimaryEffect.getPrimaryEffect().getLabel()}} {% endfor %}
											{%for itemSecondaryEffect in itemBuild.getItemRelatedByItem3Id().getItemSecondaryEffects() %}{{itemSecondaryEffect.getDescription()}} {% endfor %}"/>
							
							<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem4Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem4Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
								 data-title="<img class='tooltip-item-img pull-left' src='{{asset('images/items/' ~ itemBuild.getItemRelatedByItem4Id().getRiotCode() ~ '.png' )}}'/>{{itemBuild.getItemRelatedByItem4Id().getName()}}" 
								 data-content="{%for itemPrimaryEffect in itemBuild.getItemRelatedByItem4Id().getItemPrimaryEffects() %}{{itemPrimaryEffect.getValue()}} {{itemPrimaryEffect.getPrimaryEffect().getLabel()}} {% endfor %}
											{%for itemSecondaryEffect in itemBuild.getItemRelatedByItem4Id().getItemSecondaryEffects() %}{{itemSecondaryEffect.getDescription()}} {% endfor %}"/>
							
							<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem5Id().getRiotCode() ~ '.png'  )}}" alt="{{itemBuild.getItemRelatedByItem5Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
								 data-title="<img class='tooltip-item-img pull-left' src='{{asset('images/items/' ~ itemBuild.getItemRelatedByItem5Id().getRiotCode() ~ '.png' )}}'/>{{itemBuild.getItemRelatedByItem5Id().getName()}}" 
								 data-content="{%for itemPrimaryEffect in itemBuild.getItemRelatedByItem5Id().getItemPrimaryEffects() %}{{itemPrimaryEffect.getValue()}} {{itemPrimaryEffect.getPrimaryEffect().getLabel()}} {% endfor %}
											{%for itemSecondaryEffect in itemBuild.getItemRelatedByItem5Id().getItemSecondaryEffects() %}{{itemSecondaryEffect.getDescription()}} {% endfor %}"/>
							
							<img src="{{asset('images/items/' ~ itemBuild.getItemRelatedByItem6Id().getRiotCode()  ~ '.png' )}}" alt="{{itemBuild.getItemRelatedByItem6Id().getName}}" class="bootstrap-popover" data-placement="bottom" data-trigger="hover" 
								 data-title="<img class='tooltip-item-img pull-left' src='{{asset('images/items/' ~ itemBuild.getItemRelatedByItem6Id().getRiotCode() ~ '.png' )}}'/>{{itemBuild.getItemRelatedByItem6Id().getName()}}" 
								 data-content="{%for itemPrimaryEffect in itemBuild.getItemRelatedByItem6Id().getItemPrimaryEffects() %}{{itemPrimaryEffect.getValue()}} {{itemPrimaryEffect.getPrimaryEffect().getLabel()}} {% endfor %}
											{%for itemSecondaryEffect in itemBuild.getItemRelatedByItem6Id().getItemSecondaryEffects() %}{{itemSecondaryEffect.getDescription()}} {% endfor %}"/>
						</td>
						
						<td>
							<a class="action download-action" data-name="{{itemBuild.getName()}}" data-slug="{{itemBuild.getSlug()}}"><i class="icon-download-alt"></i></a>
							
							<span class="dl-count-block" data-id="dl-count-{{itemBuild.getSlug()}}"><strong>{{'item_table.td.downloaded'|trans}}</strong> <span class="dl-count">{{itemBuild.getDownload()}}</span> {{'item_table.td.times'|trans}}</span>
						</td>
						
						<td>{% for championItemBuild in  itemBuild.getChampionItemBuilds()%}{{championItemBuild.getChampion().getName}} {% endfor %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
{% endblock %}