{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('/css/champion_handler/champion-square36-sprite.css') }}">
	<link href="{{ asset('css/item_builder/creation-page.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/item_builder/modal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
	<script src="{{ asset('js/bootstrap/bootstrap-popover.js') }}"></script>
	<script src="{{ asset('js/item_handler/item_builder/dl-modal.js') }}"></script>
{% endblock %}

{% block title %}
	Liste d'items recommandés : {{itemBuild.getName()}}
{% endblock %}
	
{% block body_main_content %}
	<div class="body-container create-item-builder">
		<h1>Liste d'items recommandés : {{itemBuild.getName()}}</h1>
		<p class="module-name">Réalisé par <strong>{{itemBuild.getUser().getUserName()}}</strong></p>
		
		<h2>Champions</h2>
		<p>Les champions concernés par cette liste d'items recommandés sont les suivants :</p>
		
		<div class="champion-container">
			<div id="champion-list" class="elements-grid">
				{% include 'MVNerdsItemHandlerBundle:ItemBuilder:view_champion_grid.html.twig' %}
			</div>
		</div>
		
		<h2>Mode de jeu</h2>
		<p>Cette liste d'items recommandés est dédiée au mode de jeu suivant : </p>
		
		<div class="game-mode-container">
			{% set gameMode = itemBuild.getChampionItemBuilds().getFirst().getGameMode().getLabel() %}
			
			{% if gameMode == 'classic' %}
				<div class="game-mode classic"><span class="message">Summoner Rift</span></div>
			{% elseif gameMode == 'twisted-treeline' %}
				<div class="game-mode twisted-treeline"><span class="message">Twisted Treeline</span></div>
			{% elseif gameMode == 'dominion' %}
				<div class="game-mode dominion"><span class="message" >Dominion</span></div>
			{% elseif gameMode == 'aram' %}
				<div class="game-mode proving-grounds"><span class="message" >All Random All Mid (ARAM)</span></div>
			{% endif %}
		</div>
		
		<h2>Items</h2>
		<p>Les objets affectés à cette liste d'items recommandés sont les suivants :</p>
		
		
		{% include 'MVNerdsItemHandlerBundle:ItemBuilder:view_item_blocks.html.twig' %}
		
		<h2>Téléchargement</h2>
		<p>Téléchargez cette liste si vous désirez l'essayer.</p>
		
		<div class="generate-button-container">
			<a href="#" id="only-generate-build" data-name="{{itemBuild.getName()}}" data-slug="{{itemBuild.getSlug()}}" class="main download-action">Télécharger</a>
		</div>
	</div>
	
	{% include 'MVNerdsItemHandlerBundle:Modal:change_lol_directory_modal.html.twig' %}
{% endblock %}