<div id="champion-benchmark-preview" class="span4">
	<h2>Champion Benchmark</h2>

	<div id="champion-benchmark-preview-list">
		<ol>
			<li>{{'champion_benchmark_preview.ol.li1'|trans}}</li>
			<li>{{'champion_benchmark_preview.ol.li2'|trans}}</li>
			<li>{{'champion_benchmark_preview.ol.li3'|trans}}</li>
		</ol>

		<p class="preview">
			<img src="{{asset('images/launch_site/champion-benchmark-preview.jpg')}}" alt=""/>
		</p>

		<a href="{{path('champion_benchmark_index')}}" class="span12 btn-red">{{'champion_benchmark_preview.btn.try_it'|trans}}</a>
	</div>
</div>