<div class="actions-bar">
	<div id="actions-bar-content">
		<h2 data-content-name="champion-handler">{{'Actionsbar.title'|trans}} <span class="sign red">beta</span></h2>

		<ul class="action-buttons">
			<li class="action {% if page != 'compare' %}force-hide{% endif %}" data-page-display="compare">
				<a rel="previous" class="data-pagination" href="{{ path('launch_site_front') }}" data-page-display="champions">
					<i class="icon-arrow-left icon-white"></i> <span class="action-label">{{'Champion_comparison.back_to_list'|trans}}</span>
				</a>
			</li>

			{# Récupération de la taille de la liste #}
			{% set list_size = comparison_list|length %}

			{# Bouton dropdown de la liste des champions sélectionnés pour la comparaison #}
			<li class="action link dropdown {% if page != 'champions' %}force-hide{% endif %}" id="comparison-list-dropdown" data-page-display="champions">
				<a href="#" class="dropdown-toggle action-button-link" data-toggle="dropdown" id="drop-comparison-list" role="button">
					<i class="icon-th-large icon-white"></i> 
					<span class="action-label">{{'Actionsbar.Comparison_list.title'|trans}} <i id="comparison-list-size">({{list_size}})</i></span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop-comparison-list" id="comparison-list">
					<li class="list-header"><img class="loader"  id="comparison-list-loading" src="{{ asset('images/commons/loader2.gif') }}"/> {{'Actionsbar.Comparison_list.Dropdown.title'|trans}}</li>

					<li class="indication {% if list_size > 0 %}hide{% endif %}">{{'Actionsbar.Comparison_list.Dropdown.indication'|trans}}</li>

					{% for champion in comparison_list %}
						{% include 'MVNerdsChampionHandlerBundle:Comparison:comparison_row.html.twig' with {'champion': champion }%}
					{% endfor %}

					<li id="li-clean" class="clean {% if list_size < 1 %} disabled{% endif %}">
						<a id="btn-clean" href="{{path('champion_handler_comparison_clean_comparison') }}" {% if list_size < 1 %}class="disabled"{%endif%}>
							{{'Actionsbar.Comparison_list.Dropdown.clean'|trans}}
							<i class="icon-trash"></i>
						</a>
					</li>
				</ul>
			</li>

			{# Bouton d'action qui permet de comparer la liste des champions sélectionnés #}
			<li class="action red-button {% if list_size < 2 %} disabled{% endif %} {% if page != 'champions' %}force-hide{% endif %}" data-page-display="champions">
				<a id="btn-compare" class="data-pagination{% if list_size < 2 %} disabled{%endif%}" rel="next" href="{{path('launch_site_front_compare_champions', {'_locale': locale }) }}" data-page-display="compare">
					<i class="icon-random icon-white"></i> <span class="action-label">{{'Actionsbar.Compare.title'|trans}}</span>
				</a>
			</li>

			{# Bouton d'action qui permet de filtrer les champions #}
			{% include 'MVNerdsChampionHandlerBundle:Comparison:filter_list.html.twig' %}

			{# Champ input qui permet de filtrer / rechercher un champion selon son nom #}
			<li class="action filter-action search-action {% if page != 'champions' %}force-hide{% endif %}" data-page-display="champions">
				<i class="icon-search icon-white"></i> <input id="filter-value" type="text" class="input-mini" placeholder="{{'Actionsbar.Search.placeholder'|trans}}" data-provide="typeahead"/>
			</li>

			{# Bouton d'action qui permet de démarrer une visite guidée #}
			<li class="action help-action {% if page != 'champions' %}force-hide{% endif %}" data-page-display="champions">
				<i class="icon-question-sign icon-white"></i> <span class="action-label">{{'Actionsbar.Guide_tour.title'|trans}}</span>
			</li>
		</ul>
	</div>
</div>
<div class="clearfix"></div>