<div class="row-fluid">
	<div class="span3">
		<img src="{{ asset('/images/launch_site/mvnerds_logo.png') }}" />
		
	</div>
	
	<div class="span7 links">
		<h5>Most Valuable Nerds</h5>
		<p class="subtitle">- {{'Footer.subtitle'|trans}}</p>
		<p>
			{{'Footer.riot.p1'|trans}}<br />
			{{'Footer.riot.p2'|trans}}
		</p>
		<ul>
			<li><a href="{{ path('launch_site_contact_us') }}">{{'Footer.links.contact'|trans}}</a></li>
			<li><a href="{{ path('launch_site_privacy_policy') }}">{{'Footer.links.privacy_policy'|trans}}</a></li>
			<li><a href="{{ path('launch_site_terms_of_use') }}">{{'Footer.links.terms_of_use'|trans}}</a></li>
			<li><a href="{{ path('launch_site_legal') }}">{{'Footer.links.legal'|trans}}</a></li>
			{#<li><a href="{{ path('launch_site_statistics') }}">{{'Footer.links.statistics'|trans}}</a></li>#}
			<li><a href="{{ path('launch_site_about_us') }}">{{'Footer.links.about_us'|trans}}</a></li>
		</ul>
	</div>
	<div class="span2 footer-social-container">
		<p>
			<span class="msg">{{'Social.follow_us_on'|trans}}</span> 
			<a href="http://www.facebook.com/mvnerds" target="_blank" class="facebook"><i class="icon-facebook-sign facebook"></i></a> <a href="https://twitter.com/MVNerds" target="_blank" class="twitter"><i class="icon-twitter-sign twitter"></i></a>
		</p>
	</div>
</div>