{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% stylesheets 
			'css/bootstrap.css'
			'css/normalize.css'
			'css/main.css'
			'css/launch_site/front.css'
			'css/champion_handler/champion-square25-sprite.css'
			'css/champion_handler/champion-square36-sprite.css'
			'css/item_builder/listing-page.css'
			'css/item_builder/modal.css'
			'css/news/carousel.css'
			output='css/compiled/launch-site-index.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% else %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/launch_site/front.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/champion_handler/champion-square25-sprite.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/champion_handler/champion-square36-sprite.css') }}">
		<link href="{{ asset('css/item_builder/listing-page.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/item_builder/modal.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/news/carousel.css') }}" rel="stylesheet" type="text/css">
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% javascripts
			'js/launch_site/front.js'
			'js/champion_handler/sort.js'
			'js/bootstrap/bootstrap-tab.js'
			'js/bootstrap/bootstrap-popover.js'
			'js/bootstrap/bootstrap-carousel.js'
			'js/item_handler/item_builder/dl-modal.js'
			output='js/compiled/launch-site-index.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% else %}
		<script type="text/javascript" src="{{ asset('js/launch_site/front.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/champion_handler/sort.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-tab.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-carousel.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/item_handler/item_builder/dl-modal.js') }}"></script>
	{% endif %}
{% endblock %}
		
{% block title %}
	{{'index_page.title'|trans}}	
{% endblock %}
		
{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			
		</div>
		
	</div>
	<div class="clearfix"></div>
{% endblock %}
		
{% block body_main_content %}	
	<div class="body-container">
		<div class="row-fluid">
			{% include 'MVNerdsNewsBundle:Front:carousel_index.html.twig' with {'news': news} %}
			
			{% include 'MVNerdsLaunchSiteBundle:Front:champion_benchmark_preview.html.twig' %}
		</div>
		{% include 'MVNerdsItemHandlerBundle:ItemBuilder:tabed_list_index.html.twig' with {'latest_builds': latest_builds, 'most_downloaded_builds': most_downloaded_builds} %}
	</div>	
{% endblock %}
