{% extends '::base.html.twig' %}

{% block title %}Bienvenue sur Most Valuable Nerds !{% endblock %}

{% block css %}
	{{ parent() }}

	 <link rel="stylesheet" href="{{ asset('/css/launch_site/front.css') }}">
	 <link rel="stylesheet" href="{{ asset('/css/launch_site/front-compare.css') }}">
	 <link rel="stylesheet" href="{{ asset('/css/launch_site/actionbar.css') }}">
	 <link rel="stylesheet" href="{{ asset('/css/launch_site/data-scroll.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/champion_handler/comparison.css') }}">
	 <link href='http://fonts.googleapis.com/css?family=Quantico:700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascripts %}
	 {{ parent() }}
	 
	 <script type="text/javascript" src="{{ asset('/js/jquery-ui-1.8.23.custom.min.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/jquery.isotope.min.js') }}"></script>
	 
	 <script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-tooltip.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-popover.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-transition.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-alert.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-modal.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/bootstrap/bootstrap-typeahead.js') }}"></script>
	 
	 <script type="text/javascript" src="{{ asset('/js/launch_site/alerts-ajax-handler.js') }}"></script>
	 
	 <script type="text/javascript" src="{{ asset('/js/champion_handler/comparison.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/launch_site/front.js') }}"></script>
	 
	 
	 <script type="text/javascript" src="{{ asset('/js/champion_handler/resize.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/launch_site/data-scroll.js') }}"></script>
	 <script type="text/javascript" src="{{ asset('/js/champion_handler/filter.js') }}"></script>
	 <script type="text/javascript">
		$(document).ready(function()
		{
			$('.dropdown-toggle').dropdown();
		});
	</script>
{% endblock %}
	 
{% block body %}
	<div id="wrapper">
		<div class="span3" id="sidebar">
			{% block sidebar %}{% endblock %}
		</div>

		<div class="container main-container">
			<div class="header-container">

				<div class="row-fluid">
					<div class="span5">
						<div class="logo">
							<h1>MOST <font color="#db4a38">V</font><font color="#bf5650">A</font><font color="#a46368">L</font><font color="#886f80">U</font><font color="#6c7b97">A</font><font color="#5087af">B</font><font color="#3594c7">L</font><font color="#19a0df">E</font> <em>NERDS</em></h1>
						</div>
					</div>
					
					<div class="span7">
						<div class="launch-date-msg">Lancement officiel prévu dans</div> 
						
						<div class="countdown">
							<div class="days"></div>
							<div class="hours"></div>
							<div class="minutes"></div>
							<div class="seconds"></div>
						</div>
					</div>
				</div>	

				<div class="social-container">
					<p> Suivez-nous sur <em>Twitter <i class="icon-twitter"></i></em> et <em>Facebook <i class="icon-facebook-sign"></i></em>.</p>
				</div>
				<div class="presentation-container">
					<div class="content">
						<div class="overview">
							<h2>Qui sommes-nous ?</h2>

							<p>The sleepy, non-descript village of Kalamanda, located near the northern entrance to Mogron Pass, now finds itself wide awake 
							as the leading lady on the world stage. The village's mayor, Anson Ridley, reported this week that a local survey team has 
							uncovered a massive deposit of gold and precious gems within the village's sphere of influence. Furthermore, two nexuses of 
							considerable magic potency have been discovered alongside the resource deposits.</p>

							<p>Before the discovery, Kalamanda was only moderately known as a decent place to fish for Valoran trout and not much else. 
							The village now finds itself as the destination point for adventurers and prospectors seeking fame and riches beyond their 
							wildest dreams. The town council has already set up a temporary camp located near the foothills that lead to Mogron Pass and the 
							Great Barrier in anticipation of the great influx of individuals hoping to trade a hard day's work for handsome rewards.</p>
						</div>
						<div class="registration">
							<h2>Je laisse mon e-mail</h2>

							<p>
								Laisser votre e-mail vous offre plusieurs avatanges et <strong>zéro inconvénient</strong> ! Nous n'allons pas nous amuser à vous spammer ni à communiquer votre e-mail. Notre but est de pouvoir vous tenir informer de l'évolution du site et notamment de son ouverture officielle !
							</p>

							<div id="leave-email-form-container">
								{% include 'MVNerdsLaunchSiteBundle:Front:leave_email_form.html.twig' with {'form': form} %}
							</div>

							<p class="secret-msg">Il se murmure qu'il y aura une (ou des, qui sait ?) surprise(s) pour tous ceux qui ont laissé leur e-mail... mais chut hein, je ne vous 
							ai rien dit :P</p>
						</div>
					</div>
					<div class="link registration" data-content-name="registration">Je laisse mon e-mail</div>
					<div class="link overview" data-content-name="overview">Qui sommes-nous ?</div>
				</div>
				<div class="clearfix"></div>
			</div>
				
			<div class="body-container">
				<div class="champions-handler-container">
					{# Barre d'action du module des champions #}
					{% include 'MVNerdsLaunchSiteBundle:Front:champion_handler_actionbar.html.twig' with {'page': page} %}
					
					<div class="content">
						<div id="champion-comparison">
							{% if page == 'champions'%}
								{% render 'MVNerdsChampionHandlerBundle:Front:championComparison' %}
							{% elseif page == 'compare' %}
								{% render 'MVNerdsChampionHandlerBundle:Comparison:compare' %}
							{% endif %}
						</div>
						{#<p>
							Le premier module que nous avons décidé de vous présenter est le module des champions. Vous pouvez vous amusez à les trier selon un large choix de 
							filtre à votre disposition. Vous pouvez les combinez comme bon vous semble. A consommer sans modération donc !<br />
							Ce n'est pas tout ! Vous pouvez également les comparer entre eux de manière simple et intuitive. Il vous faudra maintenant quelques clics seulement
							pour connaître le <em>Carry AD</em> qui a la plus grande portée de tir ou encore quel est le <em>Jungler</em> qui a le plus de point de vie au niveau 6
							(pourquoi pas ? ^^)
						</p>

						<p>
							Nous ne manquerons pas de venir étoffer un peu plus les fonctionnalités du module.
						</p>#}
					</div>
				</div>
			</div>		
	</div>
			
{% endblock %}
