<form id="leave-email-form" action="{{ path('launch_site_leave_email') }}" method="POST" {{ form_enctype(form) }}>
	<div>
		{{ form_widget(form.email, { 'attr' : {'placeholder': 'Registration.form.placeholder'|trans, 'autocomplete': 'off'} }) }}
		<a href="" class="btn submit-btn disabled">
			<img src="{{ asset('images/commons/loader16.gif') }}" class="loader hide" /> 
			<span class="submit-btn-label" 
				data-submit-label="{{'General.lets_go'|trans }}"
				data-checking-label="{{'General.checking_in_progress'|trans }}"
				data-used-email-label="{{'General.mail_already_in_use'|trans }}"
				data-check-label="{{'Registration.form.waiting_for_valid_mail'|trans }}">{{'Registration.form.waiting_for_valid_mail'|trans }}</span>
		</a>
		<div class="registration-errors">
			{% include ':Form:render_form_errors.html.twig' with {'item': form.email} %}
		</div>
	</div>
	{{ form_rest(form) }}
</form>

{% if is_success_action is defined and is_success_action %}
	<div class="modal hide fade" id="leave-email-success-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>{{'General.thanks'|trans}} {{ email }} !</h3>
		</div>
		<div class="modal-body">
			<p>
				{{'Registration.modal.content'|trans}}
			</p>
			<p>
				{{'General.see_you_soon'|trans}}
			</p>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function()
		{
			$('div#leave-email-success-modal').modal('show');
		});
	</script>
{% endif %}
	
<script type="text/javascript">
	{# Déclaration de variable faites ici mais utiliser dans le fichier front.js [Launch Site Bundle] pour avoir les bonnes variables #}
	var $submitFormButton = $('form a.btn.submit-btn'),
		$loaderImg = $('img.loader'),
		$submitBtnLabel = $('span.submit-btn-label'),
		$form = $('form#leave-email-form');
</script>