{% extends 'MVNerdsLaunchSiteBundle:Front:layout.html.twig' %}

{% block overview %}
	<h2>{{'Footer.links.legal'|trans}}</h2>
	
	<h3>{{'Legal.h1'|trans}}</h3>
	<p>
		{{'Legal.p1'|trans}}
	</p>
	
	<h3>{{'Legal.h2'|trans}}</h3>
	<p>
		{{'Legal.p2'|trans}}
	</p>
	<p>
		{{'Legal.p3'|trans}}
	</p>
	<p>
		{{'Legal.p4'|trans}}
	</p>
{% endblock %}