{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom">
				<h1>{{'Footer.links.privacy_policy'|trans}}</h1>

				<h2>{{'Privacy_policy.h1'|trans}}</h2>
				<p>{{'Privacy_policy.p1'|trans}}</p>

				<h2>{{'Privacy_policy.h2'|trans}}</h2>
				<p>{{'Privacy_policy.p2'|trans}}</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}
						