{% extends 'MVNerdsLaunchSiteBundle:Front:layout.html.twig' %}

{% block overview %}
	<h2>{{'Footer.links.privacy_policy'|trans}}</h2>
		
	<h3>{{'Privacy_policy.h1'|trans}}</h3>
	<p>
		{{'Privacy_policy.p1'|trans}}
	</p>
	
	<h3>{{'Privacy_policy.h2'|trans}}</h3>
	<p>
		{{'Privacy_policy.p2'|trans}}
	</p>
{% endblock %}