{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}
	
{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom">
				<h1>{{'Footer.links.terms_of_use'|trans}}</h1>
	
				<h2>{{'Terms_of_use.h1'|trans}}</h2>
				<p>{{'Terms_of_use.p1'|trans}}</p>

				<h2>{{'Terms_of_use.h2'|trans}}</h2>
				<p>{{'Footer.riot.p1'|trans}}<br />{{'Footer.riot.p2'|trans}}</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}