<div class="row-fluid normal-line champion" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)" id="{{ champion.getSlug() }}">
	<div class="span2">
		{# draggable a false pour empecher de drag l img sous chrome et firefox mais cette propriété n est pas détectée sous IE #}
		{#c'est pourquoi seulement l'image pourra être glissée et pas toute la div il faut donc quand meme affecter les events dragStart etc..#}
		<img draggable="false" ondragstart="dragStart(event)" ondragend="dragEnd(event)" id="{{champion.getSlug()}}" class="champion-image" src="{{ asset('images/champions/square/' ~ champion.getSlug() ~ '.png') }}" alt="image du champion {{ champion.getName() }}" title = "{{ champion.getName() }}"/>
	</div>
	<div class="span2">
		{{ champion.getName() }}
	</div>
	<div class="span2">
		{{ champion.getBaseDamage() }}
	</div>
	<div class="span2">
		{{ champion.getBaseHealth() }}
	</div>
	<div class="span2">
		{{ champion.getBaseMana() }}
	</div>
	<div class="span2">
		{# Voir la fiche du champion #}
		<a  draggable="false" href="{{ path('admin_champions_view', {'slug': champion.getSlug()}) }}" class="tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="Voir la fiche de {{ champion.getName() }}">
			<i class="icon-eye-open"></i>
		</a>
		{# Editer le champion #}
		<a  draggable="false" href="{{ path('admin_champions_edit', {'slug': champion.getSlug()}) }}" class="tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="Éditer">
			<i class="icon-edit"></i>
		</a>
		{# Supprimer le champion #}
		<a  draggable="false" href="#" class="tooltip-anchor bootstrap-modal" rel="tooltip" data-placement="top" data-original-title="Supprimer le champion" data-toggle="modal" data-name="{{champion.getName()}}" data-slug="{{champion.getSlug()}}" data-href="/administration/champ/__SLUG__/supprimer">
			<i class="icon-remove"></i>
		</a>
	</div>
</div>