
	<div id="comparison-list" class="well" ondrop="drop(event)" ondragover="dragOver(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)">
		
		<i class="icon-question-sign pull-right" id="comparison-list-help" rel="popover" data-trigger="hover" data-class="comparison-list-popover-help" data-placement="right" 
		   data-original-title="Comparaison de champions" data-content="Faites glisser et déposez un champion dans la zone ci-dessous pour l'ajouter à la liste de comparaison."></i>
		
		<ul class="nav nav-list">
			<li class="nav-header">Liste de comparaison</li>
			<li style="display:none"  id="comparison-list-loading"><img src="{{ asset('images/commons/loader16.gif') }}"/></li>
			{% if app.session.get('comparison_list') | length <= 0 %}
				<li class="indication"><i>Glissez et déposez des champions ici</i></li>
			{% endif %}
			{% for championSlug,champion in app.session.get('comparison_list') %}
				{% include 'MVNerdsAdminBundle:Champion:champion_comparison_row.html.twig' with {'champion': champion}%}
			{% endfor %}
		</ul>
		{% set listSize = app.session.get('comparison_list') | length%}
			
		{% if listSize >= 2 %}
			<a href="{{path('admin_champions_compare') }}" id="btn-compare" class="btn btn-success btn-block comparison-list-btn"><i class="icon-resize-small icon-white"></i> <span class="btn-text"> Comparer !</span></a>
			<a href="{{path('admin_champions_clean_comparison') }}" id="btn-clean" class="btn btn-info btn-block comparison-list-btn"><i class="icon-trash icon-white"></i> <span class="btn-text"> Vider !</span></a>
		{% elseif listSize >= 1 %}
			<a href="{{path('admin_champions_compare') }}" id="btn-compare" class="btn btn-success btn-block disabled comparison-list-btn"><i class="icon-resize-small icon-white"></i> <span class="btn-text"> Comparer !</span></a>
			<a href="{{path('admin_champions_clean_comparison') }}" id="btn-clean" class="btn btn-info btn-block comparison-list-btn"><i class="icon-trash icon-white"></i> <span class="btn-text"> Vider !</span></a>
		{% else %}
			<a href="{{path('admin_champions_compare') }}" id="btn-compare" class="btn btn-success btn-block disabled comparison-list-btn"><i class="icon-resize-small icon-white"></i> <span class="btn-text"> Comparer !</span></a>
			<a href="{{path('admin_champions_clean_comparison') }}" id="btn-clean" class="btn btn-info btn-block disabled comparison-list-btn"><i class="icon-trash icon-white"></i> <span class="btn-text"> Vider !</span></a>
		{% endif %}
	</div>
	<a href="#" id="resize-comparison-list" class="btn btn-mini btn-inverse pull-right minimize"><i class="icon-resize-small icon-white"></i></a>
