<div class="row-fluid normal-line">
	<div class="span2">
		{{ champion.getId() }}
	</div>
	<div class="span2">
		{{ champion.getName() }}
	</div>
	<div class="span2">
		{{ champion.getBaseDamage() }}
	</div>
	<div class="span2">
		{{ champion.getBaseHealth() }}
	</div>
	<div class="span2">
		{{ champion.getBaseMana() }}
	</div>
	<div class="span2">
		<i class="icon-eye-open"></i>
		<i class="icon-edit"></i>
		<i class="icon-remove"></i>
	</div>
</div>