{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{ 'Error_page.title'|trans }} - Most Valuable Nerds | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/site/error.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript" src="{{ asset('medias/js/site/error-page.js') }}"></script>
{% endblock %}
	
{% block topbar %}
	{% set module = 'error' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> {{ 'Error_page.breadcrumbs'|trans }}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
		
		<div class="amumu-container">
			<img src="{{ asset('medias/images/site/amumu-error-page.png') }}" />
			<div class="amumu-message hide">{{ 'Error_page.amumu_thank_you'|trans }} *.*</div>
			<div class="draw-by">By Kawiko</div>
		</div>
		<h1>{{ 'Error_page.title'|trans }}</h1>

		<p>
			{{ 'Error_page.possible_error_source.text'|trans }}
		</p>
		
		<ul>
			<li>{{ 'Error_page.error_possibity_1'|trans }}</li>
			<li>{{ 'Error_page.error_possibity_2'|trans }}</li>
			<li>{{ 'Error_page.error_possibity_3'|trans }}</li>
		</ul>
		
		<p>{{ 'Error_page.what_to_do'|trans }}</p>
		
		<ul>
			<li><a href="{{ path('site_homepage') }}">{{ 'Error_page.back_to_homepage'|trans }}</a></li>
			{% if app.user == null %}
				<li><a href="{{ path('security_summoner_login') }}">{{ 'Error_page.login_link'|trans }}</a></li>
			{% endif %}
			<li><a href="{{ path('site_contact_us') }}">{{ 'Error_page.report_bug_link'|trans }}</a></li>
			<li><a href="#" class="hug-amumu"><i class="icon-heart"></i>{{ 'Error_page.hug_amumu_link'|trans }}</a></li>
		</ul>
	</div>
{% endblock %}