{% if champion.getId() != reference_champion.getId() %}
	<tr>
		<td>
			<img src="{{ asset('/images/champions/square/' ~ champion.getSlug() ~ '.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{ champion.getName() }}" />
		</td>
		{% set diff = champion.getBaseHealth() - reference_champion.getBaseHealth() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseHealth() }}</span>
		</td>

		{% set diff = champion.getBaseHealthRegen() * 5 - reference_champion.getBaseHealthRegen() * 5 %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseHealthRegen() * 5 }}</span>
		</td>

		{% set diff = champion.getBaseMana() - reference_champion.getBaseMana() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseMana() }}</span>
		</td>

		{% set diff = champion.getBaseManaRegen() * 5 - reference_champion.getBaseManaRegen() * 5 %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseManaRegen() * 5 }}</span>
		</td>

		{% set diff = champion.getBaseArmor() - reference_champion.getBaseArmor() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseArmor() }}</span>
		</td>

		{% set diff = champion.getBaseMagicResist() - reference_champion.getBaseMagicResist() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseMagicResist() }}</span>
		</td>

		{% set diff = champion.getBaseDamage() - reference_champion.getBaseDamage() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseDamage() }}</span>
		</td>

		{% set diff = champion.getBaseAttackSpeed() - reference_champion.getBaseAttackSpeed() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getBaseAttackSpeed() }}</span>
		</td>

		{% set diff = champion.getAttackRange() - reference_champion.getAttackRange() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getAttackRange() }}</span>
		</td>

		{% set diff = champion.getMoveSpeed() - reference_champion.getMoveSpeed() %}
		{% if diff|length > 9 %}
			{% set diff = diff|number_format(3) %}
		{% endif %}
		<td>
			<span class="diff {% if diff > 0 %}plus{% else %}minus{% endif %}">{{ diff }}</span>
			<span class="own">{{ champion.getMoveSpeed() }}</span>
		</td>
	</tr>
{% endif %}
