<div class="data-scrollable" id="champion-comparator">	
	<div id="compare-champion-div-header">
		<div class="row-fluid table-header">
			<div class="span1 no-margin">
				<p>Champion</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.health'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.health_regen'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.mana'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.mana_regen'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.armor'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.magic_resist'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.damage'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.attack_speed'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.range'|trans}}</p>
			</div>
			<div class="span1">
				<p>{{'Champion_preview.stat.movement_speed'|trans}}</p>
			</div>
			<div class="span1">
				<p>Mes actions</p>
			</div>
		</div>
		
		{% include 'MVNerdsChampionHandlerBundle:Comparison:benchmark_champion_row.html.twig' with {'reference_champion': reference_champion} %}
		
		{#<table class="compare-champion-table header">
			<thead>
				<tr>
					<th class="first-col">
						<img src="{{ asset('/images/champion_handler/attribute_icon/champion.jpg') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="Champion" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/health.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.health'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/health_regen.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.health_regen'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/mana.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.mana'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/mana_regen.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.mana_regen'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/armor.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.armor'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/magic_resist.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.magic_resist'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/damage.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.damage'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/attack_speed.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.attack_speed'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/attack_range.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.range'|trans}}" />
					</th>
					<th>
						<img src="{{ asset('/images/champion_handler/attribute_icon/move_speed.png') }}" class="tooltip-anchor" rel="tooltip" data-placement="bottom" data-original-title="{{'Champion_preview.stat.movement_speed'|trans}}" />
					</th>
					<th>
						{{'Champion_comparison.actions.title'|trans}}
					</th>
				</tr>
					
				{% include 'MVNerdsChampionHandlerBundle:Comparison:benchmark_champion_row.html.twig' with {'reference_champion': reference_champion} %}
			</thead>
		</table>#}
	</div>
	<table class="compare-champion-table body">
		<tbody>
			{% include 'MVNerdsChampionHandlerBundle:Comparison:champion_list.html.twig' with {'reference_champion': reference_champion,'comparison_list': app.session.get('comparison_list')} %}
		</tbody>
	</table>	
</div>

<script type="text/javascript">
	$(document).ready(function() 
	{
		$('div.actions-bar ul.action-buttons li.action').each(function()
		{
			if ($(this).data('page-display') == 'compare') {
				$(this).removeClass('force-hide');
			}
			else {
				$(this).addClass('force-hide');
			}
		});
	});
</script>
