<div class="data-scrollable" id="champion-comparator">	
	<div id="compare-champion-div-header">
		<div class="row-fluid" id="level-selector">
			<h6>{{ 'Champion_comparison.champion.actions.level.selector'|trans }}:</h6>
			{% for index in 1..18 %}
				<a class="action level-selector-action {{ index == lvl? 'active' : '' }}" href="{{path('launch_site_front_compare_champions', {'lvl': index}) }}">{{index}}</a>
			{% endfor %}
		</div>
		
		<div class="row-fluid table-header">
			<div class="span1 no-margin sort" data-target="champion-name">
				<p>Champion</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="health">
				<p>{{'Champion_preview.stat.health'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="health-regen">
				<p>{{'Champion_preview.stat.health_regen'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="mana">
				<p>{{'Champion_preview.stat.mana'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="mana-regen">
				<p>{{'Champion_preview.stat.mana_regen'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="armor">
				<p>{{'Champion_preview.stat.armor'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="magic-resist">
				<p>{{'Champion_preview.stat.magic_resist'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="damage">
				<p>{{'Champion_preview.stat.damage'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="attack-speed">
				<p>{{'Champion_preview.stat.attack_speed'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="range">
				<p>{{'Champion_preview.stat.range'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1 sort" data-target="movement-speed">
				<p>{{'Champion_preview.stat.movement_speed'|trans}}</p> <br /><i class="icon-white icon-sort"></i>
			</div>
			<div class="span1">
				<p>Mes actions</p>
			</div>
		</div>
		
		{% include 'MVNerdsChampionHandlerBundle:Comparison:benchmark_champion_row.html.twig' with {'reference_champion': reference_champion} %}
	</div>
	{% include 'MVNerdsChampionHandlerBundle:Comparison:champion_list.html.twig' with {'reference_champion': reference_champion,'comparison_list': comparison_list} %}

</div>

<script type="text/javascript">
	$(document).ready(function() 
	{
		$('div.actions-bar ul.action-buttons li.action').each(function()
		{
			if ($(this).data('page-display') == 'compare') {
				$(this).removeClass('force-hide');
			}
			else {
				$(this).addClass('force-hide');
			}
		});
	});
</script>
{% if app.environment != 'dev' %}
	<script type="text/javascript" src="{{ asset('/js/google_analytics.js') }}"></script>
{% endif %}