<li id="filters-block" class="dropdown action link {% if page != 'champions' %}force-hide{% endif %}" data-page-display="champions">	
	<a href="#" class="dropdown-toggle action-button-link" data-toggle="dropdown" id="drop-filter-list" role="button">
		<i class="icon-cogs icon-white"></i>
		<span class="action-label">{{'Actionsbar.Filter.title'|trans}}</span>
	</a>
	<ul id="filters-list" class="dropdown-menu" role="menu" aria-labelledby="drop-filters-list">
		<li class="list-header">{{'Actionsbar.Filter.Dropdown.title'|trans}}</li>
		<div class="row-fluid row-filters">
			<div class="span6">
				<h4>{{'Actionsbar.Filter.Dropdown.subtitle1'|trans}}</h4>
				<ul class="tags-group">
					<li class="nav-header">{{'Actionsbar.Filter.Dropdown.category.role'|trans}}</li>
					<li>
						<a href="#" class="filter-link" data-option-value="mage"><i class=" icon-ok-sign"></i>Mage</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="support"><i class=" icon-ok-sign"></i>Support</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="fighter"><i class=" icon-ok-sign"></i>Fighter</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="assassin"><i class=" icon-ok-sign"></i>Assassin</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="tank"><i class=" icon-ok-sign"></i>Tank</a>
					</li>
				</ul>
				<ul class="tags-group">
					<li class="nav-header">{{'Actionsbar.Filter.Dropdown.category.range'|trans}}</li>
					<li>
						<a href="#" class="filter-link" data-option-value="melee"><i class=" icon-ok-sign"></i>Melee</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="ranged"><i class=" icon-ok-sign"></i>Ranged</a>
					</li>
				</ul>
					
			</div>
				
			<div class="span6">
				<h4>{{'Actionsbar.Filter.Dropdown.subtitle2'|trans}}</h4>
				<ul class="tags-group">
					<li class="nav-header">{{'Actionsbar.Filter.Dropdown.category.position'|trans}}</li>
					<li>
						<a href="#" class="filter-link" data-option-value="top"><i class=" icon-ok-sign"></i>Top</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="jungle"><i class=" icon-ok-sign"></i>Jungle</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="mid"><i class=" icon-ok-sign"></i>Mid</a>
					</li>
					<li data-option-value="bottom">
						<a href="#" class="filter-link" data-option-value="bottom"><i class=" icon-ok-sign"></i>Bottom</a>
					</li>
				</ul>
				<ul class="tags-group">
					<li class="nav-header">{{'Actionsbar.Filter.Dropdown.category.damage'|trans}}</li>
					<li>
						<a href="#" class="filter-link" data-option-value="physical"><i class=" icon-ok-sign"></i>Physical</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="magical"><i class=" icon-ok-sign"></i>Magical</a>
					</li>
					<li>
						<a href="#" class="filter-link" data-option-value="hybrid-damage"><i class=" icon-ok-sign"></i>Hybrid Damage</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row-fluid div-action-buttons">
			<div class="span6 div-left">
				<li id="li-clean-filter" class="li-filter-action li-filter-action-left hide">
					<a id="btn-clean-fitler" href="#"class="filter-action disabled">
						{{'Actionsbar.Filter.Dropdown.clean'|trans}}
						<i class="icon-trash"></i>
					</a>
				</li>
			</div>
			<div class="span6 div-right">
				<li id="li-compare-filtered" class="li-filter-action li-filter-action-right hide">
					<a id="btn-compare-filtered" href="#" class="filter-action disabled">
						{{'Actionsbar.Filter.Dropdown.compare_filtered'|trans}}
						<i class="icon-plus-sign"></i>
					</a>
				</li>
			</div>
		</div>
	</ul>
</li>