{% if can_report %}
	<a href="#" 
	   class="report-action" 
	   data-type="{{object_type}}" 
	   {% if object_slug is defined %}
			data-slug="{{object_slug}}"
		{% else %}
			data-id="{{object_id}}"
		{% endif %}
	>
		{{ 'Report.simple_action_btn'|trans }} <i class="icon-spin icon-spinner loader hide"></i>
	</a>
{% else %}
	<span>{{ 'Report.you_reported_content_text'|trans }}</span>
{% endif %}