<div class="block">
	<div class="header">
		<h3>Champion Benchmark</h3>
	</div>
	<div class="body">
		<p>{{'Sidebar.champion.title' | trans}}</p>
		<ul>
			<li>{{'Sidebar.champion.ul.li1' | trans}}</li>
			<li>{{'Sidebar.champion.ul.li2' | trans}}</li>
			<li>{{'Sidebar.champion.ul.li3' | trans}}</li>
		</ul>
		<div class="block-media">
			<img src="{{ asset('medias/images/launch_site/champion-benchmark-preview.jpg') }}" />
		</div>
	</div>
	<div class="footer red">
		<a href="{{path('champion_benchmark_index')}}">{{'Sidebar.champion.try-it-now' | trans}}</a>
	</div>
</div>