{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/site/front.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tab.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/homepage.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-tab.js'
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/site/homepage.js'
			output='js/site-index.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<div class="ad-container">
					<img class="unblock-ad-img" src="{{asset('/images/unblock-ad-46860.jpg')}}"/>
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* MVNerds 2.0 Contenu principal */
					google_ad_slot = "9485929999";
					google_ad_width = 468;
					google_ad_height = 60;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
				
				<h1>Une nouvelle championne arrive : Vi</h1>

				<div class="media large">
					<img src="{{ asset('medias/images/news/example-vi.jpg') }}" />
					<p class="legend">Vi dans sa tenue classique</p>
				</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula cursus lacus sit amet consequat. Mauris eleifend mi in massa ultricies nec mattis risus egestas. Suspendisse malesuada lobortis nisl in laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacinia quam quis nisl elementum consequat. Etiam vel elit ante, ut dapibus quam. Ut vitae est risus. Vestibulum quam sapien, porttitor sed pulvinar ac, pharetra sed mi. Cras faucibus tellus eros. Nam adipiscing nulla a mi malesuada commodo. Etiam ac urna magna.</p>

				<p>Nam turpis leo, hendrerit vel volutpat in, rhoncus eget libero. Nunc vehicula rutrum ante eget aliquam. Curabitur nunc nisl, pulvinar eget varius in, vestibulum mattis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam a tellus a ipsum malesuada volutpat non sed nisl. Morbi accumsan scelerisque mi a imperdiet. Nam id magna eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam luctus metus quis ipsum consectetur vulputate. Aliquam dictum ornare metus, at viverra turpis pharetra vel.</p>
				<p><a href="#" class="btn">Bouton classique</a> <a href="#" class="btn red">Bouton classique</a> <a href="#" class="btn green">Bouton classique</a></p>
				<p><a href="#" class="mvnerds-btn">Bouton MVNerds</a> <a href="#" class="mvnerds-btn red">Bouton MVNerds</a> <a href="#" class="mvnerds-btn green">Bouton MVNerds</a></p>
				
				<div class="separator"></div>
				
				<h2>Pimp my recommended items</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula cursus lacus sit amet consequat. Mauris eleifend mi in massa ultricies nec mattis risus egestas. Suspendisse malesuada lobortis nisl in laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacinia quam quis nisl elementum consequat. Etiam vel elit ante, ut dapibus quam. Ut vitae est risus. Vestibulum quam sapien, porttitor sed pulvinar ac, pharetra sed mi. Cras faucibus tellus eros. Nam adipiscing nulla a mi malesuada commodo. Etiam ac urna magna.</p>

				<p>Nam turpis leo, hendrerit vel volutpat in, rhoncus eget libero. Nunc vehicula rutrum ante eget aliquam. Curabitur nunc nisl, pulvinar eget varius in, vestibulum mattis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam a tellus a ipsum malesuada volutpat non sed nisl. Morbi accumsan scelerisque mi a imperdiet. Nam id magna eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam luctus metus quis ipsum consectetur vulputate. Aliquam dictum ornare metus, at viverra turpis pharetra vel.</p>
				<p><a href="#" class="btn">Bouton classique</a> <a href="#" class="btn red">Bouton classique</a> <a href="#" class="btn green">Bouton classique</a></p>
				<p><a href="#" class="mvnerds-btn">Bouton MVNerds</a> <a href="#" class="mvnerds-btn red">Bouton MVNerds</a> <a href="#" class="mvnerds-btn green">Bouton MVNerds</a></p>

				<div class="separator"></div>
				
				<h2>Pimp my recommended items</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula cursus lacus sit amet consequat. Mauris eleifend mi in massa ultricies nec mattis risus egestas. Suspendisse malesuada lobortis nisl in laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacinia quam quis nisl elementum consequat. Etiam vel elit ante, ut dapibus quam. Ut vitae est risus. Vestibulum quam sapien, porttitor sed pulvinar ac, pharetra sed mi. Cras faucibus tellus eros. Nam adipiscing nulla a mi malesuada commodo. Etiam ac urna magna.</p>

				<p>Nam turpis leo, hendrerit vel volutpat in, rhoncus eget libero. Nunc vehicula rutrum ante eget aliquam. Curabitur nunc nisl, pulvinar eget varius in, vestibulum mattis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam a tellus a ipsum malesuada volutpat non sed nisl. Morbi accumsan scelerisque mi a imperdiet. Nam id magna eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam luctus metus quis ipsum consectetur vulputate. Aliquam dictum ornare metus, at viverra turpis pharetra vel.</p>
				<p><a href="#" class="btn">Bouton classique</a> <a href="#" class="btn red">Bouton classique</a> <a href="#" class="btn green">Bouton classique</a></p>
				<p><a href="#" class="mvnerds-btn">Bouton MVNerds</a> <a href="#" class="mvnerds-btn red">Bouton MVNerds</a> <a href="#" class="mvnerds-btn green">Bouton MVNerds</a></p>
			</div>

			<div class="span4 right-content">
				{# Spotlight block #}
				{% include 'MVNerdsSiteBundle:Front:spotlight_sidebar_block.html.twig' %}
				
				{# PUBLICITÉ #}
				<div class="sidebar-ad-container">
					<img class="unblock-ad-img" src="{{asset('/images/unblock-ad-300250.jpg')}}"/>
					
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* Rectangle MVNerds 2.0 */
					google_ad_slot = "3578997199";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>	
				</div>
				
				{# PMRI Blocks - Nouvelles listes et listes les plus téléchargées #}
				<div class="block">
					<div class="header">
						<h3>Pimp My Recommended Items</h3>
					</div>
					<div class="body">
						<ul class="nav nav-tabs" id="myTab">
							<li class="active"><a href="#lastest-pmri">{{'Sidebar.PMRI.new-lists' | trans}}</a></li>
							<li><a href="#most-dl-pmri">{{'Sidebar.PMRI.most-dl' | trans}}</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="lastest-pmri">
								{% include 'MVNerdsSiteBundle:Front:pmri_sidebar_list.html.twig' with {'item_build_list': lastest_items_builds} %}
							</div>
							<div class="tab-pane" id="most-dl-pmri">
								{% include 'MVNerdsSiteBundle:Front:pmri_sidebar_list.html.twig' with {'item_build_list': popular_items_builds} %}
							</div>
						</div>
					</div>
					<div class="footer">
						<a href="{{ path('pmri_list') }}">{{'Sidebar.see-more' | trans}}</a>
					</div>
				</div>
				
				{# Block de présentation du module de comparateur de champions #}
				{% include 'MVNerdsSiteBundle:Front:champion_benchmark_sidebar_block.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}