{% for one_news in news %}
	<div class="news-block">
		<h2><a href="{{ path('news_detail', {'slug': one_news.getSlug()}) }}">{{ one_news.getTitle() }}</a></h2>
			
		<div class="news-category">
			{{ one_news.getNewsCategory().getUniqueName()|trans }}
		</div>
		<div class="media">
			<a href="{{ path('news_detail', {'slug': one_news.getSlug()}) }}">
				<img src="{{ asset('medias/images/news/mini_' ~ one_news.getImageName() )}}" />
			</a>
		</div>

		<div class="preview">{{ one_news.getPreview() }}</div>
		<div class="more-news-infos">
			<i class="icon-comments-alt"></i> {{ one_news.getCommentCount() }} commentaire{% if one_news.getCommentCount() > 1 %}s{% endif %}
			<a href="{{ path('news_detail', {'slug': one_news.getSlug()}) }}" class="btn green small">Lire plus</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="separator"></div>
{% endfor %}
	
<a href="{{ path('news_index') }}" class="btn red read-more-news">Lire plus d'actualité <i class="icon-double-angle-right"></i></a>
	