<div id="footer">
	<div class="container">
		<div class="champions-block">
			<h5><i class="icon-screenshot"></i> {{'Footer.title' | trans}}</h5>
			{{ render(controller('MVNerdsSiteBundle:Front:renderFooterChampion')) }}
		</div>
		<div class="mvnerds-legal">
			<div class="row-fluid">
				<div class="span3 logo-container">
					<img src="{{ asset('medias/images/site/mvnerds-logo-nocolor.png') }}" />
				</div>
				<div class="span9 main-content">
					<strong>Most Valuable Nerds</strong> - {{'Site.slogan' | trans}}
					
					<p>
						{{'Footer.riot' | trans }}
					</p>
					
					<ul>
						<li><i class="icon-link"></i> <a href="{{path('site_contact_us')}}">{{'Footer.links.contact' | trans}}</a></li>
						<li><i class="icon-link"></i> <a href="{{path('site_privacy_policy')}}">{{'Footer.links.privacy-policy' | trans}}</a></li>
						<li><i class="icon-link"></i> <a href="{{path('site_terms_of_use')}}">{{'Footer.links.terms-of-use' | trans}}</a></li>
						<li><i class="icon-link"></i> <a href="{{path('site_legal')}}">{{'Footer.links.legal' | trans}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
