<div id="topbar">
	<div class="container">
		<ul class="menu">
			<li class="home">
				<a href="{{ path('site_homepage') }}" class="{% if module is not defined %}active{% endif %}"><i class="icon-home"></i></a>
			</li>
			<li>
				<a href="{{path('news_index')}}" class="{% if module is defined and module == 'news' %}active{% endif %}">Most Valuable News</a>
			</li>
			<li>
				<a href="{{ path('champion_benchmark_index') }}" class="{% if module is defined and module == 'champion_benchmark' %}active{% endif %}">Champion Benchmark</a>
			</li>
			<li>
				<a href="{{ path('pmri_list') }}" class="{% if module is defined and module == 'pmri' %}active{% endif %}">Pimp My Recommended Items</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Plus</strong></a>
				<ul class="dropdown-menu">
					<li>
						<div class="menu-header">Menu de navigation</div>
						<div class="row-fluid menu-detail">
							<div class="span4">
								<ul>
									<li class="header"><a href="#"><i class="icon-file"></i>Most Valuable News</a></li>
									<li class="header"><a href="{{ path('champion_benchmark_index') }}"><i class="icon-random"></i>Champion Benchmark</a></li>
									<li class="header"><a href="{{ path('pmri_list') }}"><i class="icon-wrench"></i>Pimp my recommended items</a></li>
									<li><a href="{{ path('pmri_create') }}"><i class="icon-stop"></i> {{'Sidebar.pmri.create_list'|trans}}</a></li>
									<li><a href="{{ path('pmri_list') }}"><i class="icon-stop"></i> {{ 'Sidebar.pmri.view_list'|trans }}</a></li>
								</ul>
							</div>
								
							<div class="span4">
								<ul>
									<li class="header"><a href="{{path('lol_video_index')}}"><i class="icon-facetime-video"></i>LoL Video Center</a></li>
									{#<li class="header"><a href="#"><i class="icon-shopping-cart"></i> Skin Trade Place</a></li>#}
								</ul>
							</div>
								
							<div class="span4">
								<ul>
									<li class="header"><a href="#"><i class="icon-globe"></i> Most Valuable Nerds</a></li>
									<li><a href="{{path('users_list_index')}}"><i class="icon-stop"></i>{{ 'Topbar.members'|trans }}</a></li>
									{#<li><a href="#"><i class="icon-stop"></i> Aller sur les forums de discussions</a></li>
									<li><a href="#"><i class="icon-stop"></i> L'équipe League of Legends</a></li>#}
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</li>
		</ul>
			
		<ul class="right-container">
			<li class="alert">
				<a href="#" class="unread"><i class="icon-info-sign"></i></a>
			</li>
			{#<li class="notification">
				<i class="icon-exclamation-sign"></i>
			</li>#}
			<li class="user-container">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<img src="{{ asset('medias/images/avatar/' ~ app.user.getUserAvatarName() ~ '.jpg') }}" /> 
					<a href="{{ path('summoner_profile_index') }}" class="username">{{ app.user.getUsername() }}</a> 
					
					<a href="{{ path('security_summoner_logout') }}" class="signout">Déconnexion</a>
				{% else %}
					<a href="{{ path('security_summoner_login', {'_locale': locale}) }}">se connecter</a> ou 
					<a href="{{ path('site_summoner_registration') }}">s'enregistrer</a>
				{% endif %}
			</li>
		</ul>
		
	</div>
		
	{{ render(controller('MVNerdsSiteBundle:Front:RenderAnnouncement')) }}
		
</div>
