<div class="row-fluid normal-line">
	{# Id de l'utilisateur #}
	<div class="span2">
		{{ user.getId() }}
	</div>
	{# Email de l'utilisateur #}
	<div class="span6">
		{{ user.getEmail() }}
	</div>
	{# Actions sur l'utilisateur #}
	<div class="span4">
		{# Voir la fiche de l'utilisateur de l'utilisateur #}
		<a href="#" class="tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="Voir la fiche de {{ user.getEmail() }} (bientôt)">
			<i class="icon-eye-open"></i>
		</a>
		{# Editer l'utilisateur #}
		<a href="{{ path('admin_users_edit', {'id': user.getId()}) }}" class="tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="Éditer">
			<i class="icon-edit"></i>
		</a>
		{# Supprimer l'utilisateur #}
		<a href="#" class="tooltip-anchor" rel="tooltip" data-placement="top" data-original-title="Supprimer l'utilisateur" data-toggle="modal" data-target="#delete-user-{{ user.getId() }}-modal">
			<i class="icon-remove"></i>
		</a>
	</div>

	<div id="delete-user-{{ user.getId() }}-modal" class="modal hide fade">
		<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	<h3>Supprimer l'utilisateur {{ user.getEmail() }}</h3>
	  	</div>
	  	<div class="modal-body">
	    	<p>Êtes-vous sûr de vouloir supprimer l'utilisateur ayant l'adresse électronique <strong>{{ user.getEmail() }}</strong> ?</p>
	  	</div>
	  	<div class="modal-footer">
	  		<img src="{{ asset('images/commons/loader16.gif') }}" class="hide"/>
	    	<a href="#" class="btn" data-dismiss="modal">Annuler</a>
	    	<a href="{{ path('admin_users_delete', {'id': user.getId()}) }}" class="btn btn-danger btn-confirm-delete">Confirmer</a>
	  	</div>
	</div>
</div>

