{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{'account_activation.p1'|trans({'%username%':user.getUsername()})}}{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> {{'account_activation.breadcrumbs'|trans({'%username%':user.getUsername()})}}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
			
		<h1>{{'account_activation.h1'|trans}}</h1>

		<p>
			{{'account_activation.p1'|trans({'%username%':user.getUsername()})}}
		</p>

		<p>
			{{'account_activation.p2'|trans}}
		</p>

		<div class="actions-buttons" style="text-align: center">
			Que voulez-vous faire ? <a href="{{ path('security_summoner_login') }}" class="btn large green">{{'account_activation.a.profile'|trans}}</a> <a href="{{ path('site_homepage', {'_locale': locale}) }}" class="btn large">{{'account_activation.a.index'|trans}}</a>
		</div>
	</div>
{% endblock %}