{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}Le compte {{ user.getUsername() }} est activé | MVNerds{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> Votre compte {{ user.getUsername() }} est activé
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		<div class="ad-container">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9866334543391692";
			/* MVNerds V1 */
			google_ad_slot = "3293122397";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
			
		<h1>{{'account_activation.h1'|trans}}</h1>

		<p>
			{{'account_activation.p1'|trans({'%username%':user.getUsername()})}}
		</p>

		<p>
			{{'account_activation.p2'|trans}}
		</p>

		<div class="actions-buttons" style="text-align: center">
			Que voulez-vous faire ? <a href="{{ path('security_summoner_login') }}" class="btn large green">{{'account_activation.a.profile'|trans}}</a> <a href="{{ path('site_homepage', {'_locale': locale}) }}" class="btn large">{{'account_activation.a.index'|trans}}</a>
		</div>
	</div>
{% endblock %}