{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{'account_activation_fail.title' | trans}}{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> {{'account_activation_fail.breadcrumbs' | trans}}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
			
		<h1>{{'account_activation_fail.h1'|trans}}</h1>

		{% if user is not defined %}
			<p>
				{{'account_activation_fail.p1'|trans({'%slug%':('<strong>'~slug~'</strong>'),'%activationcode%':('<strong>'~activation_code~'</strong>') })|raw}}
			</p>

			<p>
				{{'account_activation_fail.p2'|trans}}
			</p>
		{% else %}
			<p>
				{{'account_activation_fail.p3'|trans({'%username%':user.getUserName()})}}
			</p>
		{% endif %}
		<p>
			{{'account_activation_fail.p4'|trans}}
		</p>
	</div>
{% endblock %}
