{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}Enregistrement terminé - Création de compte | MVNerds{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('site_summoner_registration') }}">Créer un compte MVNerds</a> > Enregistrement terminé
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
		
		<h1>{{'registration_success.h1'|trans}}</h1>

		<p>
			{{'registration_success.p1'|trans({'%username%':user.getUsername(), '%usermail%':user.getEmail()})}}
		</p>

		<p>
			{{'registration_success.p2'|trans}}
		</p>

		<p>
			<strong style="color: #be3322">Important :</strong> {{'registration_success.warning'|trans}}
		</p>
	</div>
{% endblock %}