{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{ 'ResetPassword.title'|trans }} | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('medias/css/site/reset-password-index.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('security_summoner_login') }}">{{ 'ResetPassword.breadcrumbs'|trans }}</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_468x60.html.twig' %}
				
				<h1>{{ 'ResetPassword.h1'|trans }}</h1>
				
				<p>
					<strong>{{ user.getUsername() }}</strong>{{ 'ResetPassword.p1'|trans }}
				</p>
				
				<form action="{{ path('site_reset_password_save') }}" method="POST" {{ form_enctype(form) }}>
					<div class="form-errors">
						{{ form_errors(form) }}
					</div>
					
					<div class="field">
						{{ form_label(form.password) }}
						{{ form_widget(form.password) }}
						{{ form_errors(form.password) }}
					</div>
					
					<div class="field">
						{{ form_label(form.passwordConfirm) }}
						{{ form_widget(form.passwordConfirm) }}
						{{ form_errors(form.passwordConfirm) }}
					</div>
					
					<button class="btn green">{{ 'ResetPassword.send'|trans }}</button>
						
					{{ form_rest(form) }}
				</form>
			</div>
			
			<div class="span4 right-content">
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_300x250.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
