{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %} {{'ResetPassword.fail.title'|trans}} | MVNerds{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> {{'ResetPassword.fail.breadcrumbs'|trans}}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
		
		<h1>{{'ResetPassword.fail.h1'|trans}}</h1>

		{% if user is not defined %}
			<p>
				{{'ResetPassword.fail.p1'|trans({'%slug%':slug, '%activation_code%': activation_code}) | raw}}
			</p>

			<p>
				{{'ResetPassword.fail.p2'|trans}}
			</p>
		{% else %}
			<p>
				{{'ResetPassword.fail.p3'|trans({'%username%':user.getUsername(), '%email%': user.getEmail()})}}
			</p>
		{% endif %}
		<p>
			{{'ResetPassword.fail.p4'|trans}}
		</p>
	</div>
{% endblock %}