{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}Échec de la réinitialisation de mot de passe | MVNerds{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> Échec de la procédure de réinitialisation de votre mot de passe
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		{# PUBLICITÉ #}
		<div class="ad-container">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9866334543391692";
			/* MVNerds V1 */
			google_ad_slot = "3293122397";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		
		<h1>L'opération de changement de mot de passe a échoué</h1>

		{% if user is not defined %}
			<p>
				Vous avez tenter de changer le mot de passe du compte d'invocateur <strong>{{ slug }}</strong> avec le code d'activation <strong>{{ activation_code }}</strong>.
				L'opération a échoué, le nom du compte et / ou le code activation ne sont pas corrects.
			</p>

			<p>
				Pour une question de pratique, nous vous invitons à suivre le lien qui vous ait parvenu par email à l'adresse que vous avez renseigné. Si le problème
				persiste, n'hésitez pas à nous faire parvenir un email détaillant les manipulations que vous avez effectué, merci.
			</p>
		{% else %}
			<p>
				Invocateur {{ user.getUsername() }}, votre compte n'est pas encore activé. Vous avez normalement reçu un email à l'adresse {{ user.getEmail() }}
				vous invitant à activer votre compte en cliquant sur un lien.
			</p>
		{% endif %}
		<p>
			— L'équipe MVNerds
		</p>
	</div>
{% endblock %}