{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{'ResetPassword.success.title' | trans }} | MVNerds{% endblock %}

{% block topbar %}
	{% set module = 'registration' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('site_summoner_registration') }}">{{'registration.breadcrumbs' | trans }}</a> > {{'ResetPassword.success.breadcrumbs' | trans }}
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
		
		<h1>{{'ResetPassword.success.h1' | trans }}</h1>

		<p>
			{{'ResetPassword.success.p1' | trans({'%username%': user.getUsername() }) }}
		</p>
		
		<div class="actions-buttons" style="text-align: center">
			{{'ResetPassword.success.what-next' | trans }} <a href="{{ path('security_summoner_login') }}" class="btn large green">{{'account_activation.a.profile'|trans}}</a> <a href="{{ path('site_homepage', {'_locale': locale}) }}" class="btn large">{{'account_activation.a.index'|trans}}</a>
		</div>
	</div>
{% endblock %}
	