{% extends 'MVNerdsNewsBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/news/listing-page.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/news_handler/listing-page.js') }}"></script>
	<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
{% endblock %}

{% block body_main_content %}
	<div class="body-container list-news">
		<h1>Most Valuable News</h1>
		
		<p>{{'news_list.p1'|trans}}</p>
		
		<table id="news-table" class="table data-table">
			<thead>
				<tr>
					<th class="title">{{'news_list.table.th.title'|trans}}</th>
					<th class="author">{{'news_list.table.th.author'|trans}}</th>
					<th class="category">{{'news_list.table.th.category'|trans}}</th>
					<th class="creation-date">{{'news_list.table.th.create_date'|trans}}</th>
					<th class="actions"></th>
				</tr>
			</thead>
			<tbody>
				{% for new in news%}
					<tr class="news-row">
						<td><a href="{{path('news_detail', {slug: new.getSlug()})}}">{{new.getTitle()}}</a></td>
						
						<td><a href="#">{{new.getUser().getUsername()}}</a></td>
						
						<td>{{new.getNewsCategory().getLabel()}}</td>
						
						<td>{{'news_list.table.td.create_the'|trans}} {{new.getCreateTime('d/m/Y')}} {{'news_list.table.td.created_at'|trans}} {{new.getCreateTime('H:i:s')}}</td>
						
						<td>
							<a class="action view-action" href="{{path('news_detail', {slug: new.getSlug()})}}"><i class="icon-share"></i></a>
							
							<span class="view-count-block"><strong>{{'news_list.table.td.seen'|trans}}</strong> <span class="view-count">{{new.getView()}}</span> {{'news_list.table.td.times'|trans}}</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}