{% extends 'MVNerdsNewsBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/news/listing-page.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/news_handler/listing-page.js') }}"></script>
	<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
{% endblock %}

{% block body_main_content %}
	<div class="body-container list-news">
		<h1>Most Valuable News</h1>
		
		<p>Retrouvez ci-dessous toutes les news publiées sur MVNerds.</p>
		
		<table id="news-table" class="table data-table">
			<thead>
				<tr>
					<th class="title">Titre</th>
					<th class="author">Auteur</th>
					<th class="category">Catégorie</th>
					<th class="creation-date">Date de création</th>
					<th class="actions"></th>
				</tr>
			</thead>
			<tbody>
				{% for new in news%}
					<tr class="news-row">
						<td><a href="{{path('news_detail', {slug: new.getSlug()})}}">{{new.getTitle()}}</a></td>
						
						<td><a href="#">{{new.getUser().getUsername()}}</a></td>
						
						<td>{{new.getNewsCategory().getLabel()}}</td>
						
						<td>Le {{new.getCreateTime('d/m/Y')}} à {{new.getCreateTime('H:i:s')}}</td>
						
						<td>
							<a class="action view-action" href="{{path('news_detail', {slug: new.getSlug()})}}"><i class="icon-share"></i></a>
							
							<span class="view-count-block"><strong>Vu</strong> <span class="view-count">{{new.getView()}}</span> fois</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}