{% extends 'MVNerdsNewsBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/news/listing-page.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/news_handler/listing-page.js') }}"></script>
	<script src="{{ asset('js/launch_site/alerts-ajax-handler.js') }}"></script>
{% endblock %}

{% block body_main_content %}
	<div class="body-container list-news">
		<h1>Most Valuable News</h1>
		
		<p>{{'news_list.p1'|trans}}</p>
		
		<table id="news-table" class="table data-table">
			<tbody>
				{% for new in news %}
					<tr>
						<td class="header">
							<h2><a href="{{path('news_detail', {slug: new.getSlug()})}}">{{new.getTitle()}}</a></h2>
						</td>
						
						<td class="content">
							<p class="subtitle"><strong>{{'news_list.category'|trans}} {{new.getNewsCategory().getLabel()}}</strong> - {{'news_carousel.title.by'|trans}} <a href="#">{{new.getUser().getUsername()}}</a> {{'news_carousel.title.the'|trans}} {{new.getCreateTime('d/m/Y')}}</p>
							<p class="image-preview"><img src="{{ asset('images/news/'~ new.getImageName()) }}" /></p>
							<p class="preview">{{ new.getPreview() }}</p>
							<p class="actions">
								{{ new.getCommentCount() }} commentaire{% if new.getCommentCount() > 1 %}s{% endif %}
								<a href="{{path('news_detail', {slug: new.getSlug()})}}" class="btn-read-more">{{'news_list.read_more'|trans}}</a>
							</p>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}