{% extends 'MVNerdsNewsBundle::layout.html.twig' %}
	
{% block css %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% stylesheets 
			'css/news/view.css'
			'css/comment/comment.css'
			output='css/compiled/news-detail.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% else %}
		<link href="{{ asset('css/news/view.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/comment/comment.css') }}" rel="stylesheet" type="text/css">
	{% endif %}
{% endblock %}

{% block javascripts %}
		{{ parent() }}
		
		<script type="text/javascript">
			var loadMoreCommentRoute = 'news_load_more_comment',
				leaveCommentRoute = 'news_leave_comment',					
				objectSlug = '{{ news.getSlug() }}',
				userSlug = '';
				
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				userSlug = '{{ app.user.getSlug() }}';
			{% endif %}
		</script>
{% endblock %}
	
{% block body_main_content %}

	<div id="news-container">
		<h1 class="header">
			{{news.getTitle()}}
			<em>{{'Comments.posted_by'|trans}} <a href="{{ path('summoner_profile_view', {'userSlug': news.getUser().getSlug()}) }}" title="{{'Profil.consult_profile'|trans}} {{ news.getUser().getUsername }}">{{news.getUser().getUsername()}}</a> {{'news_carousel.title.the'|trans}} {{news.getCreateTime('d/m/Y')}} {{'news_carousel.title.at'|trans}} {{news.getCreateTime('H:i')}}</em>
		</h1>
		<div class="clearflix"></div>
		<p class="module-name">Module <strong>Most Valuable News</strong></p>
		
		{#<div class="pull-right">
			{% render 'MVNerdsVoteBundle:Vote:renderVoteBlock' with {'object': news} %}
		</div>#}
		
		<div class="content">{{news.getContent()|raw}}</div>
		
		{% render 'MVNerdsCommentBundle:Comment:renderLightComments' with {'object': news} %}
		
		<div class="news-footer">
			<p><a href="{{ path('news_index') }}"><i class="icon-chevron-left"></i> {{'news_view.back_to_list'|trans}}</a></p>
		</div>
	</div>
{% endblock %}