{% extends 'MVNerdsNewsBundle::layout.html.twig' %}
	
{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/news/view.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block body_main_content %}

	<div id="news-container">
		<h1 class="header">{{news.getTitle()}}</h1>
		
		<p class="posted-by"><em>Postée par {{news.getUser().getUsername()}} le {{news.getCreateTime('d/m/Y')}} à {{news.getCreateTime('H:i')}}</em></p>
		
		<div class="content">{{news.getContent() | raw}}</div>
	</div>
{% endblock %}