{% extends 'MVNerdsNewsBundle::layout.html.twig' %}
	
{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/news/view.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/comment/comment.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{% block body_main_content %}

	<div id="news-container">
		<h1 class="header">
			{{news.getTitle()}}
			<em>par <a href="{{ path('summoner_profile_view', {'userSlug': news.getUser().getSlug()}) }}" title="Consulter le profil de {{ news.getUser().getUsername }}"">{{news.getUser().getUsername()}}</a> le {{news.getCreateTime('d/m/Y')}} à {{news.getCreateTime('H:i')}}</em>
		</h1>
		<div class="clearflix"></div>
		<p class="module-name">Module <strong>Most Valuable News</strong></p>
				
		<div class="content">{{news.getContent()|raw}}</div>
		
		{#<div class="row-fluid prev-next-news">
			<div class="span5 news prev">
				<i class="icon-chevron-left"></i>
				<h6>Actualité précédente : NEWS_TITLE</h6>
			</div>
			<div class="span2"></div>
			<div class="span5 news next">
				<i class="icon-chevron-right"></i>
				<h6>Actualité suivante : NEWS_TITLE</h6>
			</div>
		</div>#}
		{% render 'MVNerdsCommentBundle:Comment:renderLightComments' with {'object': news} %}
		
		<div class="news-footer">
			<p><a href="{{ path('news_index') }}"><i class="icon-chevron-left"></i> Retourner à la liste des news</a></p>
		</div>
	</div>
{% endblock %}