<div id="forgot-password-modal" class="modal hide fade">
	<div class="index-content">
		<div class="modal-header">
			<i class="icon-remove" data-dismiss="modal"></i>
			<h3>{{'Login.ForgotPassword.modal.title'|trans}}</h3>
		</div>
		<div class="modal-body">
			<p>
				{{ 'Login.ForgotPassword.modal.intro.message'|trans }}
			</p>

			<p class="note"><i class="icon-info-sign"></i> {{ 'Login.ForgotPassword.modal.warning.message'|trans }}</p>

			<div class="error hide">
				{{ 'Login.ForgotPassword.modal.error.message'|trans }}
			</div>

			<form action="#" method="POST" id="forgot-password-form">
				<div class="field">
					<label for="email_field">{{ 'Login.ForgotPassword.modal.form.email'|trans }}</label> <input type="email" id="email_field" /> <i class="icon-ban-circle hide"></i>
				</div>
				<i class="icon-spin icon-spinner hide loader"></i> <button class="btn green submit-forgot-pwd-btn">{{ 'Login.ForgotPassword.modal.send.button'|trans }}</button>
			</form>
		</div>
	</div>
	<div class="success-content hide">
		<div class="modal-header">
			<i class="icon-remove" data-dismiss="modal"></i>
			<h3>{{ 'Login.ForgotPassword.modal.success.title'|trans }}</h3>
		</div>
		<div class="modal-body">
			<p>
				{{ 'Login.ForgotPassword.modal.success.message'|trans }}
			</p>

			<p>
				— L'équipe MVNerds
			</p>
		</div>
	</div>
	<div class="modal-footer"></div>
</div>