<div class="skins-container">
	<h2>Skins</h2>
	<div id="skin-list">
		{% for skin in champion.getSkins() %}
			{% if skin.getCost() != 'Classic' %}
				<div class="skin">
					<img src="{{asset('/medias/images/champions/skins/' ~ skin.getSlug() ~ '.png')}}" alt="image du skin {{skin.getName()}}"/>
					<div class="skin-infos">
						<strong>{{skin.getName()}}</strong><br />
						{{skin.getCost()}}
					</div>
					<div class="skin-detail">
						<h5>
							{{skin.getName()}} 
							<span class="cost">
								{% if skin.getCost() > 0 %}
									<i class="icon-rp"></i>
								{% endif %}
								{{ skin.getCost() }}
							</span>
						</h5>
						<div class="video-container">
							{% if skin.getVideo() != null %}
								{% set video = skin.getVideo() %}
								
								{% if video.getVideoType() == 'youtube' %}
									{% include 'MVNerdsVideoBundle:Videos:youtube.html.twig' with {'link': video.getLink(), 'width': 440, 'height': 230}%}
								{% elseif video.getVideoType() == 'dailymotion' %}
									{% include 'MVNerdsVideoBundle:Videos:dailymotion.html.twig' with {'link': video.getLink(), 'width': 440, 'height': 230} %}
								{% endif %}
							{% else %}
								<p>{{'champion.skin.video.unavailable' | trans }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
		