{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{ champion.getName() }} - Legends of Legends | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/champions/champion-detail.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/champions/champion-square-sprite.css') }}">
	{% else %}
		{% stylesheets 
			'medias/css/champions/champion-detail.css'
			'medias/css/champions/champion-square-sprite.css'
			output='css/champion-detail.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/champions/champion-detail.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/champions/champion-detail.js'
			output='js/champion-detail.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}
		
{% block topbar %}
	{% set module = 'champion' %}
		
	{{ parent() }}
{% endblock %}

{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('champion_benchmark_index') }}">Champions de League of Legends</a> > <a href="{{ path('champion_detail', {'slug': champion.getSlug()}) }}">{{ champion.getName() }}</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<div class="champion-square {{ champion.getSlug() }}"></div>
				<h1>{{ champion.getName() }}</h1>
				<div class="champion-title">
					{{ champion.getTitle() }}
					<div class="cost"><i class="icon-ip"></i> <strong>{{ champion.getIpCost() }}</strong> {{'General.or'|trans}} <i class="icon-rp"></i> <strong>{{ champion.getRpCost() }}</strong></div>
				</div>
				
				<div class="champion-tags">
					{% for champion_tag in champion.getChampionTags() %}
						<span class="tag">{{champion_tag.getTag().getLabel() }}</span>
					{% endfor %}
				</div>
				
				<div class="clearfix"></div>
				{# PUBLICITÉ #}
				<div class="ad-container">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* MVNerds 2.0 Contenu principal */
					google_ad_slot = "9485929999";
					google_ad_width = 468;
					google_ad_height = 60;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
				
				{% include 'MVNerdsChampionHandlerBundle:Champion:champion_statistics.html.twig' with {'champion': champion} %}
				
				<div class="lore-container">
					<h2>Histoire</h2>
					
					<p>{{ champion.getLore()|nl2br }}</p>
					<a href="#" class="read-more"><i class="icon-double-angle-down"></i></a>
				</div>

				{% include 'MVNerdsChampionHandlerBundle:Champion:champion_skin_list.html.twig' with {'champion': champion} %}
				
				{% render 'MVNerdsCommentBundle:Comment:renderComments' with {'object': champion, 'objectType': 'champion'} %}
			</div>
			
			<div class="span4 right-content">
				{% include 'MVNerdsChampionHandlerBundle:Champion:champion_skill_list.html.twig' with {'skills': champion.getSkills()} %}
				
				{# PUBLICITÉ #}
				<div class="sidebar-ad-container">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* Rectangle MVNerds 2.0 */
					google_ad_slot = "3578997199";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>	
				</div>
			</div>
		</div>
	</div>
{% endblock %}
	