<div class="row-fluid preview-header">
	<div class="span6">
		<h3>{{ champion.getName() }}</h3>
		<h5>{{ champion.getTitle() }}</h5>
	</div>
	<div class="span6">
		<div class="close-preview" data-dissmiss="{{ champion.getSlug() }}">Fermer <i class="icon-remove"></i></div>
		<p>
			<i class="icon-ip"></i> {{ champion.getIpCost() }} {{'General.or'|trans}} <i class="icon-rp"></i> {{ champion.getRpCost() }}
		</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<dl>
			<dt>{{'Champion_preview.stat.health'|trans}}</dt>
			<dd>{{ champion.getBaseHealth() }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusHealthPerLevel() }}</dd>

			<dt>{{'Champion_preview.stat.health_regen'|trans}}</dt>
			<dd>{{ champion.getBaseHealthRegen() * 5 }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusHealthRegenPerLevel() * 5 }}</dd>  

			<dt>{{'Champion_preview.stat.mana'|trans}}</dt>
			<dd>{{ champion.getBaseMana() }}</dd>	
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusManaPerLevel() }}</dd>  

			<dt>{{'Champion_preview.stat.mana_regen'|trans}}</dt>
			<dd>{{ champion.getBaseManaRegen() * 5 }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusManaRegenPerLevel() * 5 }}</dd>

			<dt>{{'Champion_preview.stat.armor'|trans}}</dt>
			<dd>{{ champion.getBaseArmor() }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusArmorPerLevel() }}</dd>

			<dt>{{'Champion_preview.stat.magic_resist'|trans}}</dt>
			<dd>{{ champion.getBaseMagicResist() }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusMagicResistPerLevel() }}</dd>

			<dt>{{'Champion_preview.stat.damage'|trans}}</dt>
			<dd>{{ champion.getBaseDamage() }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusDamagePerLevel() }}</dd>

			<dt>{{'Champion_preview.stat.attack_speed'|trans}}</dt>
			<dd>{{ champion.getBaseAttackSpeed() }}</dd>
			<dt class="bonus">{{'Champion_preview.stat.bonus_per_level.label'|trans}}</dt>
			<dd class="bonus">{{ champion.getBonusAttackSpeedPerLevel() }}</dd>

			<dt>{{'Champion_preview.stat.range'|trans}}</dt>
			<dd>{{ champion.getAttackRange() }}</dd>

			<dt class="last-child">{{'Champion_preview.stat.movement_speed'|trans}}</dt>
			<dd>{{ champion.getMoveSpeed() }}</dd>
		</dl>
			
		<p class="indication">{{'Champion_preview.stat.indication.part1'|trans}} {{ champion.getName() }} {{'Champion_preview.stat.indication.part2'|trans}}.</p>
	</div>
	<div class="span6 right-side">
		<a href="{{ path('champion_detail', {'slug': champion.getSlug()}) }}">En savoir plus sur {{ champion.getName() }}</a>
		<a href="#" class="btn-action-champion-preview btn-add-to-list" data-champion-slug="{{ champion.getSlug() }}">Ajouter à la liste</a>
		<div class="champion-portrait {{ champion.getSlug() }}"></div>
	</div>
</div>
