<li class="champion {{ champion.getTagsToString() }}" id="{{ champion.getSlug() }}" data-name="{{ champion.getName() | lower }}" >
	
	<div class="portrait">
		<img src="{{ asset('medias/images/champions/square100/' ~ champion.getSlug() ~ '.png') }}" class="champion-square" />
		<div class="champion-name">{{ champion.getName() }}</div>
	</div>
	<div class="preview hide">
		{% include 'MVNerdsChampionHandlerBundle:ChampionBenchmark:champion_benchmark_index_champion_preview.html.twig' %}
	</div>
</li>
