{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}Champion Benchark - Comparateur de champions{# TRADUCTION #} de League of Legends | MVNerds{% endblock %} 

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		{#<link rel="stylesheet" type="text/css" href="{{ asset('css/guide-tour.css') }}">#}
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/champions/champion-square-sprite.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/champions/champion-portrait-sprite.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/champions/champion-square25-sprite.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/champion-benchmark/champion-benchmark-index.css') }}">
	{% else %}
		{% stylesheets 
			'medias/css/champions/champion-square-sprite.css'
			'medias/css/champions/champion-portrait-sprite.css'
			'medias/css/champions/champion-square25-sprite.css'
			'medias/css/champion-benchmark/champion-benchmark-index.css'
			output='css/champion-benchmark-index.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.isotope.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/isotope-filter.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/champion-benchmark/champion-benchmark-index.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/jquery.isotope.min.js'
			'medias/js/site/isotope-filter.js'
			'medias/js/site/alerts-ajax-handler.js'
			'medias/js/champion-benchmark/champion-benchmark-index.js'
			output='js/champion-benchmark-index.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'champion_benchmark' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('champion_benchmark_index') }}">Champion Benchmark</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<h1>Champion Benchmark</h1>
		
		{# PUBLICITÉ #}
		<div class="ad-container">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9866334543391692";
			/* MVNerds V1 */
			google_ad_slot = "3293122397";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		
{% include 'MVNerdsChampionHandlerBundle:ActionBar:actionbar.html.twig' with {'is_comparison_page': false} %}
		
		<div id="champion-comparison">
			<div id="champion-comparison-center">
				<div id="champion-list">
					{% include 'MVNerdsChampionHandlerBundle:ChampionBenchmark:champion_benchmark_index_champion_grid.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
		