<li class="champion {{champion.getTagsToString()}}" id="{{ champion.getSlug() }}" data-name="{{ champion.getName() | lower }}" >
	
	<div class="portrait">
		<div class="champion-square {{ champion.getSlug() }}"></div>
		<div class="champion-name">{{ champion.getName() }}</div>
	</div>
	<div class="preview hide">
		{% include 'MVNerdsChampionHandlerBundle:Front:champion_preview.html.twig' %}
	</div>
	<div class="loader hide">
		<img src="{{ asset('/images/commons/loader32.gif') }}" />
	</div>
</li>
