<li class="champion" id="{{ champion.getSlug() }}">
	
	<div class="portrait">
		<a href="#" draggable="false">
			<img class="champion-image" src="{{ asset('images/champions/square/' ~ champion.getSlug() ~ '.png') }}" alt="image du champion {{ champion.getName() }}" />
		
			<div class="champion-name">{{ champion.getName() }}</div>
		</a>
	</div>
	<div class="preview hide">
		{% include 'MVNerdsChampionHandlerBundle:Front:champion_preview.html.twig' %}
	</div>
	<div class="loader hide">
		<img src="{{ asset('/images/commons/loader32.gif') }}" />
	</div>
</li>
