<li class="span1 champion-mini champion-isotope" id="{{ champion.getSlug() }}">
	<a href="#" class="thumbnail" draggable="false">
		<img class="champion-image" src="{{ asset('images/champions/square/' ~ champion.getSlug() ~ '.png') }}" alt="image du champion {{ champion.getName() }}" title = "{{ champion.getName() }}"/>
		
		<span class="champion-name">{{ champion.getName() }}</span>
	</a>
</li>