{% extends 'MVNerdsDataGrabberBundle::layout.html.twig' %}

{% block title %}Grabber des items - MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/data-grabber/champion.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-alert.js') }}"></script>
{% endblock %}

{% block content %}
	<h1>Grabber des items</h1>

	<div class="action-buttons right">
		<a href="{{ path('admin_items_index') }}" class="btn btn-large"><i class="icon-arrow-right"></i> <strong>Aller à la liste des items</strong></a>
		<a href="{{ path('DataGrabber_items_complete') }}" class="btn btn-success btn-large btn-submit-form pull-right"><i class="icon-download-alt icon-white"></i> <strong>Grab !</strong></a>
	</div>
	
	{% autoescape false %}
		{#{{ render_success_flash() }}#}
	{% endautoescape %}
	{% autoescape false %}
		{#{{ render_error_flash() }}#}
	{% endautoescape %}
	
	<div class="content-container">
		<div class="div12">
			<form  action="{{ path('DataGrabber_items_complete') }}" method="POST" {{ form_enctype(form) }}>
				{{ form_widget(form) }}

				<input type="submit" class="submit-form hidden" />
			</form>
		</div>
	</div>
{% endblock %}