<div id="link-lol-account-modal" class="modal hide fade">
	<div class="modal-header">
		<h3>{{ 'profile_index.game_account.modal.title'|trans }}</h3>
	</div>
	<div class="modal-body">
		<div class="step">
			{% if game_account != null %}
				{% include 'MVNerdsProfileBundle:Modal:link_lol_accout_modal_step_2.html.twig' with {'activation_code': game_account.getActivationCode(), 'summoner_name': game_account.getSummonerName()} %}
			{% else %}
				<p>
					{{ 'profile_index.game_account.modal.intro'|trans }}
				</p>

				<h4></h4>

				<p>
					{{ 'profile_index.game_account.modal.step1.text'|trans }}
				</p>

				<p class="note">
					<i class="icon-warning-sign"></i> {{ 'profile_index.game_account.modal.step1.note'|trans }}
				</p>

				<p class="error hide"></p>
				<form action="#" method="POST">
					<div class="field">
						<label for="region-selector">{{ 'profile_index.game_account.modal.step1.region_label'|trans }}</label> 
						<select id="region-selector">
							<option value="euw">{{ 'profile_index.game_account.modal.step1.euw_label'|trans }}</option>
							<option value="eune">{{ 'profile_index.game_account.modal.step1.eune_label'|trans }}</option>
							<option value="na">{{ 'profile_index.game_account.modal.step1.na_label'|trans }}</option>
							<option value="br">{{ 'profile_index.game_account.modal.step1.br_label'|trans }}</option>
						</select>
					</div>

					<div class="field">
						<label for="lol-summoner-name">{{ 'profile_index.game_account.modal.step1.summoner_name_label'|trans }}</label>
						<input type="text" id="lol-summoner-name" />
					</div>
					<i class="icon-spin icon-spinner loader hide"></i> <button class="btn green disabled btn-check-lol-account-existence">{{ 'profile_index.game_account.modal.step1.check_btn'|trans }}</button>
				</form>
			{% endif %}
		</div>
	</div>						
</div>