<h4>{{ 'profile_index.game_account.modal.step2.title'|trans }}</h4>

<p>
	{{ 'profile_index.game_account.modal.step2.text.1'|trans }} <strong>{{ summoner_name }}</strong>,
	{{ 'profile_index.game_account.modal.step2.text.2'|trans }}
</p>

<div class="activation-code-container">
	<span id="activation-code">{{ activation_code }}</span>
	{#<span class="copy-to-clipboard-btn btn small blue">Copier dans le presse-papier</span>#}
</div>

<h4>{{ 'profile_index.game_account.modal.step3.title'|trans }}</h4>

<p>
	{{ 'profile_index.game_account.modal.step3.text'|trans }}
</p>

<div class="end-of-process-action">
	<p class="error hide"></p>
	
	<p>
		<i class="icon-spin icon-spinner loader hide"></i> 
		<a href="#" class="btn large green link-account-last-check">{{ 'profile_index.game_account.modal.step3.end_link_process_btn'|trans }}</a>
		<a href="#" class="btn no-color small cancel-link-account-process-btn">{{ 'profile_index.game_account.modal.step3.cancel_process_btn'|trans }}</a>
	</p>
</div>
