{% extends 'MVNerdsAdminBundle:News:layout.html.twig' %}

{% block title %}Administration des news - MVNerds{% endblock %}

{% block css %}
	{{ parent() }}
	<!-- markItUp! skin -->
	<link rel="stylesheet" type="text/css" href="{{ asset('markitup/skins/markitup/style.css') }}">
	
	<link rel="stylesheet" type="text/css" href="{{ asset('markitup/bbcode/style.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- markItUp! -->
	<script type="text/javascript" src="{{ asset('markitup/jquery.markitup.js') }}"></script>
	<!-- markItUp! toolbar settings -->
	<script type="text/javascript" src="{{ asset('markitup/bbcode/set.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('js/news_handler/init-bbcode.js') }}"></script>
	
{% endblock %}

{% block content %}
	<h1>Créer une news</h1>

	<div class="action-buttons">
		<a href="{{ path('admin_news_index') }}" class="btn btn-large"><i class="icon-arrow-left"></i> <strong>Retourner à la liste</strong></a>
		<a href="#" class="btn btn-success btn-large pull-right btn-submit-form"><i class="icon-ok icon-white"></i> <strong>J'ai terminé</strong></a>
	</div>

	<div class="content-container">
		<form action="{{ path('admin_news_create') }}" method="POST" {{ form_enctype(form) }}>
			
			{% include 'MVNerdsAdminBundle:News:inner_form_save_news.html.twig' %}
		</form>
	</div>
{% endblock %}