{% extends 'MVNerdsAdminBundle:News:layout.html.twig' %}

{% block title %}Administration des news - MVNerds{% endblock %}

{% block content %}
	<h1>Editer une news</h1>

	<div class="action-buttons">
		<a href="{{ path('admin_news_index') }}" class="btn"><i class="icon-arrow-left"></i> <strong>Retourner à la liste</strong></a>
		<a href="#" class="btn btn-success btn-large pull-right btn-submit-form"><i class="icon-ok icon-white"></i> <strong>J'ai terminé</strong></a>
		<a href="{{ path('admin_news_index') }}" class="btn pull-right btn-danger"><strong>Annuler</strong></a>
	</div>

	<div class="content-container">
		<form action="{{ path('admin_news_edit', {'slug': news.getSlug()}) }}" method="POST" {{ form_enctype(form) }}>
			
			{{form_widget(form)}}
			
			<input type="submit" class="submit-form hide" />
		</form>
	</div>
{% endblock %}