{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block main_content %}
	<div class="container main-container border-top">
		<h1>{{'Footer.links.privacy_policy'|trans}}</h1>

		<h2>{{'Privacy_policy.h1'|trans}}</h2>
		<p>{{'Privacy_policy.p1'|trans}}</p>

		<h2>{{'Privacy_policy.h2'|trans}}</h2>
		<p>{{'Privacy_policy.p2'|trans}}</p>
	</div>
{% endblock %}
						