{% extends 'MVNerdsSiteBundle::layout.html.twig' %}
	
{% block main_content %}
	<div class="container main-container border-top">
		<h1>{{'Footer.links.terms_of_use'|trans}}</h1>

		<h2>{{'Terms_of_use.h1'|trans}}</h2>
		<p>{{'Terms_of_use.p1'|trans}}</p>

		<h2>{{'Terms_of_use.h2'|trans}}</h2>
		<p>{{'Footer.riot.p1'|trans}}<br />{{'Footer.riot.p2'|trans}}</p>
	</div>
{% endblock %}