{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}LoL Video Center - MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link href="{{ asset('medias/css/videos/list-page.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('medias/css/mvnerds/mvnerds-modal.css') }}" rel="stylesheet" type="text/css">
	{% else %}
		{% stylesheets 
			'medias/css/videos/list-page.css'
			'medias/css/mvnerds/mvnerds-modal.css'
			output='medias/css/compiled/lol-video-center-index.css'
			filter='yui_css'
			filter='cssembed'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/jquery.dataTables.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/videos/list-page.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/videos/publish-video.js') }}"></script>
	{% else %}
		{% javascripts
			'medias/js/bootstrap/bootstrap-tooltip.js'
			'medias/js/bootstrap/bootstrap-popover.js'
			'medias/js/bootstrap/bootstrap-modal.js'
			'medias/js/site/alerts-ajax-handler.js'
			'medias/js/jquery.dataTables.min.js'
			'medias/js/videos/list-page.js'
			'medias/js/videos/publish-video.js'
			output='medias/js/compiled/lol-video-center-index.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'lol_video_center' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('lol_video_index') }}">LoL Video Center</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<h1>LoL Video Center <a href="#" class="how-it-works-toggle"><span class="label red">comment ça marche ?</span></a></h1>
				
				<div class="how-it-works hide">
					<p>
						Joueurs de League of Legends, le LoL Video Center vous permet de partager vos vidéos préférés en rapport avec League of Legends.
					</p>
					<p>
						Postez des vidéos fun, utiles, ou ayant un quelconque rapport avec LoL !
					</p>
					
					<div class="separator"></div>
				</div>
				
				<table id="videos-table" class="table data-table">
					<thead>
						<tr>
							<th class="preview">Aperçu</th>
							<th class="title">Titre</th>
							<th class="category">Catégorie</th>
						</tr>
					</thead>
					<tbody>
						{# Contenu chargé en AJAX par DataTable #}
					</tbody>
				</table>
			</div>
			
			<div class="span4 right-content">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					{# Bouton de création #}
					<div class="block">
						<div class="footer red">
							<a href="#" id="video-publish-action">Publier une vidéo</a>
						</div>
					</div>
				
					<div class="block">
						<div class="footer blue">
							<a href="{{path('summoner_profile_index')}}#summoner-videos-list">Voir mes vidéos</a>
						</div>
					</div>
				{% endif %}
				
				<div class="block">
					<div class="header">
						<h3>{{ 'generic_listing_page.filter_options_title'|trans }}</h3>
					</div>
					<div class="body">
						<p>{{ 'generic_listing_page.sort_by'|trans }}</p>
						<ul id="sort-list">
							<li><a href="#" class="sort-link" data-option-value="0"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.oldest'|trans}}</a></li>
							<li><a href="#" class="sort-link selected" data-option-value="1"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.newest'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="2"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.updated'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="3"><i class=" icon-ok-sign"></i>{{'video_list_index.sort.title-asc'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="4"><i class=" icon-ok-sign"></i>{{'video_list_index.sort.title-desc'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="5"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.views'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="6"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.most-commented'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="7"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.most-voted'|trans}}</a></li>
							<li><a href="#" class="sort-link" data-option-value="8"><i class=" icon-ok-sign"></i>{{'item_build_list_index.sort.less-voted'|trans}}</a></li>
						</ul>
						
						<p>{{ 'generic_listing_page.search_by'|trans }}</p>
						<ul class="filters-list more-filter">
							<li id="filter-title">
								<label for="title-filter-input">{{'item_build_list_index.sort.filter-by-title'|trans}}</label>
								<input type="text" id="title-filter-input" class="input-mini"/>
							</li>
							
							<li id="filter-author">
								<label for="author-filter-input">{{'item_build_list_index.sort.filter-by-author'|trans}}</label>
								<input type="text" id="author-filter-input" class="input-mini"/>
							</li>
							
							<li id="filter-category">
								<label for="category-filter-input">{{'video_list_index.sort.filter-by-category'|trans}}</label>
								<select id="category-filter-input">
									<option value="" selected="selected"></option>
									{% for video_category in video_categories %}
										<option value="{{video_category.getUniqueName()}}">{{video_category.getUniqueName() | trans}}</option>
									{% endfor %}
								</select>
							</li>
							
							<li id="filter-search">
								<a href="#" class="btn green" id="search-filter-btn">{{ 'generic_listing_page.search_title'|trans }} <i class="icon-search icon-white"></i></a>
							</li>
						</ul>
					</div>
				</div>
					
				{# PUBLICITÉ #}
				{% include 'MVNerdsSiteBundle:Common:ad_300x250.html.twig' %}
					
				{% include 'MVNerdsVideoBundle:Modal:video_publish_modal.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
	