{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}{{ video.getTitle() }} - LoL Video Center | MVNerds{% endblock %}

{% block css %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<link href="{{ asset('medias/css/videos/video-detail.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('medias/css/mvnerds/mvnerds-modal.css') }}" rel="stylesheet" type="text/css">
	{% else %}

	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-modal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/videos/video-detail.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/videos/publish-video.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/report/report.js') }}"></script>
	{% else %}

	{% endif %}
{% endblock %}

{% block topbar %}
	{% set module = 'lol_video_center' %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('lol_video_index') }}">LoL Video Center</a> > <a href="{{ path('videos_detail', {'slug':video.getSlug()}) }}">{{ video.getTitle() }}</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<div class="row-fluid">
			<div class="span8 left-content">
				<h1>Vidéo "<span class="video-title">{{ video.getTitle() }}"</span></h1>
				
				{% include 'MVNerdsReportBundle:Report:detailed_report_block.html.twig' with {'object_type': 'video', 'can_report': can_report_video, 'object': video, 'report_motives': report_motives} %}
				
				{# PUBLICITÉ #}
				<div class="ad-container">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* MVNerds 2.0 Contenu principal */
					google_ad_slot = "9485929999";
					google_ad_width = 468;
					google_ad_height = 60;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
				
				<div class="video-player-container">
					{% if video_type == 'youtube' %}
						{% include 'MVNerdsVideoBundle:Videos:youtube.html.twig' with {'link': video.getLink()}%}
					{% elseif video_type == 'dailymotion' %}
						{% include 'MVNerdsVideoBundle:Videos:dailymotion.html.twig' with {'link': video.getLink()} %}
					{% endif %}
				</div>
				
				<div class="description-container">
					<h2>Description</h2>
					<p>
						{% if video.getDescription() == '' %}
							<i>{{ video.getUser().getUsername() }} n'a pas fourni de description.</i>
						{% else %}
							{{ video.getDescription()|nl2br }}
						{% endif %}
					</p>
				</div>
				
				{% render 'MVNerdsCommentBundle:Comment:renderComments' with {'object': video, 'objectType': 'video'} %}
			</div>
			
			<div class="span4 right-content">
				{% if can_edit %}
					{# Bouton d'édition #}
					<div class="block">
						<div class="footer blue">
							<a href="#" id="video-edit-action">{{ 'item_table.admin.edit'|trans }}</a>
						</div>
					</div>
				{% endif %}
					
				<div class="block">
					<div class="header">
						<h3>À propos</h3>
					</div>
					<div class="body">
						<div class="block-media">
							<img src="{{ asset('medias/images/avatar/' ~ video.getUser().getUserAvatarName()~ '.jpg') }}" />
							{% render 'MVNerdsVoteBundle:Vote:renderVoteBlock' with {'object': video, 'objectType': 'video'} %}
						</div>
						<div class="clearfix"></div>
						
						<div class="stats">
							<i class="icon-user"></i> 
							<strong><a href="{{ path('summoner_profile_view', {'userSlug': video.getUser().getSlug()}) }}" title="Consulter le profil de {{ video.getUser().getUsername }}">{{video.getUser().getUserName()}}</a></strong><br /> auteur
						</div>
						
						<div class="stats odd">
							<i class="icon-time"></i> 
							<strong>{{ video.getCreateTime('d/m/Y') }}</strong><br /> date de création
						</div>
						
						<div class="stats">
							<i class="icon-eye-open"></i> 
							<strong>{{ video.getView() }}</strong><br /> vues
						</div>
						
						<div class="stats odd">
							<i class="icon-comments-alt"></i> 
							<strong>{{ video.getCommentCount() }}</strong><br /> commentaires
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="footer">
						<a href="#">Aller sur le profil de l'auteur</a>
					</div>
				</div>
					
				{# PUBLICITÉ #}
				<div class="sidebar-ad-container">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* Rectangle MVNerds 2.0 */
					google_ad_slot = "3578997199";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>	
				</div>
				
				<div class="block">
					<div class="header">
						<h3>Dans la même catégorie</h3>
					</div>
					<div class="body">
						{% for related_video in related_videos %}
							<a href="{{path('videos_detail', {'slug': related_video.getSlug})}}" class="related-video-block">
								<img src="{{ related_video.getThumbnailUrl() }}" alt="aperçu de la video : {{ related_video.getTitle() }}"/>
								<div class="related-video-infos">
									<span class="title">{{ related_video.getTitle() }}</span>
									<span>De 
										{{ related_video.getUser().getUsername() }}
									</span>
									<span>{{ related_video.getView() }} vues, {{ related_video.getCommentCount() }} commentaires</span>
								</div>
							</a>
							
						{% else %}
							<p>Aucune vidéo liée n'a été trouvée</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% if can_edit %}
		{% include 'MVNerdsVideoBundle:Modal:video_publish_modal.html.twig' %}
	{% endif %}
{% endblock %}
	