
{% extends '::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href='{{ asset('medias/css/champions/champion-square36-sprite.css') }}' rel='stylesheet' type='text/css'>
	<link href='{{ asset('medias/css/mvnerds/mvnerds-modal.css') }}' rel='stylesheet' type='text/css'>
	<link href='{{ asset('medias/css/profile/link-account-invitation-modal.css') }}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
	{% block topbar %}
		{% if module is defined %}
			{% include 'MVNerdsSiteBundle:Common:topbar.html.twig' with {'module': module} %}
		{% else %}
			{% include 'MVNerdsSiteBundle:Common:topbar.html.twig' %}
		{% endif %}
	{% endblock %}
	
	<div class="container header border-bottom">
		
		{{ render(controller('MVNerdsSiteBundle:Front:RenderAnnouncement')) }}
		
		<div class="slogan">
			<img src="{{ asset('medias/images/site/mvnerds-logo.png') }}" />
			<p>
				<span class="brand"><strong>MOST VALUABLE NERDS</strong> - {{'Site.slogan' | trans}}</span><br />
				{{'Breadcrumbs.you-are-on' | trans}} <span class="location">{% block breadcrumbs %}<a href="{{ path('site_homepage') }}">{{'Breadcrumbs.home' | trans}}</a>{% endblock %}</span>
			</p>
		</div>
		<div class="social-container">
			<p>
				{# SWITCH DE LANGUE #}
				{% if locale == 'fr' %}
					<a href="{{ path('culture_switch_language', {'locale': 'en'}) }}" class="switch-locale"><span>english</span></a> 
				{% else %}
					<a href="{{ path('culture_switch_language', {'locale': 'fr'}) }}" class="switch-locale"><span>français</span></a> 
				{% endif %}
				{# FACEBOOK LINK #}
				<a href="https://www.facebook.com/mvnerds" class="facebook-link"><i class="icon-facebook"></i></a>
				{# TWITTER LINK #}
				<a href="https://twitter.com/MVNerds" class="twitter-link"><i class="icon-twitter"></i></a>
			</p>
		</div>
	</div>

	{% include 'MVNerdsSiteBundle:Common:champion-rotation.html.twig' %}

	{% block main_content %}{% endblock %}
	
	{% if app.user is not null %}
		{{ render(controller('MVNerdsProfileBundle:Profile:renderLinkGameAccountModal')) }}
	{% endif %}
		
	{% include 'MVNerdsSiteBundle:Common:footer.html.twig' %}
{% endblock %}