{% extends '::base.html.twig' %}

{% block title %}News League of Legends | MVNerds{% endblock %}

{% set locale = app.request.getLocale() %}

{% block css %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% stylesheets 
			'css/bootstrap.css'
			'css/normalize.css'
			'css/main.css'
			'css/launch_site/front.css'
			output='css/launch_site/news-layout.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% else %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('css/launch_site/front.css') }}">
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% javascripts
			'js/bootstrap/bootstrap-carousel.js'
			'js/google_analytics.js'
			output='js/compiled/news-layout.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% else %}
		<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-carousel.js') }}"></script>
	{% endif %}	
{% endblock %}
	 
{% block body %}
	<div id="wrapper">
		{% render 'MVNerdsLaunchSiteBundle:SideBar:renderSideBar' %}
			
		<div class="container main-container">
			<div class="header-container">

				<div class="row-fluid">
					<div class="span5">
						<a href="{{ path('launch_site_front', {'_locale': locale}) }}" class="logo-link">
							<div class="logo">
								<div class="back-home-sign">{{'Go_back_home.1'|trans}}<br /> {{'Go_back_home.2'|trans}}</div>
								<div id="brand">MOST <font color="#db4a38">V</font><font color="#bf5650">A</font><font color="#a46368">L</font><font color="#886f80">U</font><font color="#6c7b97">A</font><font color="#5087af">B</font><font color="#3594c7">L</font><font color="#19a0df">E</font> <em>NERDS</em></div>
							</div>
						</a>
					</div>
					
					<div class="span7">
						<h4>{{ 'Champion.rotate'|trans }} ({{ 'Champion.rotate.preseason'|trans }} - {{ 'Champion.rotate.week'|trans }} 5)</h4>
						<img src="{{ asset('images/free_champion_rotation/preseason_3_week_5.png') }}" />
					</div>
				</div>	
				
				<div class="switch-language-container">
					<span class="current-language-msg">{{'Switch_language.current.s1'|trans}}<br />{{'Switch_language.current.s2'|trans}}</span> 
					<span class="current-language">{% if locale == 'fr' %}français{% else %}english{% endif %}</span> 
					<span class="switch-language-msg">{{'Switch_language.switch.s1'|trans}}<br />{{'Switch_language.switch.s2'|trans}}</span>
					{% if locale == 'fr' %}
						<a href="{{ path('culture_switch_language', {'locale': 'en'}) }}">english</a>
					{% else %}
						<a href="{{ path('culture_switch_language', {'locale': 'fr'}) }}">français</a>
					{% endif %}
				</div>
				<div class="clearfix"></div>
				
				<div class="social-container">
					<p> {{'Social.follow_us_on'|trans}} <a href="https://twitter.com/MVNerds" target="_blank" class="twitter">Twitter <i class="icon-twitter"></i></a> {{'General.and'|trans}} <a href="http://www.facebook.com/mvnerds" target="_blank" class="facebook">Facebook <i class="icon-facebook-sign"></i></a>.</p>
				</div>
				
				<div class="ad-container">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9866334543391692";
					/* MVNerds V1 */
					google_ad_slot = "3293122397";
					google_ad_width = 728;
					google_ad_height = 90;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
				
				{% block header_footer %}{% endblock %}
			</div>

			{% block body_main_content %}{% endblock %}
				
			<div id="footer">
				{% include 'MVNerdsLaunchSiteBundle:Front:footer.html.twig' %}
			</div>
		</div>
	</div>
	
	
{% endblock %}
