{% extends 'MVNerdsLaunchSiteBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link href="{{ asset('css/launch_site/forgot-password.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_footer %}
	<div class="presentation-container">
		<div class="content">
			<div class="overview custom summoner-login">
				<h1>Mot de passe oublié ?</h1>
				
				<div class="error">
					{% if form.vars.errors|length > 0 %}
						{% include ':Form:render_form_errors.html.twig' with {'item': form} %}
					{% endif %}
					{% include ':Form:render_form_errors.html.twig' with {'item': form.email} %}
				</div>
				
				<form action="{{ path('launch_site_forgot_password') }}" method="POST" {{ form_enctype(form) }}>
					<div class="row-fluid">
						<div class="span3">
							{{ form_label(form.email) }}
						</div>
						<div class="span4">
							{{ form_widget(form.email) }}
						</div>
						<div class="span5">
							<button>Envoyer</button>
						</div>
					</div>
				
					{{ form_rest(form) }}
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}