<img src="{{ asset('images/avatar/anonymous.jpg') }}" class="sidebar-tooltip-anchor anonymous" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>{{"Sidebar.anonymous_user.tooltip.title"|trans}}</span>" />
<form class="only-active-show" id="sidebar-login-form" action="{{ path('security_summoner_login_check') }}" method="post">
	<h2>{{'Sidebar.anonymous.h2'|trans}}</h2>
	<input type="text" placeholder="{{'Sidebar.login.username.placeholder'|trans}}" id="username" name="_username" />
	<input type="password" placeholder="{{'Sidebar.login.password.placeholder'|trans}}" id="password" name="_password" /> <a href="#" class="btn-connection">Go</a>
	<input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">{{'Sidebar.login.remember_me.label'|trans}} |</label> <a href="{{ path('launch_site_forgot_password') }}">{{'Sidebar.login.forgot'|trans}}</a> 
	<a href="{{ path('site_summoner_registration') }}" class="btn-registration only-active-show">{{'Sidebar.register'|trans}}</a>
</form>

