<div id="sidebar">
	<div class="toggle-sidebar only-active-show"><i class="icon-chevron-left"></i></div>

	<div id="user-container">
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{% include 'MVNerdsLaunchSiteBundle:SideBar:logged_user_block.html.twig' %}
		{% else %}
			{% include 'MVNerdsLaunchSiteBundle:SideBar:anonymous_user_block.html.twig' %}
		{% endif %}
	</div>
	
	<ul class="first-ul">
		 <a href="{{ path('news_index') }}">
			 <li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>{{'Sidebar.most_valuable_news.tooltip.access_module'|trans}} Most Valuable News</span>">
				 <i class="icon-file"></i> <span class="only-active-show">Most Valuable News</span>
			 </li>
		 </a>
	</ul>
	
	<ul>
		 <a href="{{ path('champion_benchmark_index') }}">
			 <li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>{{'Sidebar.most_valuable_news.tooltip.access_module'|trans}} Champion Benchmark</span>">
				 <i class="icon-random"></i> <span class="only-active-show">Champions Benchmark</span>
			 </li>
		 </a>
	</ul>

	<ul>
		<a href="{{ path('pmri_list') }}">
			<li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>{{'Sidebar.most_valuable_news.tooltip.access_module'|trans}} Pimp My Recommended Items</span>">
				<i class="icon-wrench"></i> <span class="only-active-show">Pimp My Recommended Items</span>
			</li>
		</a>
		<li class="only-active-show"><a href="{{ path('pmri_create') }}"><i class="icon-stop"></i> {{'Sidebar.pmri.create_list'|trans}}</a></li>
		<li class="only-active-show"><a href="{{ path('pmri_list') }}" ><i class="icon-stop"></i> {{'Sidebar.pmri.view_list'|trans}}</a></li>
	</ul>
	
	{# <ul>
		<a href="#">
			<li class="header sidebar-tooltip-anchor" rel="tooltip" data-placement="right" data-original-title="<span class='sidebar-tooltip'>Se rendre sur la section dédiée à Most Valuable Nerds</span>">
				<i class="icon-group"></i> <span class="only-active-show">Most Valuable Nerds</span>
			</li>
		</a>
		<li class="only-active-show"><a href="#"><i class="icon-stop"></i> L'équipe League of Legends</a></li>
		<li class="only-active-show"><a href="#"><i class="icon-stop"></i> Nos patchs notes</a></li>
		<li class="only-active-show"><a href="#"><i class="icon-stop"></i> Signaler un bug</a></li>
	</ul> #}
</div>