<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}Guides, Builds and Tools for League of Legends - LoL | MVNerds{% endblock %}</title>
		<meta name="description" content="{{'Overview.content.p1'|trans}}">
		<meta name="viewport" content="width=device-width">
		{% block metas %}{% endblock %}
		
		<link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
		
		<link href='{{ asset('medias/css/bootstrap.css') }}' rel='stylesheet' type='text/css'>
		<link href='{{ asset('medias/css/mvnerds-bootstrap.css') }}' rel='stylesheet' type='text/css'>
		<link href='{{ asset('medias/css/mvnerds-topbar.css') }}' rel='stylesheet' type='text/css'>
		{% block css %}{% endblock %}
		
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
		
		<script type="text/javascript">var locale = '{{ app.request.getLocale() }}';</script>
		<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	</head>
	<body>
		<!--[if IE]>
			<p class="chromeframe" style="position: fixed;top:0; left:0;z-index:2000; width: 100%;margin:0;padding:0">{{'Comment_ie.1'|trans}}<a href="http://browsehappy.com/">{{'Comment_ie.2'|trans}}</a> {{'General.or'|trans}} <a href="http://www.google.com/chromeframe/?redirect=true">{{'Comment_ie.3'|trans}}</a> {{'Comment_ie.4'|trans}}</p>
		<![endif]-->

		{% block body %}
			
			{% include 'MVNerdsSiteBundle:TopBar:topbar.html.twig' %}
			
			<div class="container header">
				<div class="location-infos">
					<p>
						Actuellement, vous vous trouvez sur<br />
						<span class="location">Pimp My Recommended Items > Création</span>
					</p>
				</div>
				<div class="slogan">
					<p>
						MOST VALUABLE NERDS<br />
						Guides, Builds and Tools for League of Legends
					</p>
					
					<img src="{{ asset('medias/images/site/mvnerds-logo.png') }}" />
				</div>
			</div>
		
			<div class="container main-container">
				<div class="row-fluid">
					<div class="span8 left-content">
						<h1>Pimp my recommended items</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula cursus lacus sit amet consequat. Mauris eleifend mi in massa ultricies nec mattis risus egestas. Suspendisse malesuada lobortis nisl in laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacinia quam quis nisl elementum consequat. Etiam vel elit ante, ut dapibus quam. Ut vitae est risus. Vestibulum quam sapien, porttitor sed pulvinar ac, pharetra sed mi. Cras faucibus tellus eros. Nam adipiscing nulla a mi malesuada commodo. Etiam ac urna magna.</p>

						<p>Nam turpis leo, hendrerit vel volutpat in, rhoncus eget libero. Nunc vehicula rutrum ante eget aliquam. Curabitur nunc nisl, pulvinar eget varius in, vestibulum mattis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam a tellus a ipsum malesuada volutpat non sed nisl. Morbi accumsan scelerisque mi a imperdiet. Nam id magna eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam luctus metus quis ipsum consectetur vulputate. Aliquam dictum ornare metus, at viverra turpis pharetra vel.</p>
						<p><a href="#" class="btn">Bouton classique</a> <a href="#" class="btn red">Bouton classique</a> <a href="#" class="btn green">Bouton classique</a></p>
						<p><a href="#" class="mvnerds-btn">Bouton MVNerds</a> <a href="#" class="mvnerds-btn red">Bouton MVNerds</a> <a href="#" class="mvnerds-btn green">Bouton MVNerds</a></p>
						
						<h2>Pimp my recommended items</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula cursus lacus sit amet consequat. Mauris eleifend mi in massa ultricies nec mattis risus egestas. Suspendisse malesuada lobortis nisl in laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacinia quam quis nisl elementum consequat. Etiam vel elit ante, ut dapibus quam. Ut vitae est risus. Vestibulum quam sapien, porttitor sed pulvinar ac, pharetra sed mi. Cras faucibus tellus eros. Nam adipiscing nulla a mi malesuada commodo. Etiam ac urna magna.</p>

						<p>Nam turpis leo, hendrerit vel volutpat in, rhoncus eget libero. Nunc vehicula rutrum ante eget aliquam. Curabitur nunc nisl, pulvinar eget varius in, vestibulum mattis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam a tellus a ipsum malesuada volutpat non sed nisl. Morbi accumsan scelerisque mi a imperdiet. Nam id magna eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam luctus metus quis ipsum consectetur vulputate. Aliquam dictum ornare metus, at viverra turpis pharetra vel.</p>
						<p><a href="#" class="btn">Bouton classique</a> <a href="#" class="btn red">Bouton classique</a> <a href="#" class="btn green">Bouton classique</a></p>
						<p><a href="#" class="mvnerds-btn">Bouton MVNerds</a> <a href="#" class="mvnerds-btn red">Bouton MVNerds</a> <a href="#" class="mvnerds-btn green">Bouton MVNerds</a></p>
						
						<h2>Pimp my recommended items</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula cursus lacus sit amet consequat. Mauris eleifend mi in massa ultricies nec mattis risus egestas. Suspendisse malesuada lobortis nisl in laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacinia quam quis nisl elementum consequat. Etiam vel elit ante, ut dapibus quam. Ut vitae est risus. Vestibulum quam sapien, porttitor sed pulvinar ac, pharetra sed mi. Cras faucibus tellus eros. Nam adipiscing nulla a mi malesuada commodo. Etiam ac urna magna.</p>

						<p>Nam turpis leo, hendrerit vel volutpat in, rhoncus eget libero. Nunc vehicula rutrum ante eget aliquam. Curabitur nunc nisl, pulvinar eget varius in, vestibulum mattis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam a tellus a ipsum malesuada volutpat non sed nisl. Morbi accumsan scelerisque mi a imperdiet. Nam id magna eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam luctus metus quis ipsum consectetur vulputate. Aliquam dictum ornare metus, at viverra turpis pharetra vel.</p>
						<p><a href="#" class="btn">Bouton classique</a> <a href="#" class="btn red">Bouton classique</a> <a href="#" class="btn green">Bouton classique</a></p>
						<p><a href="#" class="mvnerds-btn">Bouton MVNerds</a> <a href="#" class="mvnerds-btn red">Bouton MVNerds</a> <a href="#" class="mvnerds-btn green">Bouton MVNerds</a></p>
					</div>
					<div class="span4 right-content">
						<ul>
							<li>Taille de pub standard</li>
							<li>300*250</li>
							<li>468*60</li>
							<li>728*90</li>
						</ul>
					</div>
				</div>
			</div>
		{% endblock %}
		
		{% block javascripts %}{% endblock %}
	</body>
</html>