{% set show_comment = true %}
{% if comment.getUserReportComments()|length > 0 %}
	{% set show_comment = false %}
{% endif %}

<div class="row-fluid">
	<div class="span2"></div>
	<div class="span8 comment-block" data-comment-id="{{ comment.getId() * 47 }}">
		<div class="row-fluid">
			<div class="span2">
				<p>
					<img src="{{ asset('images/avatar/' ~ comment.getUser().getUserAvatarName() ~ '.jpg') }}" />
				</p>
			</div>
			<div class="span10">
				{% if show_comment %}
					<p>{{ comment.getContent() }}</p>
				{% else %}
					<p class="reported-comment"><a href="#">Ce commentaire est masqué car il a été reporté plusieurs fois. Cliquez ici pour l'afficher.</a></p>
					<p class="reported hide">{{ comment.getContent() }}</p>
				{% endif %}
				<p class="posted-by">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<span class="report-container">
							{% if comment.didIReportThisComment(app.user) %}
								{% include 'MVNerdsCommentBundle:Common:report_success.html.twig' %}
							{% else %}
								<a href="#" class="report{% if show_comment == false %} hide{% endif %}" data-comment-id="{{ comment.getId() }}">Signaler ce message</a>
							{% endif %}
						</span> |
					{% endif %}
					Posté par <strong><a href="{{ path('summoner_profile_view', {'userSlug': comment.getUser().getSlug()}) }}" title="Consulter le profil de {{ comment.getUser().getUsername }}">{{ comment.getUser().getUsername() }}</a></strong> il y a ...</p>
			</div>
		</div>

	</div>
	<div class="span2"></div>
</div>