{% set show_comment = true %}
{% if comment.getUserReportComments()|length > 5 %}
	{% set show_comment = false %}
{% endif %}

<div class="row-fluid">
	<div class="span2"></div>
	<div class="span8 comment-block" data-comment-id="{{ comment.getId() * 47 }}">
		<div class="row-fluid">
			<div class="span2">
				<p>
					<img src="{{ asset('images/avatar/' ~ comment.getUser().getUserAvatarName() ~ '.jpg') }}" />
				</p>
			</div>
			<div class="span10">
				{% if show_comment %}
					<p>{{ comment.getContent()|nl2br }}</p>
				{% else %}
					<p class="reported-comment"><a href="#">{{'Comments.masked'|trans}}</a></p>
					<p class="reported hide">{{ comment.getContent()|nl2br }}</p>
				{% endif %}
				<p class="posted-by">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<span class="report-container">
							{% if comment.didIReportThisComment(app.user) %}
								{% include 'MVNerdsCommentBundle:Common:report_success.html.twig' %}
							{% else %}
								<a href="#" class="report{% if show_comment == false %} hide{% endif %}" data-comment-id="{{ comment.getId() }}">{{'Comments.signal'|trans}}</a>
							{% endif %}
						</span> |
					{% endif %}
					{{'Comments.posted_by'|trans}} <strong><a href="{{ path('summoner_profile_view', {'userSlug': comment.getUser().getSlug()}) }}" title="{{'Check the profile of'|trans}} {{ comment.getUser().getUsername }}">{{ comment.getUser().getUsername() }}</a></strong>,
					{% if comment.getCreateTime('d/m/Y') == date().format('d/m/Y') %}
						{{'Comments.today'|trans}}
					{% else %}
						{% if comment.getCreateTime('d/m/Y') == date('-1day').format('d/m/Y') %}
							{{'Comments.yesterday'|trans}}
						{%else %}
							{{'news_carousel.title.the'|trans}} {{ comment.getCreateTime('d/m/Y') }}
						{%endif %}
					{% endif %}
					 {{'news_carousel.title.at'|trans}} {{ comment.getCreateTime('H:i') }}
				</p>
			</div>
		</div>

	</div>
	<div class="span2"></div>
</div>