{% if need_ajax_load is defined and need_ajax_load %}
	<div class="row-player" id="{{ player.summoner_id }}">
		<i class="icon-spin icon-spinner player-loader"></i>
		<span class="summoner-name">{{ player.summoner_name  }}</span>
		<span class="league-label loading">{{'team_seeker.loading' | trans}}</span>
	</div>

	<script type="text/javascript">
		var region = '{{ region }}',
			teamTagOrName = '{{ team_tag_or_name }}',
			playerID = '{{ player.summoner_id }}';
	</script>
	<script type="text/javascript" src="{{ asset('medias/js/team-seeker/team-seeker-ajax-player-load.js') }}"></script>
	
{% else %}
	<div class="row-player" id="{{ player.summoner_id }}" data-solo-league="{{ player.ranked_solo_5x5_league }}">
		<img src="{{ asset('medias/images/league-medals/' ~ player.ranked_solo_5x5_league|lower ~ '.png' ) }}" />
		<span class="summoner-name">{{ player.summoner_name  }}</span>
		<span class="league-label">{{ player.ranked_solo_5x5_league|trans }}</span>
	</div>
{% endif %}
