{% extends 'MVNerdsSiteBundle::layout.html.twig' %}

{% block title %}Team Seeker - {{ 'team_seeker.title'|trans }} | MVNerds{% endblock %} 

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset('medias/css/team-seeker/team-seeker-index.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
		<script type="text/javascript" src="{{ asset('medias/js/site/alerts-ajax-handler.js') }}"></script>
		<script type="text/javascript" src="{{ asset('medias/js/team-seeker/team-seeker-index.js') }}"></script>

	{#{% if app.environment == 'dev' %}
	{% else %}
		{% javascripts
			'medias/js/site/alerts-ajax-handler.js'
			'medias/js/champion-benchmark/team-seeker-index.js'
			output='medias/js/compiled/team-seeker-index.js'
			filter='yui_js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}#}
{% endblock %}

{% block topbar %}
		
	{{ parent() }}
{% endblock %}
		
{% block breadcrumbs %}
	{{ parent() }}
	
	> <a href="{{ path('team_seeker_index') }}">Team Seeker</a>
{% endblock %}

{% block main_content %}
	<div class="container main-container border-top">
		<h1>Team Seeker</h1>
		
		{# PUBLICITÉ #}
		{% include 'MVNerdsSiteBundle:Common:ad_728x90.html.twig' %}
		
		<div id="team-seeker-container">
			
			<form action="#" id="team-seeker-form">
					<select id="team-seeker-region-selector">
						<option value="euw">EUW</option>
						<option value="eune">EUNE</option>
						<option value="na">NA</option>
					</select>
					
					<input type="text" id="team-seeker-input" placeholder="{{'team_seeker.placeholder' | trans}}" name="team-seeker-input"/>
					
					<button class="btn red disabled" id="team-seeker-submit"><i class="icon-search"></i></button>
			</form>
			
			<div class="loader-container hide">
				<i class="icon-spin icon-spinner"></i> {{'team_seeker.loading_wait' |trans}}
			</div>
			
			{# Block chargé en AJAX #}
			<div id="team-seeker-result">
				{{ 'team_seeker.hiw_text'|trans }}
			</div>
		</div>
	</div>
{% endblock %}
		