{% extends '::base.html.twig' %}

{% block title %}Guides, Builds and Tools for League of Legends - LoL | MVNerds{% endblock %}

{% set locale = app.request.getLocale() %}

{% block css %}
	{{ parent() }}
	
	{% if app.environment != 'dev' %}
		{% stylesheets 
			'css/bootstrap.css'
			'css/normalize.css'
			'css/main.css'
			'css/launch_site/front.css'
			filter='yui_css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% else %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('css/launch_site/front.css') }}">
	{% endif %}
	
	<style>
		iframe.twitter-follow-button {
			position: absolute;
			top: 195px;
			margin-left: 160px;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.environment != 'dev' %}
		<script type="text/javascript" src="{{ asset('/js/google_analytics.js') }}"></script>
	{% endif %}
		
	{# Facebook #}
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) 
			return;
		js = d.createElement(s); js.id = id;
		if (locale == 'en') {
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		} else {
			js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
		}
		fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));
	  </script>
	  
	  {#Twitter #}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
	 
{% block body %}
	<div id="wrapper">
		{% render 'MVNerdsLaunchSiteBundle:SideBar:renderSideBar' %}
			
		<div class="container main-container">
			<div class="header-container">

				<div class="row-fluid">
					<div class="span5">
						<a href="{{ path('launch_site_front', {'_locale': locale}) }}" class="logo-link">
							<div class="logo">
								<div class="back-home-sign">{{'Go_back_home.1'|trans}}<br /> {{'Go_back_home.2'|trans}}</div>
								<div id="brand">MOST <font color="#db4a38">V</font><font color="#bf5650">A</font><font color="#a46368">L</font><font color="#886f80">U</font><font color="#6c7b97">A</font><font color="#5087af">B</font><font color="#3594c7">L</font><font color="#19a0df">E</font> <em>NERDS</em></div>
							</div>
						</a>
					</div>
					
					<div class="span7">
						<h4>{{ 'Champion.rotate'|trans }} ({{ 'Champion.rotate.preseason'|trans }} 3 - {{ 'Champion.rotate.week'|trans }} 4)</h4>
						<img src="{{ asset('images/free_champion_rotation/preseason_3_week_4.png') }}" />
					</div>
				</div>	
				
				<div class="switch-language-container">
					<span class="current-language-msg">{{'Switch_language.current.s1'|trans}}<br />{{'Switch_language.current.s2'|trans}}</span> 
					<span class="current-language">{% if locale == 'fr' %}français{% else %}english{% endif %}</span> 
					<span class="switch-language-msg">{{'Switch_language.switch.s1'|trans}}<br />{{'Switch_language.switch.s2'|trans}}</span>
					{% if locale == 'fr' %}
						<a href="{{ path('culture_switch_language', {'locale': 'en'}) }}">english</a>
					{% else %}
						<a href="{{ path('culture_switch_language', {'locale': 'fr'}) }}">français</a>
					{% endif %}
				</div>
				<div class="clearfix"></div>
				
				<fb:like href="https://www.facebook.com/mvnerds" send="true" width="520" height="26" show_faces="false" font="trebuchet ms" style="position: absolute;top: 195px;display:inline-block;" data-layout="button_count"></fb:like>
				<a href="https://twitter.com/MVNerds" class="twitter-follow-button" data-show-count="true" data-lang="{{locale}}" style="display: inline-block"></a>
				<div class="social-container">
					<p></p>
					<p> {{'Social.follow_us_on'|trans}} <a href="https://twitter.com/MVNerds" target="_blank" class="twitter">Twitter <i class="icon-twitter"></i></a> {{'General.and'|trans}} <a href="http://www.facebook.com/mvnerds" target="_blank" class="facebook">Facebook <i class="icon-facebook-sign"></i></a>.</p>
				</div>
				
				{% block header_footer %}{% endblock %}
			</div>

			{% block body_main_content %}{% endblock %}
				
			<div id="footer">
				{% include 'MVNerdsLaunchSiteBundle:Front:footer.html.twig' %}
			</div>
		</div>
	</div>
	<div id="fb-root"></div>
{% endblock %}
