{% extends 'MVNerdsSkeletonBundle:Common:layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('medias/css/feed/create-feed.css') }}">
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript" src="{{ asset('medias/js/bootstrap/bootstrap-typeahead.js') }}"></script>
	<script type="text/javascript">
		hiddenSuperTagsInputID = '{{ form.feed_tags.vars.id }}';
	</script>
	<script type="text/javascript" src="{{ asset('medias/js/feed/create-feed.js') }}"></script>
{% endblock %}

{% block body %}
	{% set roll_back_route = path('site_homepage') %}

	{{ parent() }}
{% endblock %}
	
{% block main_content %}
	<div class="new-content-container">
		<h1>Partager un contenu</h1>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique odio sed justo bibendum, in faucibus turpis tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam erat orci, accumsan nec imperdiet nec, tincidunt sed risus. Maecenas mollis pretium nibh id suscipit. Vestibulum suscipit consectetur leo, eu rutrum augue egestas dignissim. Morbi purus nibh, pellentesque at augue eget, egestas interdum urna. Nam suscipit, urna vitae luctus rutrum, metus ipsum placerat turpis, quis commodo felis ipsum ac dolor. Nunc congue ornare semper. Duis in leo a ipsum lobortis consequat at a diam. Pellentesque sed nisl sollicitudin, pretium velit a, accumsan dui. Maecenas feugiat vitae nunc at dapibus.
		</p>
		
		{{ form_start(form) }}
			{{ form_errors(form) }}
			
			{# CHOIX DE LA LANGUE #}
			<div class="form-row">
				{{ form_label(form.lang, 'feed.create.form.language'|trans) }}
				{{ form_errors(form.lang) }}
				<div class="custom-selectbox-wrapper">
					{{ form_widget(form.lang) }}
					<div class="selectbox-widget">
						<span class="option-value">{{ form.lang.vars.choices.0.label }}</span>
						<i class="icon-chevron-down"></i>
					</div>
				</div>
			</div>
			
			{# CHOIX DU TYPE DE CONTENU #}
			<div class="form-row">
				{{ form_label(form.type_unique_name.unique_name, 'feed.create.form.type'|trans) }}
				{{ form_errors(form.type_unique_name.unique_name) }}
				<div class="custom-selectbox-wrapper">
					{{ form_widget(form.type_unique_name.unique_name) }}
					<div class="selectbox-widget">
						<span class="option-value">{{ form.type_unique_name.unique_name.vars.choices.0.label }}</span>
						<i class="icon-chevron-down"></i>
					</div>
				</div>
			</div>
		
			{# ASSOCIATION DES TAGS #}
			<div class="form-row">
				<label for="tags-input">Tags</label>
				<div class="tags-widget">
					<ul class="tags-container">
						<li class="search-field">
							<input type="text" id="tags-input" class="typeahead-anchor" data-provide="typeahead" data-minLength="0" data-source="{{ super_tags|json_encode() }}" placeholder="Choisissez au moins un tag" />
						</li>
					</ul>
				</div>
			</div>
			
			{# TITRE DU CONTENU #}
			<div class="form-row">
				{{ form_label(form.title, 'feed.create.form.title'|trans) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title) }}
			</div>
			
			{# LE CONTENU #}
			<div class="form-row">
				{{ form_label(form.content, 'feed.create.form.content'|trans) }}
				{{ form_errors(form.content) }}
				{{ form_widget(form.content, { 'attr': {'rows': 15} }) }}
			</div>
			
			{# BOUTTON DE SOUMISSION #}
			<div class="form-row">
				<input type="submit" value="{{ 'feed.create.form.submit_button'|trans }}" />
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}