{% extends 'MVNerdsSkeletonBundle::layout.html.twig' %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('medias/css/feed/create-page.css') }}">
{% endblock %}
	
{% block javascripts %}
	
	<script type="text/javascript">
		$(document).ready(function()
		{
			
		});
	</script>
{% endblock %}

{% block main_content %}
	<div class="new-content-container specific-content">
		<h1>Poster un contenu</h1>
		
		{{ form_start(form) }}
			{{ form_errors(form) }}
			
			<div class="form-row">
				{{ form_label(form.lang, 'feed.create.form.language'|trans) }}
				{{ form_errors(form.lang) }}
				<div class="custom-selectbox-wrapper">
					{{ form_widget(form.lang) }}
				</div>
			</div>
			
			<div class="form-row">
				{{ form_label(form.type_unique_name.unique_name, 'feed.create.form.type'|trans) }}
				{{ form_errors(form.type_unique_name.unique_name) }}
				<div class="custom-selectbox-wrapper">
					{{ form_widget(form.type_unique_name.unique_name) }}
				</div>
			</div>
		
			<div class="form-row">
				
			</div>
			
			<div class="form-row">
				{{ form_label(form.title, 'feed.create.form.title'|trans) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title) }}
			</div>
			
			<div class="form-row">
				{{ form_label(form.content, 'feed.create.form.content'|trans) }}
				{{ form_errors(form.content) }}
				{{ form_widget(form.content, { 'attr': {'rows': 15} }) }}
			</div>
			
			<div class="align-right">
				<input type="submit" value="{{ 'feed.create.form.submit_button'|trans }}" />
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}